Aikona.me Chat.json
{"updatedAt":"2026-03-02T06:38:29.976Z","createdAt":"2026-03-02T06:38:01.555Z","id":"8gnDlpPmudD9FKMb","name":"Aikona.me Chat","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"29e127c4-b6dd-4193-a276-cae5c7b2e8e4","authentication":"basicAuth","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"09c13812-2c48-44c8-aa8c-32230e16bfbc","name":"Webhook","webhookId":"29e127c4-b6dd-4193-a276-cae5c7b2e8e4","credentials":{"httpBasicAuth":{"id":"qlOq3bT14bwrnZwy","name":"Aikona Chat User"}}},{"parameters":{"assignments":{"assignments":[{"id":"e85775ef-dd09-46c1-863f-5348a46256d1","name":"message","value":"=🔥 Новая заявка с сайта AIKona!\n\n👤 Имя: {{ $json.body.name }}\n📱 Контакт: {{ $json.body.contact }}\n💬 Запрос: {{ $json.body.message }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,0],"id":"cc772335-61e0-49a3-b2c3-4e7a42f29218","name":"Edit Fields"},{"parameters":{"userId":"41156391","text":"={{ $json.message }}","additionalFields":{}},"type":"n8n-nodes-max.max","typeVersion":1,"position":[416,0],"id":"d2f79ddf-24f8-40e6-a96f-8f3e0f3d1be7","name":"Send a message","credentials":{"maxApi":{"id":"n1ISiPDDgzDMiTPg","name":"Max Sales Bot accout"}}}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Send a message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f55f49d8-de62-447c-b7bc-147448c98518","activeVersionId":"f55f49d8-de62-447c-b7bc-147448c98518","triggerCount":1,"shared":[{"updatedAt":"2026-03-02T06:38:01.555Z","createdAt":"2026-03-02T06:38:01.555Z","role":"workflow:owner","workflowId":"8gnDlpPmudD9FKMb","projectId":"rPoiFFCZqHU6mXAS"}],"activeVersion":{"updatedAt":"2026-03-02T06:38:18.354Z","createdAt":"2026-03-02T06:38:01.555Z","versionId":"f55f49d8-de62-447c-b7bc-147448c98518","workflowId":"8gnDlpPmudD9FKMb","nodes":[{"parameters":{"httpMethod":"POST","path":"29e127c4-b6dd-4193-a276-cae5c7b2e8e4","authentication":"basicAuth","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"09c13812-2c48-44c8-aa8c-32230e16bfbc","name":"Webhook","webhookId":"29e127c4-b6dd-4193-a276-cae5c7b2e8e4","credentials":{"httpBasicAuth":{"id":"qlOq3bT14bwrnZwy","name":"Aikona Chat User"}}},{"parameters":{"assignments":{"assignments":[{"id":"e85775ef-dd09-46c1-863f-5348a46256d1","name":"message","value":"=🔥 Новая заявка с сайта AIKona!\n\n👤 Имя: {{ $json.body.name }}\n📱 Контакт: {{ $json.body.contact }}\n💬 Запрос: {{ $json.body.message }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,0],"id":"cc772335-61e0-49a3-b2c3-4e7a42f29218","name":"Edit Fields"},{"parameters":{"userId":"41156391","text":"={{ $json.message }}","additionalFields":{}},"type":"n8n-nodes-max.max","typeVersion":1,"position":[416,0],"id":"d2f79ddf-24f8-40e6-a96f-8f3e0f3d1be7","name":"Send a message","credentials":{"maxApi":{"id":"n1ISiPDDgzDMiTPg","name":"Max Sales Bot accout"}}}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Send a message","type":"main","index":0}]]}},"authors":"AIKona me","name":"Version f55f49d8","description":"","autosaved":false},"tags":[]}