Aikona.me Chat Demo.json
{"updatedAt":"2026-03-02T06:38:40.509Z","createdAt":"2026-02-27T17:14:24.016Z","id":"Y1Feji6ndeNiSQ2LUUxxd","name":"Aikona.me Chat Demo","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"9249c0d0-ee9f-4342-aa23-8deba24b8ad7","authentication":"basicAuth","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"id":"932c0fcb-5a74-40cd-b1a3-e75762a504c6","name":"Webhook","webhookId":"9249c0d0-ee9f-4342-aa23-8deba24b8ad7","credentials":{"httpBasicAuth":{"id":"qlOq3bT14bwrnZwy","name":"Aikona Chat User"}}},{"parameters":{"assignments":{"assignments":[{"id":"e85775ef-dd09-46c1-863f-5348a46256d1","name":"message","value":"=🔥 Новая заявка с сайта AIKona!\n\n👤 Имя: {{ $json.body.name }}\n📱 Контакт: {{ $json.body.contact }}\n💬 Запрос: {{ $json.body.message }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[208,0],"id":"2d54ad49-a19a-4f16-8919-d199081e615b","name":"Edit Fields"},{"parameters":{"userId":"41156391","text":"={{ $json.message }}","additionalFields":{}},"type":"n8n-nodes-max.max","typeVersion":1,"position":[416,0],"id":"238f5c69-55b8-4735-878e-13072da82356","name":"Send a message","credentials":{"maxApi":{"id":"jZpTYv3jDNKbpIuw","name":"Max Demo Bot account"}}}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Send a message","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8df50706-1fdf-4391-b898-865b0dad76ec","activeVersionId":null,"triggerCount":1,"shared":[{"updatedAt":"2026-02-27T17:14:24.016Z","createdAt":"2026-02-27T17:14:24.016Z","role":"workflow:owner","workflowId":"Y1Feji6ndeNiSQ2LUUxxd","projectId":"rPoiFFCZqHU6mXAS"}],"activeVersion":null,"tags":[]}