Automated n8n workflow backup to GitHub with deletion tracking.json
{"updatedAt":"2026-02-14T20:00:22.763Z","createdAt":"2026-02-14T17:01:12.677Z","id":"vQhE8rG8Q1bBL5h1bv2UX","name":"Automated n8n workflow backup to GitHub with deletion tracking","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"638dcc28-8b20-40e6-81fd-96efec4d4111","name":"On clicking 'execute'","type":"n8n-nodes-base.manualTrigger","position":[720,752],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"8d513345-6484-431f-afb7-7cf045c90f4f","name":"Done","type":"boolean","value":true}]},"options":{}},"id":"287eabd3-013d-41cd-a9c3-ae71b8d26ef9","name":"Return","type":"n8n-nodes-base.set","position":[2960,872],"typeVersion":3.3},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{ $('Globals').item.json.repo.owner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Globals').item.json.repo.name }}","mode":"name"},"filePath":"={{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $json.binary.data.data }}","commitMessage":"=Fix workflow {{ $('Loop Over Items').item.json.name }}"},"id":"a0431fdb-41ff-4bf0-8618-c743d6be159e","name":"Create new file","type":"n8n-nodes-base.github","position":[2736,800],"webhookId":"93cca36a-a5f4-4919-b655-e0fa2cc2ca36","typeVersion":1,"credentials":{"githubApi":{"id":"p175okNXVu1CqBC3","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"={{ $('Globals').item.json.repo.owner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Globals').item.json.repo.name }}","mode":"name"},"filePath":"={{ $('Loop Over Items').item.json.name }}.json","fileContent":"={{ $json.binary.data }}","commitMessage":"=Edit workflow {{ $('Loop Over Items').item.json.name }}"},"id":"e0a9e1f0-bd40-4009-8945-24a264ddbf0d","name":"Edit existing file","type":"n8n-nodes-base.github","position":[2736,608],"webhookId":"286cabce-a3ec-4202-9d94-d005502d73cc","typeVersion":1,"credentials":{"githubApi":{"id":"p175okNXVu1CqBC3","name":"GitHub account"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":7}]}},"id":"4f529f31-26a2-4f19-b8f3-42ce583b11ad","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[720,944],"typeVersion":1.2},{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"={{ $('Globals').item.json.repo.owner }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Globals').item.json.repo.name }}","mode":"name"},"filePath":"={{ $('Loop Over Items').item.json.name }}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"d527bac6-971b-4be7-8481-97dd023e85e1","name":"Get file data","type":"n8n-nodes-base.github","position":[2064,704],"webhookId":"5cf07ee9-70c6-48bf-b370-534315f2d48e","typeVersion":1,"alwaysOutputData":true,"credentials":{"githubApi":{"id":"p175okNXVu1CqBC3","name":"GitHub account"}},"continueOnFail":true},{"parameters":{"assignments":{"assignments":[{"id":"6cf546c5-5737-4dbd-851b-17d68e0a3780","name":"repo.owner","type":"string","value":"kosinovv"},{"id":"452efa28-2dc6-4ea3-a7a2-c35d100d0382","name":"repo.name","type":"string","value":"n8n.aikona.me"}]},"options":{}},"id":"e6675677-07ac-48d9-a920-58065cc79d77","name":"Globals","type":"n8n-nodes-base.set","position":[944,848],"typeVersion":3.4},{"parameters":{"url":"https://n8n.aikona.me/api/v1/workflows","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1168,848],"id":"dd633727-4553-493e-a8d4-bf40d17047ba","name":"HTTP Request","credentials":{"httpHeaderAuth":{"id":"1jUN9aT0FJKNlVyX","name":"n8n Auth account"}}},{"parameters":{"conditions":{"options":{"version":1,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"9619a55f-7fb1-4f24-b1a7-7aeb82365806","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}],"combinator":"and"},"options":{}},"id":"63859d24-34b7-4545-a3fb-fe45b3678cef","name":"If file exists","type":"n8n-nodes-base.if","position":[2288,704],"typeVersion":2},{"parameters":{"fieldToSplitOut":"data","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[1392,848],"id":"169f795d-4b3f-4b2c-968f-90a25f48b550","name":"Split Out"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1616,848],"id":"053264ab-e99e-41d5-94a5-c219446fd9e9","name":"Loop Over Items"},{"parameters":{"jsCode":"const obj = $('Loop Over Items').first().json; \nconst buffer = Buffer.from(JSON.stringify(obj));\nreturn { binary: { data: buffer } };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2512,800],"id":"491329d3-95b3-42cf-a29c-f1741c6e96e6","name":"Code in JavaScript"},{"parameters":{"jsCode":"const obj = $('Loop Over Items').first().json; \nconst buffer = Buffer.from(JSON.stringify(obj));\nreturn { binary: { data: buffer } };"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2512,608],"id":"ea437fc0-ffc7-48b3-a208-576e8e269030","name":"Code in JavaScript1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"87cc7d54-a5f9-4e3b-bdc8-5612fdf9fd8a","leftValue":"={{ $json.isArchived }}","rightValue":false,"operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1840,776],"id":"80d47f2b-ec8a-49e7-9c9f-0399bddfc7ba","name":"Is Not Archived"}],"connections":{"Return":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Globals":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Get file data":{"main":[[{"node":"If file exists","type":"main","index":0}]]},"Create new file":{"main":[[{"node":"Return","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Globals","type":"main","index":0}]]},"Edit existing file":{"main":[[{"node":"Return","type":"main","index":0}]]},"On clicking 'execute'":{"main":[[{"node":"Globals","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"If file exists":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}],[{"node":"Code in JavaScript","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Is Not Archived","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Create new file","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Edit existing file","type":"main","index":0}]]},"Is Not Archived":{"main":[[{"node":"Get file data","type":"main","index":0}],[{"node":"Return","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateId":"5898","templateCredsSetupCompleted":true},"pinData":{},"versionId":"cf2dc39b-bcbb-475c-ab46-90f2b7749f77","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-14T17:01:12.677Z","createdAt":"2026-02-14T17:01:12.677Z","role":"workflow:owner","workflowId":"vQhE8rG8Q1bBL5h1bv2UX","projectId":"rPoiFFCZqHU6mXAS"}],"activeVersion":null,"tags":[]}