Find AliExpress affiliate products via Telegram with OpenAI and Decodo.json
{"updatedAt":"2026-02-18T09:37:59.918Z","createdAt":"2026-02-18T09:36:11.056Z","id":"WBhIQg1ChgtUpV22RU_pV","name":"Find AliExpress affiliate products via Telegram with OpenAI and Decodo","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message","callback_query"],"additionalFields":{}},"id":"7f079fe2-1137-4992-b14e-24330966e124","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","position":[464,1104],"webhookId":"25eec435-bf7b-4c31-b104-6c9b14ddb6ab","typeVersion":1.2,"credentials":{"telegramApi":{"id":"MMeCtmcoQYLXQnPZ","name":"Telegram Prod Bot account"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"c8246e95-f69d-41be-98d2-76249ef79ed2","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.result.status }}","rightValue":"left"}]},"options":{}},"id":"7a8820af-a1dd-4502-8790-1a38e62ecb48","name":"If2","type":"n8n-nodes-base.if","position":[2160,624],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"or","conditions":[{"id":"14a0a153-4f9c-4928-9406-6c773f1d2c95","operator":{"type":"string","operation":"startsWith"},"leftValue":"={{ $('Telegram Trigger').item.json.message.text }}","rightValue":"תמצא לי"},{"id":"cdc7381c-24de-441f-8552-b357cd36db70","operator":{"type":"string","operation":"startsWith"},"leftValue":"={{ $('Telegram Trigger').item.json.message.text }}","rightValue":"תחפש לי"},{"id":"048e53dc-bcba-476f-a650-93c27fa155ce","operator":{"type":"string","operation":"startsWith"},"leftValue":"={{ $('Telegram Trigger').item.json.message.text }}","rightValue":"חפש לי"},{"id":"b0e935a4-0e71-4a1e-9a38-58e799172b9a","operator":{"type":"string","operation":"startsWith"},"leftValue":"={{ $('Telegram Trigger').item.json.message.text }}","rightValue":"מצא לי"},{"id":"a47a4cf9-3ffc-4445-87cd-604359ff6f94","operator":{"type":"string","operation":"startsWith"},"leftValue":"={{ $('Telegram Trigger').item.json.message.text }}","rightValue":"תשלח לי"},{"id":"22cb197b-b0cf-45dc-a07b-63727181c85f","operator":{"type":"string","operation":"startsWith"},"leftValue":"={{ $('Telegram Trigger').item.json.message.text }}","rightValue":"שלח לי"}]},"options":{}},"id":"85cf82ed-c50d-45d6-89b4-aa6cebb7fead","name":"If4","type":"n8n-nodes-base.if","position":[2384,528],"typeVersion":2.2},{"parameters":{"jsCode":"const data = $input.all();\n// Check if there is at least one item with code 200\nconst hasSuccess = data.some(item => \n  item.json.aliexpress_affiliate_link_generate_response?.resp_result?.resp_code === 200\n);\nif (hasSuccess) {\n  return data;\n} else {\n  return [{ json: { result: 2 } }];\n}"},"id":"0a32a3b9-0932-47cb-b0ca-61e44f4ee88f","name":"Code in JavaScript","type":"n8n-nodes-base.code","position":[4720,352],"typeVersion":2},{"parameters":{"modelId":{"__rl":true,"mode":"list","value":"gpt-5.2","cachedResultName":"GPT-5.2"},"responses":{"values":[{"content":"={{ $json.message.text }}"},{"role":"system","content":"=## **Role:**\nAutomatic moderator for groups - checks message content and prevents inappropriate content.\n\n---\n\n## **Objective:**\nIdentify requests or content related to actual illegal activity, sexual content, or links, and return a polite and clear rejection message.\n\n---\n\n## **Context & Assumptions:**\n- The context: WhatsApp/Telegram group\n- \"Illegal\" includes: drugs, real weapons, financial fraud, money laundering, incitement to violence, selling prescription drugs without a license\n- \"Sexual\" includes: pornography, sexual harassment, sharing inappropriate images, explicit sexual requests\n- \"Links\" includes: any URL (http://, https://, www., or URL of any kind)\n- **Looking for legitimate consumer products** (including imitations/fakes of brands) **Allowed** - This is a normal buying activity\n- Borderline content (e.g. light jokes) will **not** be considered problematic unless explicitly stated\n- Language: Hebrew\n\n---\n\n## **Input Format:**\n```\nUser message: [free text]\n```\n\n---\n\n## **Output Format:**\nIf the content is **correct:**\n```json\n{\n  \"status\": \"approved\",\n  \"message\": null\n}\n```\n\nIf the content is **problematic:**\n```json\n{\n  \"status\": \"rejected\",\n  \"reason\": \"[short reason]\",\n  \"message\": \"Your message is not appropriate for the group. We do not allow [topic]. Thank you for understanding.\"\n}\n```\n\n---\n\n## **Rules:**\n1. **Output language:** Hebrew only\n2. **Tone:** Polite, non-judgmental, but firm\n3. **It is forbidden:** to invent reasons, to label normal content as problematic (false positive), to extend transition beyond the need\n4. **Accuracy:** If there is any doubt – **Affirm** (a good lock from a bad engine)\n5. **No explanations beyond what is required** - a short and to the point message\n6. **Any link of any kind = automatic rejection**\n7. **Searching/buying consumer products (also imitations) = approved** - only actual criminal activity is rejected\n\n---\n\n## **Success Criteria:**\n✅ Accurate identification of real problematic content only  \n✅ Identification and blocking of each link  \n✅ **Legitimate product search confirmation** (including replica/fakes)  \n✅ A clear and polite message to the user  \n✅ There are no false positives (correct content is not rejected)  \n✅ The JSON output is correct and ready for use in n8n\n\n---\n\nOutput: {\"status\": \"approved\", \"message\": null}"}]},"builtInTools":{},"options":{}},"id":"62406aad-2e3b-4932-8d34-f8700eb031a0","name":"Message a model","type":"@n8n/n8n-nodes-langchain.openAi","position":[1136,720],"typeVersion":2,"credentials":{"openAiApi":{"id":"XuZr5QFsDpxldUrH","name":"Polza.ai account"}}},{"parameters":{"jsCode":"// Extract the text from the structure\nconst rawText = $input.first().json.output[0].content[0].text;\n\n// Remove markdown and JSON compression\nconst cleanText = rawText.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\nconst result = JSON.parse(cleanText);\n\n// return the result\nreturn result;"},"id":"3cbbfb07-44a8-4f9a-a6a8-c86dae9a12f1","name":"Code in JavaScript1","type":"n8n-nodes-base.code","position":[1488,720],"typeVersion":2},{"parameters":{"conditions":{"options":{"version":3,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"111deefc-310e-4300-8317-7f5432fe3ad3","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.callback_query.data }}","rightValue":""}]},"options":{}},"id":"c9f1839f-b180-491a-9f51-26228bc95f80","name":"If","type":"n8n-nodes-base.if","position":[912,1104],"typeVersion":2.3},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"c8246e95-f69d-41be-98d2-76249ef79ed2","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.result.status }}","rightValue":"left"}]},"options":{}},"id":"8011d518-88bb-433a-95ab-43573974da5e","name":"If3","type":"n8n-nodes-base.if","position":[1712,1296],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"or","conditions":[{"id":"14a0a153-4f9c-4928-9406-6c773f1d2c95","operator":{"type":"string","operation":"startsWith"},"leftValue":"={{ $('Telegram Trigger').item.json.callback_query.message.reply_to_message.text }}","rightValue":"תמצא לי"},{"id":"cdc7381c-24de-441f-8552-b357cd36db70","operator":{"type":"string","operation":"startsWith"},"leftValue":"={{ $('Telegram Trigger').item.json.callback_query.message.reply_to_message.text }}","rightValue":"תחפש לי"},{"id":"048e53dc-bcba-476f-a650-93c27fa155ce","operator":{"type":"string","operation":"startsWith"},"leftValue":"={{ $('Telegram Trigger').item.json.callback_query.message.reply_to_message.text }}","rightValue":"חפש לי"},{"id":"b0e935a4-0e71-4a1e-9a38-58e799172b9a","operator":{"type":"string","operation":"startsWith"},"leftValue":"={{ $('Telegram Trigger').item.json.callback_query.message.reply_to_message.text }}","rightValue":"מצא לי"},{"id":"a47a4cf9-3ffc-4445-87cd-604359ff6f94","operator":{"type":"string","operation":"startsWith"},"leftValue":"={{ $('Telegram Trigger').item.json.callback_query.message.reply_to_message.text }}","rightValue":"תשלח לי"},{"id":"22cb197b-b0cf-45dc-a07b-63727181c85f","operator":{"type":"string","operation":"startsWith"},"leftValue":"={{ $('Telegram Trigger').item.json.callback_query.message.reply_to_message.text }}","rightValue":"שלח לי"}]},"options":{}},"id":"d8fe0d8b-7ff0-4c77-a314-6e0c850d4a4d","name":"If5","type":"n8n-nodes-base.if","position":[1936,1200],"typeVersion":2.2},{"parameters":{"jsCode":"const data = $input.all();\n// בדיקה אם יש לפחות אייטם אחד עם קוד 200\nconst hasSuccess = data.some(item => \n  item.json.aliexpress_affiliate_link_generate_response?.resp_result?.resp_code === 200\n);\nif (hasSuccess) {\n  return data;\n} else {\n  return [{ json: { result: 2 } }];\n}"},"id":"f4dbed57-121b-4463-a09b-0d83f03cd37a","name":"Code in JavaScript2","type":"n8n-nodes-base.code","position":[4208,816],"typeVersion":2},{"parameters":{},"id":"d1e2148e-9ab9-4ffc-a3e5-bb467ef9945c","name":"Wait","type":"n8n-nodes-base.wait","position":[1712,1584],"webhookId":"40368714-5f47-4f1e-8fef-bbcf94f4d1b4","typeVersion":1.1},{"parameters":{"conditions":{"options":{"version":3,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"e6c0a529-58ad-4063-912f-1af3678a33b1","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.message.text }}","rightValue":"/start"}]},"options":{}},"id":"82046f73-87a9-4da1-8832-b0617aa4f573","name":"Bot start filtering","type":"n8n-nodes-base.filter","position":[688,1104],"typeVersion":2.3},{"parameters":{"conditions":{"options":{"version":3,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"0362ba6f-f9a9-4959-832a-456c0b4ae8f1","operator":{"type":"number","operation":"equals"},"leftValue":"={{ $item(\"0\").$node[\"Telegram Trigger\"].json[\"callback_query\"][\"message\"][\"reply_to_message\"][\"from\"][\"id\"] }}","rightValue":"={{ $item(\"0\").$node[\"Telegram Trigger\"].json[\"callback_query\"][\"from\"][\"id\"] }}"}]},"options":{}},"id":"3f3c75e7-ad7a-4145-89e7-cf5916d81a8f","name":"Only if the person who asked for more is the one who sent the original message","type":"n8n-nodes-base.if","position":[1200,1392],"typeVersion":2.3},{"parameters":{"resource":"chat","operation":"member","chatId":"@your group","userId":"={{ $('Telegram Trigger').item.json.callback_query.from.id }}"},"id":"c7376207-9f53-45ef-9edd-2a2740a47d02","name":"Checking if we are in a certain group ","type":"n8n-nodes-base.telegram","position":[1488,1296],"webhookId":"605e4eea-a60f-448e-bc54-6e8e7ea7d9dd","typeVersion":1.2,"credentials":{"telegramApi":{"id":"MMeCtmcoQYLXQnPZ","name":"Telegram Prod Bot account"}}},{"parameters":{"chatId":"={{ $item(\"0\").$node[\"Telegram Trigger\"].json[\"callback_query\"][\"message\"][\"chat\"][\"id\"] }}","text":"=Only the person who sent the original message can click this button 🔒\n\nSubmit your own message to search for products!  😊","additionalFields":{"appendAttribution":false,"reply_to_message_id":"={{ $('Telegram Trigger').item.json.callback_query.message.reply_to_message.message_id }}"}},"id":"75ccd5b9-417c-421b-88d5-7be5cd1b5ca5","name":"A message that only those who sent an original message can request more","type":"n8n-nodes-base.telegram","position":[1488,1584],"webhookId":"95eaeb34-4028-47af-997a-c84940233323","typeVersion":1.2,"credentials":{"telegramApi":{"id":"MMeCtmcoQYLXQnPZ","name":"Telegram Prod Bot account"}}},{"parameters":{"operation":"deleteMessage","chatId":"={{ $item(\"0\").$node[\"Telegram Trigger\"].json[\"callback_query\"][\"message\"][\"chat\"][\"id\"] }}","messageId":"={{ $item(\"0\").$node[\"A message that only those who sent an original message can request more\"].json[\"result\"][\"message_id\"] }}"},"id":"37a48993-9c0e-4095-84b6-3c36cf219a07","name":"Deleting a message 5","type":"n8n-nodes-base.telegram","position":[1936,1584],"webhookId":"bdc2e079-fddb-467a-8a45-4ddd22ca78c1","executeOnce":true,"typeVersion":1.2,"credentials":{"telegramApi":{"id":"MMeCtmcoQYLXQnPZ","name":"Telegram Prod Bot account"}}},{"parameters":{"chatId":"={{ $item(\"0\").$node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"] }}","text":"=Hello 😊\n\nTo use the bot, you must first join the \"cheap deals before everyone\" channel on Telegram 🏆\n\nAfter joining, just write: \"Find me...\" and what you are looking for 🔍","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🔗 מעבר לערוץ הדילים","additionalFields":{"url":"https://t.me/aliexpressdils"}}]}}]},"additionalFields":{"appendAttribution":false,"reply_to_message_id":"={{ $item(\"0\").$node[\"Telegram Trigger\"].json[\"message\"][\"message_id\"] }}"}},"id":"01b27dcf-804c-4aab-bba2-c4c12fcbc6d3","name":"Request to join the group 1","type":"n8n-nodes-base.telegram","position":[1936,1392],"webhookId":"026a7d90-823a-4f5d-aac9-3f07480d9170","typeVersion":1.2,"credentials":{"telegramApi":{"id":"MMeCtmcoQYLXQnPZ","name":"Telegram Prod Bot account"}}},{"parameters":{"chatId":"={{ $item(\"0\").$node[\"Telegram Trigger\"].json[\"callback_query\"][\"message\"][\"chat\"][\"id\"] }}","text":"⏳ Just a moment...|You will find a team that searches in depth - checks reviews, compares prices, and does everything to find the most suitable product just for you!","additionalFields":{"appendAttribution":false,"reply_to_message_id":"={{ $('Telegram Trigger').item.json.callback_query.message.reply_to_message.message_id }}"}},"id":"c6d082da-c47b-4c0c-9ac4-83e7b14e1798","name":"Opening message 2","type":"n8n-nodes-base.telegram","position":[2160,1104],"webhookId":"44500458-6751-44b0-af8b-6cfb5f0b6c78","typeVersion":1.2,"credentials":{"telegramApi":{"id":"MMeCtmcoQYLXQnPZ","name":"Telegram Prod Bot account"}}},{"parameters":{"chatId":"={{ $item(\"0\").$node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"] }}","text":"=💡 So that the bot can help properly, simply write the message in one of the following forms:\nFind me, look for me, look for me, find me, send me, send me\n\n🔍 For example:\nFind me {{ $('Telegram Trigger').item.json.message.text }}\n\n✅ Use one of these starters - and the bot already takes care of the rest!","additionalFields":{"appendAttribution":false,"reply_to_message_id":"={{ $item(\"0\").$node[\"Telegram Trigger\"].json[\"message\"][\"message_id\"] }}"}},"id":"24431c33-dfa4-456a-89c4-81b3a2e392ca","name":"Request for correct wording 1","type":"n8n-nodes-base.telegram","position":[2160,1296],"webhookId":"f610639f-9fc9-4160-8c8e-71ed93fcd4df","typeVersion":1.2,"credentials":{"telegramApi":{"id":"MMeCtmcoQYLXQnPZ","name":"Telegram Prod Bot account"}}},{"parameters":{"operation":"sendChatAction","chatId":"={{ $item(\"0\").$node[\"Opening message 2\"].json[\"result\"][\"chat\"][\"id\"] }}"},"id":"834b00e0-dbb4-4d01-8c86-3e77a904acd7","name":"Start typing 1","type":"n8n-nodes-base.telegram","position":[2384,1104],"webhookId":"5572fe42-aede-4426-9225-f988ac656dd6","typeVersion":1.2,"credentials":{"telegramApi":{"id":"MMeCtmcoQYLXQnPZ","name":"Telegram Prod Bot account"}}},{"parameters":{"modelId":{"__rl":true,"mode":"list","value":"gpt-5.2","cachedResultName":"GPT-5.2"},"responses":{"values":[{"role":"system","content":"=You validate and optimize search queries for AliExpress.\nYour task: get a search term and verify/optimize it for search on AliExpress.\n\nInput: {{ $item(\"0\").$node[\"Telegram Trigger\"].json[\"message\"][\"text\"].split(' ').slice(2).join(' ') }}\n\nRules:\n1. Extract only the product name/description from the search term\n2. Remove all non-product information:\n   - Price mentions (for example, \"up to NIS 150\", \"under 100\", \"under 100\")\n   - Quantity references (eg, \"5 units\", \"pack of 3\")\n   - Color/size specifications (e.g., \"in size L\", \"in black color\")\n   - time constraints (for example, \"fast delivery\", \"by Sunday\")\n   - Any filter criteria other than the main product name\n3. Clear the remaining product name:\n   - Remove special characters: # @ $ % ^ & * ( ) = + [ ] { } |   : ;   \"'<>?\n   - Keep hyphens (-) and underscores (_) as they are valid in product searches\n   - Remove excessive spaces (several spaces in a row)\n4. Save the language of the original product name (Hebrew/English/etc.)\n5. Do not translate, do not add words, do not change the core meaning of the product\n6. Return only the cleaned product name, nothing else - no explanations, no quotes, no extra text\n\nExamples:\nInput: \"iPhone cover\"\nOutput: iPhone cover\n\nInput: \"Shoes up to NIS 150\"\nOutput: shoes\n\nInput: \"Wireless headphones under $50\"\nOutput: wireless headphones\n\nInput: \"iPhone charger fast delivery\"\nOutput: iPhone charger\n\nInput: \"Large number speakers 5 units\"\nOutput: Speakers\n\nInput: \"Game mouse!!!   cheap price\"\nOutput: Gaming mouse"}]},"builtInTools":{},"options":{}},"id":"431ed356-fc49-477f-a389-057f32a1fe67","name":"Creating a professional search term 1","type":"@n8n/n8n-nodes-langchain.openAi","position":[2608,1104],"typeVersion":2,"credentials":{"openAiApi":{"id":"XuZr5QFsDpxldUrH","name":"Polza.ai account"}}},{"parameters":{"url":"=https://aliexpress.com/w/wholesale-{{ $json.output[0].content[0].text.replaceAll(' ', '-') }}.html","geo":"Israel"},"id":"e9b00b13-53c6-4e5b-a9a4-dfe0e78137b5","name":"Data scraping1","type":"@decodo/n8n-nodes-decodo.decodo","maxTries":5,"position":[2960,1104],"retryOnFail":true,"typeVersion":1,"waitBetweenTries":5000},{"parameters":{"chatId":"={{ $item(\"0\").$node[\"Telegram Trigger\"].json[\"callback_query\"][\"message\"][\"chat\"][\"id\"] }}","text":"🔥 Wow!  I have everything!  |  All the details are here with me, now I'm just arranging and comparing the most winning product for you!  A moment and I'll be back with a bomb...","additionalFields":{"appendAttribution":false,"reply_to_message_id":"={{ $('Telegram Trigger').item.json.callback_query.message.reply_to_message.message_id }}"}},"id":"658b00e2-f47b-43cc-b41d-22502ef6562f","name":"Follow-up message 1","type":"n8n-nodes-base.telegram","position":[3248,1104],"webhookId":"210fddc8-94b2-43bc-8149-46b979151d63","executeOnce":true,"typeVersion":1.2,"credentials":{"telegramApi":{"id":"MMeCtmcoQYLXQnPZ","name":"Telegram Prod Bot account"}}},{"parameters":{"jsCode":"const html = $('Data scraping1').first().json.results[0].content;\n\nconst scripts = html.match(/<script[^>]*>([\\s\\S]*?)<\\/script>/g) ||  [];\n\nתן מוצרים = null;\n\n// ניסיון 1: חיפוש ב-window._dida_config_._init_data_\nעבור (תן סקריפט של סקריפטים) {\n  const content = script.replace(/<script[^>]*>/, '').replace(/<\\/script>/, '');\n \n  if (content.includes('window._dida_config_._init_data_') && content.includes('productId')) {\n    const dataMatch = content.match(/window\\._dida_config_\\._init_data_\\s*=\\s*(\\{[\\s\\S]+?\\});/);\n    if (dataMatch) {\n      נסה {\n        const dataObj = JSON.parse(dataMatch[1]);\n        products = dataObj?.data?.data?.root?.fields?.mods?.itemList?.content;\n        if (products && Array.isArray(products) && products.length > 0) break;\n      } תפוס (ה) {}\n    }\n  }\n}\n\n// ניסיון 2: חיפוש ישיר של \"itemList\":{\"content\":[\nif (!products || !Array.isArray(products) || products.length === 0) {\n  עבור (תן סקריפט של סקריפטים) {\n    const content = script.replace(/<script[^>]*>/, '').replace(/<\\/script>/, '');\n   \n    if (content.includes('\"itemList\"') && content.includes('\"productId\"')) {\n      const searchPattern = '\"itemList\":{\"content\":[';\n      const contentStart = content.indexOf(searchPattern);\n     \n      if (contentStart !== -1) {\n        const arrayStart = content.indexOf('[', contentStart);\n        תן עומק = 0;\n        let inString = false;\n        תן לברוח = שקר;\n        let arrayEnd = arrayStart;\n       \n        for (let i = arrayStart; i < content.length; i++) {\n          const char = content[i];\n         \n          if (escape) {\nreturn extractedData.map(item => ({ json: item }));"},"id":"074ad2a5-755a-41a0-bcd1-96fd62de9ad5","name":"Extracting all items 1","type":"n8n-nodes-base.code","position":[3536,1104],"typeVersion":2},{"parameters":{},"id":"6938c765-3340-4956-8e87-53a51b8449b6","name":"Creating an affiliate link","type":"n8n-nodes-aliexpress-affiliate.aliExpressAffiliate","position":[3984,816],"retryOnFail":true,"typeVersion":1,"credentials":{}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"c133323a-3b54-4afe-afe3-ed9dcf96c5ab","operator":{"type":"number","operation":"notEquals"},"leftValue":"={{ $json.result }}","rightValue":2}]},"options":{}},"id":"addbff58-332b-4c08-ade4-df0dabc350b7","name":"If there is an error or not 1","type":"n8n-nodes-base.if","position":[4432,1104],"typeVersion":2.2},{"parameters":{"modelId":{"__rl":true,"mode":"list","value":"gpt-5.2","cachedResultName":"GPT-5.2"},"messages":{"values":[{"content":"=You are a professional and convincing sales agent in Hebrew.  It's your job to create a cool Telegram message that will make the customer want to buy right away!\n\nYou received the following details:\n- What the client searched for: {{ $item(\"0\").$node[\"Telegram Trigger\"].json[\"callback_query\"][\"message\"][\"reply_to_message\"][\"text\"].replace(/^(find me|search me|search me|find me|send me|send me)\\s*/g, '').trim() }}\n- Product name: {{ $('Extraction of 2 products from the first 7').item.json.title }}\n- Original price: {{ $('Extraction of 2 products from the first 7').item.json.originalPrice }}\n- Sale price: {{ $('Extraction of 2 products from the first 7').item.json.salePrice }}\n- Discount percentage: {{ $('Extraction of 2 products from the first 7').item.json.discount }}\n- Rating: {{ $('Extraction of 2 products from the first 7').item.json.rating }}\n- Quantity sold: {{ $('Extraction of 2 products from the first 7').item.json.soldCount }}\nMaximum 7-8 lines, short and precise!"}]},"simplify":false,"options":{}},"id":"d705d739-bdb7-46d6-b568-a292cdeebffb","name":"Wording for message","type":"@n8n/n8n-nodes-langchain.openAi","position":[4656,1104],"typeVersion":1.8,"credentials":{"openAiApi":{"id":"XuZr5QFsDpxldUrH","name":"Polza.ai account"}}},{"parameters":{"operation":"sendPhoto","chatId":"={{ $item(\"0\").$node[\"Telegram Trigger\"].json[\"callback_query\"][\"message\"][\"chat\"][\"id\"] }}","file":"={{ $('Extraction of 2 products from the first 7').item.json.mainImage }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🔍 You will find more","additionalFields":{"callback_data":"more_results"}},{"text":"🛒 for purchase","additionalFields":{"url":"={{ $('Creating an affiliate link').item.json.aliexpress_affiliate_link_generate_response.resp_result.result.promotion_links.promotion_link[0].promotion_link }}"}}]}}]},"additionalFields":{"caption":"={{ $('Wording for message').item.json.choices[0].message.content }}","parse_mode":"HTML","reply_to_message_id":"={{ $item(\"0\").$node[\"Telegram Trigger\"].json[\"callback_query\"][\"message\"][\"reply_to_message\"][\"message_id\"] }}"}},"id":"12e0b047-b8df-4186-a962-29125ac5e8af","name":"Sending a message 1","type":"n8n-nodes-base.telegram","position":[5008,1104],"webhookId":"ede60b7f-86ab-4ab5-a5a0-4b231df5b71f","typeVersion":1.2,"alwaysOutputData":true,"credentials":{"telegramApi":{"id":"MMeCtmcoQYLXQnPZ","name":"Telegram Prod Bot account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"deleteMessage","chatId":"={{ $item(\"0\").$node[\"Telegram Trigger\"].json[\"callback_query\"][\"message\"][\"chat\"][\"id\"] }}","messageId":"={{ $item(\"0\").$node[\"Opening message 2\"].json[\"result\"][\"message_id\"] }}"},"id":"9267fb15-8614-49b2-8a91-4c6e63dd0072","name":"Deleting a message 3","type":"n8n-nodes-base.telegram","position":[5296,1104],"webhookId":"890837aa-c654-4815-a7a2-674c2ef1815e","executeOnce":true,"typeVersion":1.2,"credentials":{"telegramApi":{"id":"MMeCtmcoQYLXQnPZ","name":"Telegram Prod Bot account"}}},{"parameters":{"operation":"deleteMessage","chatId":"={{ $item(\"0\").$node[\"Telegram Trigger\"].json[\"callback_query\"][\"message\"][\"chat\"][\"id\"] }}","messageId":"={{ $item(\"0\").$node[\"Follow-up message 1\"].json[\"result\"][\"message_id\"] }}"},"id":"723e38f4-2f62-4a8b-bf4d-b11db13e3ded","name":"Deleting a message4","type":"n8n-nodes-base.telegram","position":[5584,1104],"webhookId":"7d486b39-6ca5-4e08-8fd0-71f399fc9ff3","executeOnce":true,"typeVersion":1.2,"credentials":{"telegramApi":{"id":"MMeCtmcoQYLXQnPZ","name":"Telegram Prod Bot account"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"da0e80cb-9f79-4ece-af8c-3f188ac7e8f7","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.status }}","rightValue":"rejected"}]},"options":{}},"id":"b9fa5bab-d9f3-4a2d-8409-8de510da428a","name":"If there is problematic content","type":"n8n-nodes-base.if","position":[1712,720],"typeVersion":2.2},{"parameters":{"resource":"chat","operation":"member","chatId":"@your group","userId":"={{ $('Telegram Trigger').item.json.message.from.id }}"},"id":"c16fc16a-21a5-4b60-98bc-24137be6edf6","name":"Checking if we are in a certain group","type":"n8n-nodes-base.telegram","position":[1936,624],"webhookId":"c9b67bcb-4597-46fa-83ff-cab24eb04971","typeVersion":1.2,"credentials":{"telegramApi":{"id":"MMeCtmcoQYLXQnPZ","name":"Telegram Prod Bot account"}}},{"parameters":{"chatId":"={{ $item(\"0\").$node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"] }}","text":"=Hello 😊\n\nTo use the bot, you must first join the \"cheap deals before everyone\" channel on Telegram 🏆\n\nAfter joining, just write: \"Find me...\" and what you are looking for 🔍","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🔗 מעבר לערוץ הדילים","additionalFields":{"url":"https://t.me/aliexpressdils"}}]}}]},"additionalFields":{"appendAttribution":false,"reply_to_message_id":"={{ $item(\"0\").$node[\"Telegram Trigger\"].json[\"message\"][\"message_id\"] }}"}},"id":"a5bd1973-89ba-4efa-8c44-e9b6c1120a35","name":"Request to join the group","type":"n8n-nodes-base.telegram","position":[2384,720],"webhookId":"bc2614d0-f562-4f1f-8b99-b3e691e0592b","typeVersion":1.2,"credentials":{"telegramApi":{"id":"MMeCtmcoQYLXQnPZ","name":"Telegram Prod Bot account"}}},{"parameters":{"chatId":"={{ $item(\"0\").$node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"] }}","text":"⏳ Just a moment...|You will find a team that searches in depth - checks reviews, compares prices, and does everything to find the most suitable product just for you!","additionalFields":{"appendAttribution":false,"reply_to_message_id":"={{ $item(\"0\").$node[\"Telegram Trigger\"].json[\"message\"][\"message_id\"] }}"}},"id":"5f066203-bc0d-47ff-9a39-1ed9018d8803","name":"opening message","type":"n8n-nodes-base.telegram","position":[2672,432],"webhookId":"bd79c412-fab6-431b-be04-ece47178d1aa","typeVersion":1.2,"credentials":{"telegramApi":{"id":"MMeCtmcoQYLXQnPZ","name":"Telegram Prod Bot account"}}},{"parameters":{"operation":"sendChatAction","chatId":"={{ $item(\"0\").$node[\"opening message\"].json[\"result\"][\"chat\"][\"id\"] }}"},"id":"7031bd59-85d7-41e0-b9b9-08c2cf425f84","name":"Start typing","type":"n8n-nodes-base.telegram","position":[2960,432],"webhookId":"d4afa6db-eae5-4905-a4ea-595a78a658ed","typeVersion":1.2,"credentials":{"telegramApi":{"id":"MMeCtmcoQYLXQnPZ","name":"Telegram Prod Bot account"}}},{"parameters":{"chatId":"={{ $item(\"0\").$node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"] }}","text":"=💡 So that the bot can help properly, simply write the message in one of the following forms:\nFind me, look for me, look for me, find me, send me, send me\n\n🔍 For example:\nFind me {{ $('Telegram Trigger').item.json.message.text }}\n\n✅ Use one of these starters - and the bot already takes care of the rest!","additionalFields":{"appendAttribution":false,"reply_to_message_id":"={{ $item(\"0\").$node[\"Telegram Trigger\"].json[\"message\"][\"message_id\"] }}"}},"id":"106782f8-fc58-4b5c-8db0-9587b2f1d95b","name":"Request for correct wording","type":"n8n-nodes-base.telegram","position":[2672,720],"webhookId":"b7142055-1128-4ebf-a551-35bce9691fa5","typeVersion":1.2,"credentials":{"telegramApi":{"id":"MMeCtmcoQYLXQnPZ","name":"Telegram Prod Bot account"}}},{"parameters":{"modelId":{"__rl":true,"mode":"list","value":"gpt-5.2","cachedResultName":"GPT-5.2"},"responses":{"values":[{"content":"=אתה מאמת ומייעל שאילתות חיפוש עבור AliExpress.\nהמשימה שלך: לקבל מונח חיפוש ולאמת/ לבצע אופטימיזציה שלו לחיפוש באליאקספרס.\n\nקלט: {{ $item(\"0\").$node[\"Telegram Trigger\"].json[\"message\"][\"text\"].split(' ').slice(2).join(' ') }}\n\nכללים:\n1. חלץ רק את שם המוצר/תיאור ממונח החיפוש\n2. הסר את כל המידע שאינו מוצר:\n   - אזכורי מחירים (למשל, \"עד 150 שח\", \"מתחת ל-100\", \"מתחת ל-100\")\n   - אזכורים בכמות (למשל, \"5 יחידות\", \"חבילה של 3\")\n   - מפרטי צבע/גודל (למשל, \"במידה L\", \"בצבע שחור\")\n   - אילוצי זמן (לדוגמה, \"משלוח מהיר\", \"עד יום ראשון\")\n   - כל קריטריון סינון שאינו שם המוצר המרכזי\n3. נקה את שם המוצר הנותר:\n   - הסר תווים מיוחדים: # @ $ % ^ & * ( ) = + [ ] { } |  \\ : ;  \"'<>?\nפלט: עכבר גיימינג"}]},"builtInTools":{},"options":{}},"id":"b6ba7019-d442-4e49-a736-236b4d1526b2","name":"Creating a professional search term","type":"@n8n/n8n-nodes-langchain.openAi","position":[3184,432],"typeVersion":2,"credentials":{"openAiApi":{"id":"XuZr5QFsDpxldUrH","name":"Polza.ai account"}}},{"parameters":{"url":"=https://aliexpress.com/w/wholesale-{{ $json.output[0].content[0].text.replaceAll(' ', '-') }}.html","geo":"Israel"},"id":"f5251536-43e5-4089-b676-fcc5207dc82c","name":"data scraping","type":"@decodo/n8n-nodes-decodo.decodo","maxTries":5,"position":[3536,432],"retryOnFail":true,"typeVersion":1,"waitBetweenTries":5000},{"parameters":{"chatId":"={{ $item(\"0\").$node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"] }}","text":"🔥 Wow!  I have everything!  |  All the details are here with me, now I'm just arranging and comparing the most winning product for you!  A moment and I'll be back with a bomb...","additionalFields":{"appendAttribution":false,"reply_to_message_id":"={{ $item(\"0\").$node[\"Telegram Trigger\"].json[\"message\"][\"message_id\"] }}"}},"id":"089d8ed5-b24b-4e83-805d-c2ec92c25435","name":"Follow up message","type":"n8n-nodes-base.telegram","position":[3760,432],"webhookId":"9cd3b55f-4f75-498f-ad20-51cf28e13a3d","executeOnce":true,"typeVersion":1.2,"credentials":{"telegramApi":{"id":"MMeCtmcoQYLXQnPZ","name":"Telegram Prod Bot account"}}},{"parameters":{"jsCode":"const html = $('data scraping').first().json.results[0].content;\n// Attempt 1: Search window._dida_config_._init_data_\nfor (let script of scripts) {\n  const content = script.replace(/<script[^>]*>/, '').replace(/<\\/script>/, '');\n\n  if (content.includes('window._dida_config_._init_data_') && content.includes('productId')) {\n    const dataMatch = content.match(/window\\._dida_config_\\._init_data_\\s*=\\s*(\\{[\\s\\S]+?\\});/);\n    if (dataMatch) {\n      try {\n        const dataObj = JSON.parse(dataMatch[1]);\n        products = dataObj?.data?.data?.root?.fields?.mods?.itemList?.content;\n        if (products && Array.isArray(products) && products.length > 0) break;\n      } catch (e) {}\n    }\n  }\n}\n\n// Attempt 2: Direct search of \"itemList\":{\"content\":[\nif (!products || !Array.isArray(products) || products.length === 0) {\n  for (let script of scripts) {\n    const content = script.replace(/<script[^>]*>/, '').replace(/<\\/script>/, '');\n  \n    if (content.includes('\"itemList\"') && content.includes('\"productId\"')) {\n      const searchPattern = '\"itemList\":{\"content\":[';\n      const contentStart = content.indexOf(searchPattern);\n    \n      if (contentStart !== -1) {\n        const arrayStart = content.indexOf('[', contentStart);\n        let depth = 0;\n        let inString = false;\n        let escape = false;\n        let arrayEnd = arrayStart;\n      \n        for (let i = arrayStart; i < content.length; i++) {\n          const char = content[i];\n        \n          if (escape) {\n            escape = false;\n            continue;\n          }\n        \n          if (char === '\\\\') {\n            escape = true;\n            continue;\n          }\n        \n          if (char === '\"') {\n            inString = !inString;\n            to continue;\n          }\n        \n          if (!inString) {\n            if (char === '[' || char === '{') depth++;\n            if (char === ']' || char === '}') depth--;\n          \n            if (depth === 0 && char === ']') {\n              arrayEnd = i + 1;\n              break;\n            }\n          }\n        }\n      \n        if (arrayEnd > arrayStart) {\n          const jsonArray = content.substring(arrayStart, arrayEnd);\n          try {\n            products = JSON.parse(jsonArray);\n            if (products && Array.isArray(products) && products.length > 0) break;\nreturn extractedData.map(item => ({ json: item }));"},"id":"820651a3-f443-4493-8663-456b1ce0a8f9","name":"Extract all items","type":"n8n-nodes-base.code","position":[3984,432],"typeVersion":2},{"parameters":{"jsCode":"// Getting all the products\nconst items = $input.all();\nlet products;\nif (items.length === 1 && Array.isArray(items[0].json)) {\n  products = items[0].json;\n} else {\n  products = items.map(item => item.json);\n}\n\n// taking the first 2\nconst top2 = products.slice(0, 2);\n\n// Returning the products with valid links\nreturn top2.map(product => {\n  const cleanUrl = `https://www.aliexpress.com/item/${product.productId}.html`;\n \n  return {\n    json: {\n      ...product,\n      productUrl: cleanUrl\n    }\n  };\n});"},"id":"ae1b3a0f-d25c-4bb4-8885-b27fc4886629","name":"Extraction of 2 products from the first 10","type":"n8n-nodes-base.code","position":[4208,352],"typeVersion":2},{"parameters":{"jsCode":"// Getting all the products\nconst items = $input.all();\nlet products;\nif (items.length === 1 && Array.isArray(items[0].json)) {\n  products = items[0].json;\n} else {\n  products = items.map(item => item.json);\n}\n// skipping the first 2, taking the next 5 (from the third to the seventh)\nconst top5 = products.slice(2, 7);\n// Pick 2 random out of 5\nfunction getRandomProducts(arr, count) {\n  const copy = [...arr];\n  const result = [];\n \n  for (let i = 0; i < count && copy.length > 0; i++) {\n    const randomIndex = Math.floor(Math.random() * copy.length);\n    result.push(copy[randomIndex]);\n    copy.splice(randomIndex, 1);\n  }\n \n  return result;\n}\nconst randomProducts = getRandomProducts(top5, 2);\n// Returning the products with valid links\nreturn randomProducts.map(product => {\n  const cleanUrl = `https://www.aliexpress.com/item/${product.productId}.html`;\n \n  return {\n    json: {\n      ...product,\n      productUrl: cleanUrl\n    }\n  };\n});"},"id":"96daa4fa-4c06-427c-bd6a-5fb3bf9c43c5","name":"Extraction of 2 products from the first 7","type":"n8n-nodes-base.code","position":[3760,816],"typeVersion":2},{"parameters":{"chatId":"={{ $item(\"0\").$node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"] }}","text":"={{ $json.message }}","additionalFields":{"appendAttribution":false}},"id":"c7d97f05-445e-41ae-bc1d-4a7937cf0780","name":"Opening message 1","type":"n8n-nodes-base.telegram","position":[1936,912],"webhookId":"951256c5-dd0a-42b5-b072-2d8c92acc476","typeVersion":1.2,"credentials":{"telegramApi":{"id":"MMeCtmcoQYLXQnPZ","name":"Telegram Prod Bot account"}}},{"parameters":{"operation":"deleteMessage","chatId":"={{ $item(\"0\").$node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"] }}","messageId":"={{ $item(\"0\").$node[\"Telegram Trigger\"].json[\"message\"][\"message_id\"] }}"},"id":"a38f5fb9-50f8-404e-b12b-37c9652f46be","name":"Deleting a message 2","type":"n8n-nodes-base.telegram","position":[2160,912],"webhookId":"a02a2aa3-5ed6-40fe-bcf3-8e2032de7d62","executeOnce":true,"typeVersion":1.2,"credentials":{"telegramApi":{"id":"MMeCtmcoQYLXQnPZ","name":"Telegram Prod Bot account"}}},{"parameters":{"method":"POST","url":"=https://api.telegram.org/YOUR_TELEGRAM_BOT_TOKE/banChatMember","sendBody":true,"bodyParameters":{"parameters":[{"name":"chat_id","value":"={{ $item(\"0\").$node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"] }}"},{"name":"user_id","value":"={{ $item(\"0\").$node[\"Telegram Trigger\"].json[\"message\"][\"from\"][\"id\"] }}"}]},"options":{}},"id":"169222c2-5cb7-4967-9a0a-b73d19862518","name":"Automatic removal of the user from the group","type":"n8n-nodes-base.httpRequest","position":[2384,912],"typeVersion":4.3},{"parameters":{},"id":"350e8e76-441e-4d66-acd5-9ddd0da50817","name":"Creating an affiliate link3","type":"n8n-nodes-aliexpress-affiliate.aliExpressAffiliate","position":[4432,352],"retryOnFail":true,"typeVersion":1,"credentials":{}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"c133323a-3b54-4afe-afe3-ed9dcf96c5ab","operator":{"type":"number","operation":"notEquals"},"leftValue":"={{ $json.result }}","rightValue":2}]},"options":{}},"id":"d9b68d3c-78d6-43f7-b314-0788ab3a37ce","name":"whether there is an error or not","type":"n8n-nodes-base.if","position":[5008,432],"typeVersion":2.2},{"parameters":{"modelId":{"__rl":true,"mode":"list","value":"gpt-5.2","cachedResultName":"GPT-5.2"},"messages":{"values":[{"content":"=You are a professional and convincing sales agent in Hebrew.  It's your job to create a cool Telegram message that will make the customer want to buy right away!\n\nYou received the following details:\n- What the customer searched for: {{ $item(\"0\").$node[\"Telegram Trigger\"].json[\"message\"][\"text\"].replace(/^(find me|search me|search me|find me|send me|send me)\\s*/g, '').trim() }}\n- Product name: {{ $('Extraction of 2 products from the first 10').item.json.title }}\n- Original price: {{ $('Extraction of 2 products from the first 10').item.json.originalPrice }}\n- Sale price: {{ $('Extraction of 2 products from the first 10').item.json.salePrice }}\n- Discount percentage: {{ $('Extraction of 2 products from the first 10').item.json.discount }}\n- Rating: {{ $('Extraction of 2 products from the first 10').item.json.rating }}\n- Quantity sold: {{ $('Extraction of 2 products from the first 10').item.json.soldCount }}\n- Special tags: {{ $('Extraction of 2 products from the first 10').item.json.tags }}\nMaximum 7-8 lines, short and precise!"}]},"simplify":false,"options":{}},"id":"b48378b9-6993-4bbd-b4da-5173e8c9f823","name":"Wording for message 3","type":"@n8n/n8n-nodes-langchain.openAi","position":[5232,432],"typeVersion":1.8,"credentials":{"openAiApi":{"id":"XuZr5QFsDpxldUrH","name":"Polza.ai account"}}},{"parameters":{"operation":"sendPhoto","chatId":"={{ $item(\"0\").$node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"] }}","file":"={{ $('Extraction of 2 products from the first 10').item.json.mainImage }}","replyMarkup":"inlineKeyboard","inlineKeyboard":{"rows":[{"row":{"buttons":[{"text":"🔍 You will find more","additionalFields":{"callback_data":"more_results"}},{"text":"🛒 for purchase","additionalFields":{"url":"={{ $('Creating an affiliate link3').item.json.aliexpress_affiliate_link_generate_response.resp_result.result.promotion_links.promotion_link[0].promotion_link }}"}}]}}]},"additionalFields":{"caption":"={{ $('Wording for message 3').item.json.choices[0].message.content }}","parse_mode":"HTML","reply_to_message_id":"={{ $item(\"0\").$node[\"Telegram Trigger\"].json[\"message\"][\"message_id\"] }}"}},"id":"4af3fdcc-99bc-41ed-98ff-90aeae52633a","name":"sending a message","type":"n8n-nodes-base.telegram","position":[5584,432],"webhookId":"a73c07c1-6275-486a-b887-b99751a1c614","typeVersion":1.2,"alwaysOutputData":true,"credentials":{"telegramApi":{"id":"MMeCtmcoQYLXQnPZ","name":"Telegram Prod Bot account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"deleteMessage","chatId":"={{ $item(\"0\").$node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"] }}","messageId":"={{ $item(\"0\").$node[\"opening message\"].json[\"result\"][\"message_id\"] }}"},"id":"a35465aa-56a1-450d-98c1-2b5f320180c7","name":"Deleting a message","type":"n8n-nodes-base.telegram","position":[5808,432],"webhookId":"b556080d-c352-479d-be99-fab49c3cde80","executeOnce":true,"typeVersion":1.2,"credentials":{"telegramApi":{"id":"MMeCtmcoQYLXQnPZ","name":"Telegram Prod Bot account"}}},{"parameters":{"operation":"deleteMessage","chatId":"={{ $item(\"0\").$node[\"Telegram Trigger\"].json[\"message\"][\"chat\"][\"id\"] }}","messageId":"={{ $item(\"0\").$node[\"Follow up message\"].json[\"result\"][\"message_id\"] }}"},"id":"ecfadf5e-db27-469a-9845-51750d01ad2a","name":"Deleting a message 1","type":"n8n-nodes-base.telegram","position":[6032,432],"webhookId":"f2257ee8-5c85-4e06-bbf0-c7c3870cadcd","executeOnce":true,"typeVersion":1.2,"credentials":{"telegramApi":{"id":"MMeCtmcoQYLXQnPZ","name":"Telegram Prod Bot account"}}},{"parameters":{"content":"# AliExpress Affiliate Bot for Telegram\n\nAutomatically find and share AliExpress products with affiliate links in your Telegram group.\n\n## How it works\n1. Bot receives messages and callback queries from Telegram group\n2. AI moderator checks content for spam, links, and inappropriate requests\n3. Valid product requests trigger an AliExpress search\n4. System generates affiliate tracking links for top matching products\n5. Formatted product cards are sent back to the Telegram group\n6. Users can request additional options via inline buttons\n\n## Setup steps\n1. Create a Telegram Bot via @BotFather and obtain API token\n2. Register for AliExpress Affiliate Program and get App Key & Secret\n3. Create OpenAI API account and generate API key\n4. Add all three credentials in n8n (Telegram, AliExpress, OpenAI)\n5. Replace placeholder credential IDs with your own\n6. Add the bot to your Telegram group with admin permissions\n7. Activate the workflow and test with a sample product request","height":608,"width":528},"id":"5088b848-be9b-40d3-b219-728b8fec9a6e","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[368,240],"typeVersion":1},{"parameters":{"content":"📥 Input Handler\nReceives incoming messages and callback queries from Telegram.","height":112,"color":7},"id":"613c5d55-a79e-40c3-9a74-2eb25845ffda","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[400,976],"typeVersion":1},{"parameters":{"content":"🛡️ Content Moderation\nAI validates message content. Blocks spam, links, and inappropriate requests.","height":112,"color":7},"id":"538075c1-6781-4171-bc8e-0b94848ecaae","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1120,592],"typeVersion":1},{"parameters":{"content":"🔍 Product Search\nTranslates request to search query and scrapes AliExpress for products.","height":112,"color":7},"id":"74e555fb-230c-4d5e-bd39-17f42b19c803","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[3168,304],"typeVersion":1},{"parameters":{"content":"🔗 Affiliate Link Generation\nCreates tracking links via AliExpress API. Handles errors gracefully.","height":112,"color":7},"id":"03bf3077-af92-44e2-9b71-1670b4104f60","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[4368,224],"typeVersion":1},{"parameters":{"content":"📤 Response Handler\nSends product cards to Telegram and cleans up temporary messages.","height":112,"color":7},"id":"6513c4da-8e00-48fc-90d1-424c82b2ab1a","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[5232,304],"typeVersion":1}],"connections":{"If":{"main":[[{"node":"Message a model","type":"main","index":0}],[{"node":"Only if the person who asked for more is the one who sent the original message","type":"main","index":0}]]},"If2":{"main":[[{"node":"If4","type":"main","index":0}],[{"node":"Request to join the group","type":"main","index":0}]]},"If3":{"main":[[{"node":"If5","type":"main","index":0}],[{"node":"Request to join the group 1","type":"main","index":0}]]},"If4":{"main":[[{"node":"opening message","type":"main","index":0}],[{"node":"Request for correct wording","type":"main","index":0}]]},"If5":{"main":[[{"node":"Opening message 2","type":"main","index":0}],[{"node":"Request for correct wording 1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Deleting a message 5","type":"main","index":0}]]},"Start typing":{"main":[[{"node":"Creating a professional search term","type":"main","index":0}]]},"data scraping":{"main":[[{"node":"Follow up message","type":"main","index":0}]]},"Data scraping1":{"main":[[{"node":"Follow-up message 1","type":"main","index":0}]]},"Start typing 1":{"main":[[{"node":"Creating a professional search term 1","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"opening message":{"main":[[{"node":"Start typing","type":"main","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Bot start filtering","type":"main","index":0}]]},"Extract all items":{"main":[[{"node":"Extraction of 2 products from the first 10","type":"main","index":0}]]},"Follow up message":{"main":[[{"node":"Extract all items","type":"main","index":0}]]},"Opening message 1":{"main":[[{"node":"Deleting a message 2","type":"main","index":0}]]},"Opening message 2":{"main":[[{"node":"Start typing 1","type":"main","index":0}]]},"sending a message":{"main":[[{"node":"Deleting a message","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"whether there is an error or not","type":"main","index":0}]]},"Deleting a message":{"main":[[{"node":"Deleting a message 1","type":"main","index":0}]]},"Bot start filtering":{"main":[[{"node":"If","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"If there is problematic content","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"If there is an error or not 1","type":"main","index":0}]]},"Follow-up message 1":{"main":[[{"node":"Extracting all items 1","type":"main","index":0}]]},"Sending a message 1":{"main":[[{"node":"Deleting a message 3","type":"main","index":0}]]},"Wording for message":{"main":[[{"node":"Sending a message 1","type":"main","index":0}]]},"Deleting a message 2":{"main":[[{"node":"Automatic removal of the user from the group","type":"main","index":0}]]},"Deleting a message 3":{"main":[[{"node":"Deleting a message4","type":"main","index":0}]]},"Wording for message 3":{"main":[[{"node":"sending a message","type":"main","index":0}]]},"Extracting all items 1":{"main":[[{"node":"Extraction of 2 products from the first 7","type":"main","index":0}]]},"Creating an affiliate link":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Creating an affiliate link3":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"If there is an error or not 1":{"main":[[{"node":"Wording for message","type":"main","index":0}],[{"node":"Extracting all items 1","type":"main","index":0}]]},"If there is problematic content":{"main":[[{"node":"Checking if we are in a certain group","type":"main","index":0}],[{"node":"Opening message 1","type":"main","index":0}]]},"whether there is an error or not":{"main":[[{"node":"Wording for message 3","type":"main","index":0}],[{"node":"Extract all items","type":"main","index":0}]]},"Creating a professional search term":{"main":[[{"node":"data scraping","type":"main","index":0}]]},"Checking if we are in a certain group":{"main":[[{"node":"If2","type":"main","index":0}]]},"Creating a professional search term 1":{"main":[[{"node":"Data scraping1","type":"main","index":0}]]},"Checking if we are in a certain group ":{"main":[[{"node":"If3","type":"main","index":0}]]},"Extraction of 2 products from the first 7":{"main":[[{"node":"Creating an affiliate link","type":"main","index":0}]]},"Extraction of 2 products from the first 10":{"main":[[{"node":"Creating an affiliate link3","type":"main","index":0}]]},"A message that only those who sent an original message can request more":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Only if the person who asked for more is the one who sent the original message":{"main":[[{"node":"Checking if we are in a certain group ","type":"main","index":0}],[{"node":"A message that only those who sent an original message can request more","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateId":"12437"},"pinData":{},"versionId":"ce368155-3b10-4a18-ba01-67ad12a9a1ce","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-18T09:36:11.056Z","createdAt":"2026-02-18T09:36:11.056Z","role":"workflow:owner","workflowId":"WBhIQg1ChgtUpV22RU_pV","projectId":"rPoiFFCZqHU6mXAS"}],"activeVersion":null,"tags":[]}