Get Chat Voice.json
{"updatedAt":"2026-02-12T18:15:50.927Z","createdAt":"2026-02-11T08:23:02.395Z","id":"r8AJc4kiYEpdRkvQ","name":"Get Chat Voice","active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-128,256]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"cb9014a7-8850-4729-95f0-05f2dba64f1c","leftValue":"={{ $json.attachments }}","rightValue":"max","operator":{"type":"array","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[320,144],"id":"7d344fa7-23dd-452f-83dd-caa17fe168f3","name":"Check Attachment"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"cb9014a7-8850-4729-95f0-05f2dba64f1c","leftValue":"={{ $json.link_attachments }}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[528,160],"id":"621f182d-9f50-4171-81bd-bd917a392be3","name":"Check Link Attachment"},{"parameters":{"url":"={{ $json.link_attachments[0].payload.url }}","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"997626c1-e2a9-4fea-95d1-38206ba1bf6e","name":"Download Link Voice","type":"n8n-nodes-base.httpRequest","position":[752,144],"typeVersion":4.3},{"parameters":{"url":"={{ $json.attachments[0].payload.url }}","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"42af9c58-967c-4141-9797-08ba9e91b82b","name":"Download Voice","type":"n8n-nodes-base.httpRequest","position":[528,-16],"typeVersion":4.3},{"parameters":{"resource":"file","fileId":"={{ $json.attachments[0].file_id }}","additionalFields":{"mimeType":"audio/ogg;codecs=opus"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[320,336],"id":"afa3011c-3ea8-4471-a900-62727452e8a0","name":"Get a file","webhookId":"aed20a22-e2aa-47c7-8d26-b610650d9764","credentials":{"telegramApi":{"id":"MMeCtmcoQYLXQnPZ","name":"Telegram Prod Bot account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"121fb331-9533-483c-b6a9-d569fc54eb11","leftValue":"={{ $json.messenger_type }}","rightValue":"max","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[80,256],"id":"b2ee52d6-0246-4325-89ae-98c7fc526ded","name":"Check Messenger type"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Check Messenger type","type":"main","index":0}]]},"Check Attachment":{"main":[[{"node":"Download Voice","type":"main","index":0}],[{"node":"Check Link Attachment","type":"main","index":0}]]},"Check Link Attachment":{"main":[[{"node":"Download Link Voice","type":"main","index":0}]]},"Download Voice":{"main":[[]]},"Check Messenger type":{"main":[[{"node":"Check Attachment","type":"main","index":0}],[{"node":"Get a file","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"eeaab932-0e16-4c98-b739-77ecd19c0ac8","activeVersionId":"eeaab932-0e16-4c98-b739-77ecd19c0ac8","triggerCount":0,"shared":[{"updatedAt":"2026-02-11T08:23:02.395Z","createdAt":"2026-02-11T08:23:02.395Z","role":"workflow:owner","workflowId":"r8AJc4kiYEpdRkvQ","projectId":"rPoiFFCZqHU6mXAS"}],"activeVersion":{"updatedAt":"2026-02-12T18:15:54.379Z","createdAt":"2026-02-12T18:15:50.928Z","versionId":"eeaab932-0e16-4c98-b739-77ecd19c0ac8","workflowId":"r8AJc4kiYEpdRkvQ","nodes":[{"parameters":{"inputSource":"passthrough"},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-128,256]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"cb9014a7-8850-4729-95f0-05f2dba64f1c","leftValue":"={{ $json.attachments }}","rightValue":"max","operator":{"type":"array","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[320,144],"id":"7d344fa7-23dd-452f-83dd-caa17fe168f3","name":"Check Attachment"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"cb9014a7-8850-4729-95f0-05f2dba64f1c","leftValue":"={{ $json.link_attachments }}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[528,160],"id":"621f182d-9f50-4171-81bd-bd917a392be3","name":"Check Link Attachment"},{"parameters":{"url":"={{ $json.link_attachments[0].payload.url }}","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"997626c1-e2a9-4fea-95d1-38206ba1bf6e","name":"Download Link Voice","type":"n8n-nodes-base.httpRequest","position":[752,144],"typeVersion":4.3},{"parameters":{"url":"={{ $json.attachments[0].payload.url }}","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"42af9c58-967c-4141-9797-08ba9e91b82b","name":"Download Voice","type":"n8n-nodes-base.httpRequest","position":[528,-16],"typeVersion":4.3},{"parameters":{"resource":"file","fileId":"={{ $json.attachments[0].file_id }}","additionalFields":{"mimeType":"audio/ogg;codecs=opus"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[320,336],"id":"afa3011c-3ea8-4471-a900-62727452e8a0","name":"Get a file","webhookId":"aed20a22-e2aa-47c7-8d26-b610650d9764","credentials":{"telegramApi":{"id":"MMeCtmcoQYLXQnPZ","name":"Telegram Prod Bot account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"121fb331-9533-483c-b6a9-d569fc54eb11","leftValue":"={{ $json.messenger_type }}","rightValue":"max","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[80,256],"id":"b2ee52d6-0246-4325-89ae-98c7fc526ded","name":"Check Messenger type"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Check Messenger type","type":"main","index":0}]]},"Check Attachment":{"main":[[{"node":"Download Voice","type":"main","index":0}],[{"node":"Check Link Attachment","type":"main","index":0}]]},"Check Link Attachment":{"main":[[{"node":"Download Link Voice","type":"main","index":0}]]},"Download Voice":{"main":[[]]},"Check Messenger type":{"main":[[{"node":"Check Attachment","type":"main","index":0}],[{"node":"Get a file","type":"main","index":0}]]}},"authors":"AIKona me","name":"Version eeaab932","description":"","autosaved":true},"tags":[]}