Get Chat Voice DEMO.json
{"updatedAt":"2026-02-12T18:09:46.525Z","createdAt":"2026-02-11T14:41:51.720Z","id":"bCVDwdRKBnzt8N7I","name":"Get Chat Voice DEMO","active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"id":"3832aacb-1c43-4393-a7eb-2de380439943","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-128,256]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"cb9014a7-8850-4729-95f0-05f2dba64f1c","leftValue":"={{ $json.attachments }}","rightValue":"max","operator":{"type":"array","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[320,144],"id":"545430e2-88c0-42db-95d3-6d455cc6d9af","name":"Check Attachment"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"cb9014a7-8850-4729-95f0-05f2dba64f1c","leftValue":"={{ $json.link_attachments }}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[528,160],"id":"1172fadd-e7bb-4ffa-a0c2-2fefcbbb0638","name":"Check Link Attachment"},{"parameters":{"url":"={{ $json.link_attachments[0].payload.url }}","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"c3bb3010-95a6-4400-bac3-3bf36c82d809","name":"Download Link Voice","type":"n8n-nodes-base.httpRequest","position":[752,144],"typeVersion":4.3},{"parameters":{"url":"={{ $json.attachments[0].payload.url }}","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"a4212eca-673d-4464-89d0-736e8ab5f705","name":"Download Voice","type":"n8n-nodes-base.httpRequest","position":[528,-16],"typeVersion":4.3},{"parameters":{"resource":"file","fileId":"={{ $json.attachments[0].file_id }}","additionalFields":{"mimeType":"audio/ogg;codecs=opus"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[320,336],"id":"89f53923-7003-4da9-af37-96d00659b500","name":"Get a file","webhookId":"5dfbc6fa-e1af-4a6d-bad0-0c0cee8ce156","credentials":{"telegramApi":{"id":"Mbdkc2ku7akrOdGS","name":"Telegram Demo Bot account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"121fb331-9533-483c-b6a9-d569fc54eb11","leftValue":"={{ $json.messenger_type }}","rightValue":"max","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[80,256],"id":"e7252708-8e9a-4e1f-be91-50cc80c7050a","name":"Check Messenger type"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Check Messenger type","type":"main","index":0}]]},"Check Attachment":{"main":[[{"node":"Download Voice","type":"main","index":0}],[{"node":"Check Link Attachment","type":"main","index":0}]]},"Check Link Attachment":{"main":[[{"node":"Download Link Voice","type":"main","index":0}]]},"Download Voice":{"main":[[]]},"Check Messenger type":{"main":[[{"node":"Check Attachment","type":"main","index":0}],[{"node":"Get a file","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"60e581df-23fd-4dc0-ba43-1c7bb2c17851","activeVersionId":"60e581df-23fd-4dc0-ba43-1c7bb2c17851","triggerCount":0,"shared":[{"updatedAt":"2026-02-11T14:41:51.720Z","createdAt":"2026-02-11T14:41:51.720Z","role":"workflow:owner","workflowId":"bCVDwdRKBnzt8N7I","projectId":"rPoiFFCZqHU6mXAS"}],"activeVersion":{"updatedAt":"2026-02-12T18:09:50.521Z","createdAt":"2026-02-12T18:09:46.527Z","versionId":"60e581df-23fd-4dc0-ba43-1c7bb2c17851","workflowId":"bCVDwdRKBnzt8N7I","nodes":[{"parameters":{"inputSource":"passthrough"},"id":"3832aacb-1c43-4393-a7eb-2de380439943","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-128,256]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"cb9014a7-8850-4729-95f0-05f2dba64f1c","leftValue":"={{ $json.attachments }}","rightValue":"max","operator":{"type":"array","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[320,144],"id":"545430e2-88c0-42db-95d3-6d455cc6d9af","name":"Check Attachment"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"cb9014a7-8850-4729-95f0-05f2dba64f1c","leftValue":"={{ $json.link_attachments }}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[528,160],"id":"1172fadd-e7bb-4ffa-a0c2-2fefcbbb0638","name":"Check Link Attachment"},{"parameters":{"url":"={{ $json.link_attachments[0].payload.url }}","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"c3bb3010-95a6-4400-bac3-3bf36c82d809","name":"Download Link Voice","type":"n8n-nodes-base.httpRequest","position":[752,144],"typeVersion":4.3},{"parameters":{"url":"={{ $json.attachments[0].payload.url }}","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"a4212eca-673d-4464-89d0-736e8ab5f705","name":"Download Voice","type":"n8n-nodes-base.httpRequest","position":[528,-16],"typeVersion":4.3},{"parameters":{"resource":"file","fileId":"={{ $json.attachments[0].file_id }}","additionalFields":{"mimeType":"audio/ogg;codecs=opus"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[320,336],"id":"89f53923-7003-4da9-af37-96d00659b500","name":"Get a file","webhookId":"5dfbc6fa-e1af-4a6d-bad0-0c0cee8ce156","credentials":{"telegramApi":{"id":"Mbdkc2ku7akrOdGS","name":"Telegram Demo Bot account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"121fb331-9533-483c-b6a9-d569fc54eb11","leftValue":"={{ $json.messenger_type }}","rightValue":"max","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[80,256],"id":"e7252708-8e9a-4e1f-be91-50cc80c7050a","name":"Check Messenger type"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Check Messenger type","type":"main","index":0}]]},"Check Attachment":{"main":[[{"node":"Download Voice","type":"main","index":0}],[{"node":"Check Link Attachment","type":"main","index":0}]]},"Check Link Attachment":{"main":[[{"node":"Download Link Voice","type":"main","index":0}]]},"Download Voice":{"main":[[]]},"Check Messenger type":{"main":[[{"node":"Check Attachment","type":"main","index":0}],[{"node":"Get a file","type":"main","index":0}]]}},"authors":"AIKona me","name":"Version 60e581df","description":"","autosaved":true},"tags":[]}