Main agent.json
{"updatedAt":"2026-02-10T09:31:45.367Z","createdAt":"2026-02-09T13:32:10.596Z","id":"PbFIMK80tt-YW46M7KuKw","name":"Main agent","active":false,"isArchived":true,"nodes":[{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"id":"58b52f41-b4ea-4464-a05b-5217885cce92","name":"Transcribe","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[192,0]},{"parameters":{"updates":["message"],"additionalFields":{}},"id":"b182aefa-0f7b-4daa-9af8-8f3f62236458","name":"Телеграм триггер","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-416,144],"webhookId":"99eab1a0-569d-4f0f-a49e-578a02abfe63"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8c844924-b2ed-48b0-935c-c66a8fd0c778","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"}]},"options":{}},"id":"9f6bd38a-b63d-49cb-927b-b7cd7c8f0727","name":"Свич","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-256,144]},{"parameters":{"assignments":{"assignments":[{"id":"fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234","name":"text","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"id":"22c74f06-a62d-4ff7-be8a-e31cccafb60e","name":"текст","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[112,208]},{"parameters":{"chatId":"={{ $('Телеграм триггер').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"id":"c96c77f1-2e8f-40be-85cb-24f2a99bf45e","name":"Телеграм ответ","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[848,80],"webhookId":"5dced4b9-5066-4036-a4d4-14fc07edd53c"},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}","additionalFields":{}},"id":"1e63e87a-570d-4869-8026-35ae515cbf13","name":"скачать файл","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[0,0],"webhookId":"83bb7385-33f6-4105-8294-1a91c0ebbee5"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Телеграм триггер').item.json.message.chat.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[432,368],"id":"74a786f8-1109-4fdd-bc02-4d1dc2e2721b","name":"память"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[352,240],"id":"fdd5c7c7-9ad3-4567-ae03-360d9d1e49a5","name":"LLM"},{"parameters":{"promptType":"define","text":"={{ $json.text }}","options":{"systemMessage":"=# Review\n\nYou are the perfect personal assistant. Your job is to send the user's request to the right tool. You don't have to write emails or even create a resume, you just need to call up the right tool.\n\n## Tools\n\n- emailAgent: Use this tool to perform an action in an email\n- calendarAgent: Use this tool to perform actions on a calendar\n- contactAgent: Use this tool to retrieve, update, or add contacts\n- Zoom Agent: Use this tool to create calls and appointments\n- Web Search Agent: Use this tool to search the web.\n\n## Rules\n\n- Some actions require that you first find contact information. The following actions require you to get the contact information and send it to the agent who needs it:\n  - sending emails\n  - composing emails\n  - creating a calendar event with a participant\n  - creating scaled calls\n\n## Examples\n \n- Input: send an email to Sam Altman asking him what time he wants to leave.\n  - Actions: Use ContactAgent to retrieve Sam Altman's email address\n  - Actions: Use emailAgent to send an email. You will pass the tool a request like “send Sam Altman an email asking him what time he wants to leave. here is his email: [email address].\n- Exit: The email has been sent to Sam Altman. What else can I do for you?\n\n\n## Last Reminders\nHere is the current date/time: {{ $now }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[480,80],"id":"7df53c02-e87b-4491-9e62-237983124340","name":"Main agent"},{"parameters":{"name":"emailAgent","description":"Call this tool for any email actions.","workflowId":{"__rl":true,"value":"jjb6XvjlfDYMQpRt","mode":"list","cachedResultName":"eMail Agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[544,400],"id":"11db6408-5350-4915-b1d2-9b608d5f3adc","name":"eMail Agent"},{"parameters":{"name":"calendarAgent","description":"Call this tool for any calendar action.","workflowId":{"__rl":true,"value":"bN0BCwauEICzVFx1","mode":"list","cachedResultName":"Calendar agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[672,432],"id":"ba2c7506-896d-4165-91d0-43efc036b224","name":"Calendar agent"},{"parameters":{"name":"contactAgent","description":"Call this tool for any contact related actions.","workflowId":{"__rl":true,"value":"5ykTpdP2q6SAHL1q","mode":"list","cachedResultName":"Contacts agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2,"position":[800,432],"id":"9f4bc5f6-80b3-414b-9f1b-fdd36b437337","name":"Contacts agent"},{"parameters":{"description":"Call out this tool to search the internet","workflowId":{"__rl":true,"value":"r5FuZtg2m8JFX7qe","mode":"list","cachedResultName":"Web search agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[1088,400],"id":"22fd1eb6-27a1-423e-a84b-901e4a75f597","name":"Web search agent"},{"parameters":{"description":"Call this tool to schedule calls and meetings","workflowId":{"__rl":true,"value":"Gy3LeJVd4GIVVPhd","mode":"list","cachedResultName":"Zoom agent"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[928,400],"id":"c71becf9-deb7-4821-9e9d-ecbd47fbeca1","name":"Zoom agent"},{"parameters":{"content":"# Ссылки:\n\n## Open AI API\n## https://platform.openai.com\n\n## OpenRouter\n## https://openrouter.ai\n\n## Wanttopay сайт(СПАСИБО!)\n## https://wanttopay.net/?pid=DCVLH\n\n## Wanttopay тг бот (СПАСИБО!)\n## https://t.me/WantToPayBot?start=w17851188--DCVLH\n\n","height":560,"width":500},"type":"n8n-nodes-base.stickyNote","position":[-464,400],"typeVersion":1,"id":"6ba0a011-154b-4d68-857d-f3497909eefa","name":"Sticky Note"}],"connections":{"Transcribe":{"main":[[{"node":"Main agent","type":"main","index":0}]]},"Телеграм триггер":{"main":[[{"node":"Свич","type":"main","index":0}]]},"Свич":{"main":[[{"node":"скачать файл","type":"main","index":0}],[{"node":"текст","type":"main","index":0}]]},"текст":{"main":[[{"node":"Main agent","type":"main","index":0}]]},"скачать файл":{"main":[[{"node":"Transcribe","type":"main","index":0}]]},"память":{"ai_memory":[[{"node":"Main agent","type":"ai_memory","index":0}]]},"LLM":{"ai_languageModel":[[{"node":"Main agent","type":"ai_languageModel","index":0}]]},"Main agent":{"main":[[{"node":"Телеграм ответ","type":"main","index":0}]]},"eMail Agent":{"ai_tool":[[{"node":"Main agent","type":"ai_tool","index":0}]]},"Calendar agent":{"ai_tool":[[{"node":"Main agent","type":"ai_tool","index":0}]]},"Contacts agent":{"ai_tool":[[{"node":"Main agent","type":"ai_tool","index":0}]]},"Web search agent":{"ai_tool":[[{"node":"Main agent","type":"ai_tool","index":0}]]},"Zoom agent":{"ai_tool":[[{"node":"Main agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"7eadbb21-a805-4656-9676-e3a002cfbc8d","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-09T13:32:10.596Z","createdAt":"2026-02-09T13:32:10.596Z","role":"workflow:owner","workflowId":"PbFIMK80tt-YW46M7KuKw","projectId":"rPoiFFCZqHU6mXAS"}],"activeVersion":null,"tags":[]}