Max Assistant.json
{"updatedAt":"2026-02-12T18:19:57.436Z","createdAt":"2026-02-11T08:26:38.970Z","id":"4NsZFA0xd7ey6Nfz","name":"Max Assistant","active":true,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"30b4a241-83e0-46ac-80c5-3908604b8355","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.user_id }}","rightValue":"=50488534"}],"combinator":"and"},"looseTypeValidation":true,"options":{"ignoreCase":true}},"id":"fe6df8cf-10cc-4fc1-9489-362d5255daa1","name":"Check User","type":"n8n-nodes-base.if","position":[-1056,240],"typeVersion":2.2},{"parameters":{"events":["message_created","message_chat_created","message_edited","bot_started"],"additionalFields":{}},"type":"n8n-nodes-max.maxTrigger","typeVersion":1,"position":[-1440,240],"id":"4fb66631-ef9e-4090-8484-e5027b7bf65c","name":"Max Trigger","webhookId":"71b1b2f0-efdb-4594-8ee8-9419e0c1621b","credentials":{"maxApi":{"id":"BztuT1mHDbgKhYGf","name":"Max Prod Bot account"}}},{"parameters":{"sendTo":"chat","chatId":"={{ $('Max Trigger').item.json.message.recipient.chat_id }}","text":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-max.max","typeVersion":1,"position":[-624,224],"id":"c9e52bd0-e7c6-403e-bce0-b3458b6ccd4c","name":"Send answer","credentials":{"maxApi":{"id":"BztuT1mHDbgKhYGf","name":"Max Prod Bot account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"VmqRxUfBdXaUT6Gb_crlm","mode":"list","cachedResultUrl":"/workflow/VmqRxUfBdXaUT6Gb_crlm","cachedResultName":"Processing Chat Message"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-832,224],"id":"b2bad8f3-0a1e-40c7-a4f1-cd33a2357e8f","name":"Call 'Processing Chat Message'"},{"parameters":{"assignments":{"assignments":[{"id":"49acbe0d-4403-4905-bd75-b69f221b5212","name":"messenger_type","value":"max","type":"string"},{"id":"378fc529-4b9e-43ff-85bf-0dfb9efb5524","name":"chat_id","value":"={{ $json.message.recipient.chat_id }}","type":"string"},{"id":"0c755979-cdd0-4abe-8575-954c17c6010f","name":"user_name","value":"={{ $json.message.sender.first_name }}","type":"string"},{"id":"e5cc0585-1f18-424d-98f1-5292e67a0309","name":"user_id","value":"={{ $json.message.recipient.user_id }}","type":"number"},{"id":"8bd654b2-a26c-47cf-80d1-713d90dfbba9","name":"has_text","value":"={{ ($json.message.body.text != null && $json.message.body.text != '') || ($json.message.link.message.body.text != null && $json.message.link.message.body.text != '') }}","type":"boolean"},{"id":"21632d8a-d3a8-4ae0-9347-7e8368e825d1","name":"has_attachments","value":"={{ ($json.message.body.attachments != null && $json.message.body.attachments[0].type != 'audio') || ($json.message.link.message.attachments != null && $json.message.link.message.attachments[0].type != 'audio')}}","type":"boolean"},{"id":"21037b4d-203b-4a53-b8b0-f38c902511f1","name":"has_voice","value":"={{ ($json.message.body.attachments != null && $json.message.body.attachments[0].type === 'audio') || ($json.message.link.message.attachments != null && $json.message.link.message.attachments[0].type === 'audio') }}","type":"boolean"},{"id":"d7a43671-3b71-484d-a812-b8a624f4d515","name":"message_text","value":"={{ $json.message.body.text }}","type":"string"},{"id":"ad3e2fe2-dda8-45ae-bb1f-86fc45adfdd9","name":"attachments","value":"={{ $json.message.body.attachments }}","type":"array"},{"id":"5f403beb-f79a-4791-943f-a22923f58171","name":"link_attachments","value":"={{ $json.message.link.message.attachments }}","type":"array"},{"id":"1af3b882-9343-4b75-a426-bf101b8d4df6","name":"link_message_text","value":"={{ $json.message.link.message.text }}","type":"string"}]},"includeOtherFields":true,"include":"selected","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1232,240],"id":"83f1123b-b8e8-4cbf-8e13-3f52440f8661","name":"Edit Fields"}],"connections":{"Check User":{"main":[[{"node":"Call 'Processing Chat Message'","type":"main","index":0}]]},"Max Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Call 'Processing Chat Message'":{"main":[[{"node":"Send answer","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Check User","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0e258328-e07c-43f5-9dd8-ecee3a685d55","activeVersionId":"0e258328-e07c-43f5-9dd8-ecee3a685d55","triggerCount":1,"shared":[{"updatedAt":"2026-02-11T08:26:38.970Z","createdAt":"2026-02-11T08:26:38.970Z","role":"workflow:owner","workflowId":"4NsZFA0xd7ey6Nfz","projectId":"rPoiFFCZqHU6mXAS"}],"activeVersion":{"updatedAt":"2026-02-12T18:20:18.325Z","createdAt":"2026-02-12T18:19:57.437Z","versionId":"0e258328-e07c-43f5-9dd8-ecee3a685d55","workflowId":"4NsZFA0xd7ey6Nfz","nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"30b4a241-83e0-46ac-80c5-3908604b8355","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.user_id }}","rightValue":"=50488534"}],"combinator":"and"},"looseTypeValidation":true,"options":{"ignoreCase":true}},"id":"fe6df8cf-10cc-4fc1-9489-362d5255daa1","name":"Check User","type":"n8n-nodes-base.if","position":[-1056,240],"typeVersion":2.2},{"parameters":{"events":["message_created","message_chat_created","message_edited","bot_started"],"additionalFields":{}},"type":"n8n-nodes-max.maxTrigger","typeVersion":1,"position":[-1440,240],"id":"4fb66631-ef9e-4090-8484-e5027b7bf65c","name":"Max Trigger","webhookId":"71b1b2f0-efdb-4594-8ee8-9419e0c1621b","credentials":{"maxApi":{"id":"BztuT1mHDbgKhYGf","name":"Max Prod Bot account"}}},{"parameters":{"sendTo":"chat","chatId":"={{ $('Max Trigger').item.json.message.recipient.chat_id }}","text":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-max.max","typeVersion":1,"position":[-624,224],"id":"c9e52bd0-e7c6-403e-bce0-b3458b6ccd4c","name":"Send answer","credentials":{"maxApi":{"id":"BztuT1mHDbgKhYGf","name":"Max Prod Bot account"}}},{"parameters":{"workflowId":{"__rl":true,"value":"VmqRxUfBdXaUT6Gb_crlm","mode":"list","cachedResultUrl":"/workflow/VmqRxUfBdXaUT6Gb_crlm","cachedResultName":"Processing Chat Message"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-832,224],"id":"b2bad8f3-0a1e-40c7-a4f1-cd33a2357e8f","name":"Call 'Processing Chat Message'"},{"parameters":{"assignments":{"assignments":[{"id":"49acbe0d-4403-4905-bd75-b69f221b5212","name":"messenger_type","value":"max","type":"string"},{"id":"378fc529-4b9e-43ff-85bf-0dfb9efb5524","name":"chat_id","value":"={{ $json.message.recipient.chat_id }}","type":"string"},{"id":"0c755979-cdd0-4abe-8575-954c17c6010f","name":"user_name","value":"={{ $json.message.sender.first_name }}","type":"string"},{"id":"e5cc0585-1f18-424d-98f1-5292e67a0309","name":"user_id","value":"={{ $json.message.recipient.user_id }}","type":"number"},{"id":"8bd654b2-a26c-47cf-80d1-713d90dfbba9","name":"has_text","value":"={{ ($json.message.body.text != null && $json.message.body.text != '') || ($json.message.link.message.body.text != null && $json.message.link.message.body.text != '') }}","type":"boolean"},{"id":"21632d8a-d3a8-4ae0-9347-7e8368e825d1","name":"has_attachments","value":"={{ ($json.message.body.attachments != null && $json.message.body.attachments[0].type != 'audio') || ($json.message.link.message.attachments != null && $json.message.link.message.attachments[0].type != 'audio')}}","type":"boolean"},{"id":"21037b4d-203b-4a53-b8b0-f38c902511f1","name":"has_voice","value":"={{ ($json.message.body.attachments != null && $json.message.body.attachments[0].type === 'audio') || ($json.message.link.message.attachments != null && $json.message.link.message.attachments[0].type === 'audio') }}","type":"boolean"},{"id":"d7a43671-3b71-484d-a812-b8a624f4d515","name":"message_text","value":"={{ $json.message.body.text }}","type":"string"},{"id":"ad3e2fe2-dda8-45ae-bb1f-86fc45adfdd9","name":"attachments","value":"={{ $json.message.body.attachments }}","type":"array"},{"id":"5f403beb-f79a-4791-943f-a22923f58171","name":"link_attachments","value":"={{ $json.message.link.message.attachments }}","type":"array"},{"id":"1af3b882-9343-4b75-a426-bf101b8d4df6","name":"link_message_text","value":"={{ $json.message.link.message.text }}","type":"string"}]},"includeOtherFields":true,"include":"selected","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1232,240],"id":"83f1123b-b8e8-4cbf-8e13-3f52440f8661","name":"Edit Fields"}],"connections":{"Check User":{"main":[[{"node":"Call 'Processing Chat Message'","type":"main","index":0}]]},"Max Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Call 'Processing Chat Message'":{"main":[[{"node":"Send answer","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Check User","type":"main","index":0}]]}},"authors":"AIKona me","name":"Version 0e258328","description":"","autosaved":true},"tags":[]}