Max Assistant DEMO.json
{"updatedAt":"2026-02-13T06:36:49.095Z","createdAt":"2026-02-11T14:41:28.038Z","id":"xoqXy89EJRm8NJ6u","name":"Max Assistant DEMO","active":true,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"30b4a241-83e0-46ac-80c5-3908604b8355","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.user_id }}","rightValue":"=50488534"}],"combinator":"and"},"looseTypeValidation":true,"options":{"ignoreCase":true}},"id":"b236064b-fd17-41b7-a7cd-83e3bff10e37","name":"Check User","type":"n8n-nodes-base.if","position":[-1056,240],"typeVersion":2.2},{"parameters":{"events":["message_created","message_chat_created","message_edited","bot_started"],"additionalFields":{}},"type":"n8n-nodes-max.maxTrigger","typeVersion":1,"position":[-1440,240],"id":"da396e47-af7a-4bf6-8d84-59873c88f7e8","name":"Max Trigger","webhookId":"5ff5a379-789d-4ded-b80a-a48f7674e8c6","credentials":{"maxApi":{"id":"jZpTYv3jDNKbpIuw","name":"Max Demo Bot account"}}},{"parameters":{"sendTo":"chat","chatId":"={{ $('Max Trigger').item.json.message.recipient.chat_id }}","text":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-max.max","typeVersion":1,"position":[-624,224],"id":"33909514-e90f-4f69-8aaa-58513da3ec84","name":"Send answer","credentials":{"maxApi":{"id":"jZpTYv3jDNKbpIuw","name":"Max Demo Bot account"}}},{"parameters":{"assignments":{"assignments":[{"id":"49acbe0d-4403-4905-bd75-b69f221b5212","name":"messenger_type","value":"max","type":"string"},{"id":"378fc529-4b9e-43ff-85bf-0dfb9efb5524","name":"chat_id","value":"={{ $json.message.recipient.chat_id }}","type":"string"},{"id":"0c755979-cdd0-4abe-8575-954c17c6010f","name":"user_name","value":"={{ $json.message.sender.first_name }}","type":"string"},{"id":"e5cc0585-1f18-424d-98f1-5292e67a0309","name":"user_id","value":"={{ $json.message.recipient.user_id }}","type":"number"},{"id":"8bd654b2-a26c-47cf-80d1-713d90dfbba9","name":"has_text","value":"={{ ($json.message.body.text != null && $json.message.body.text != '') || ($json.message.link.message.body.text != null && $json.message.link.message.body.text != '') }}","type":"boolean"},{"id":"21632d8a-d3a8-4ae0-9347-7e8368e825d1","name":"has_attachments","value":"={{ ($json.message.body.attachments != null && $json.message.body.attachments[0].type != 'audio') || ($json.message.link.message.attachments != null && $json.message.link.message.attachments[0].type != 'audio')}}","type":"boolean"},{"id":"21037b4d-203b-4a53-b8b0-f38c902511f1","name":"has_voice","value":"={{ ($json.message.body.attachments != null && $json.message.body.attachments[0].type === 'audio') || ($json.message.link.message.attachments != null && $json.message.link.message.attachments[0].type === 'audio') }}","type":"boolean"},{"id":"d7a43671-3b71-484d-a812-b8a624f4d515","name":"message_text","value":"={{ $json.message.body.text }}","type":"string"},{"id":"ad3e2fe2-dda8-45ae-bb1f-86fc45adfdd9","name":"attachments","value":"={{ $json.message.body.attachments }}","type":"array"},{"id":"5f403beb-f79a-4791-943f-a22923f58171","name":"link_attachments","value":"={{ $json.message.link.message.attachments }}","type":"array"},{"id":"1af3b882-9343-4b75-a426-bf101b8d4df6","name":"link_message_text","value":"={{ $json.message.link.message.text }}","type":"string"}]},"includeOtherFields":true,"include":"selected","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1232,240],"id":"ee122c11-8e66-49b6-9901-340a1a74d47d","name":"Edit Fields"},{"parameters":{"workflowId":{"__rl":true,"value":"Nls4ZawKhSxNpSoe","mode":"list","cachedResultUrl":"/workflow/Nls4ZawKhSxNpSoe","cachedResultName":"Processing Chat Message DEMO"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-832,224],"id":"4590c36f-a2ef-406f-94e5-e74df8c72369","name":"Call 'Processing Chat Message DEMO'"}],"connections":{"Check User":{"main":[[{"node":"Call 'Processing Chat Message DEMO'","type":"main","index":0}]]},"Max Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Check User","type":"main","index":0}]]},"Call 'Processing Chat Message DEMO'":{"main":[[{"node":"Send answer","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d392d020-c402-4224-87df-971e04980c5e","activeVersionId":"d392d020-c402-4224-87df-971e04980c5e","triggerCount":1,"shared":[{"updatedAt":"2026-02-11T14:41:28.038Z","createdAt":"2026-02-11T14:41:28.038Z","role":"workflow:owner","workflowId":"xoqXy89EJRm8NJ6u","projectId":"rPoiFFCZqHU6mXAS"}],"activeVersion":{"updatedAt":"2026-02-13T06:36:58.191Z","createdAt":"2026-02-13T06:36:34.630Z","versionId":"d392d020-c402-4224-87df-971e04980c5e","workflowId":"xoqXy89EJRm8NJ6u","nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"30b4a241-83e0-46ac-80c5-3908604b8355","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.user_id }}","rightValue":"=50488534"}],"combinator":"and"},"looseTypeValidation":true,"options":{"ignoreCase":true}},"id":"b236064b-fd17-41b7-a7cd-83e3bff10e37","name":"Check User","type":"n8n-nodes-base.if","position":[-1056,240],"typeVersion":2.2},{"parameters":{"events":["message_created","message_chat_created","message_edited","bot_started"],"additionalFields":{}},"type":"n8n-nodes-max.maxTrigger","typeVersion":1,"position":[-1440,240],"id":"da396e47-af7a-4bf6-8d84-59873c88f7e8","name":"Max Trigger","webhookId":"5ff5a379-789d-4ded-b80a-a48f7674e8c6","credentials":{"maxApi":{"id":"jZpTYv3jDNKbpIuw","name":"Max Demo Bot account"}}},{"parameters":{"sendTo":"chat","chatId":"={{ $('Max Trigger').item.json.message.recipient.chat_id }}","text":"={{ $json.output }}","additionalFields":{}},"type":"n8n-nodes-max.max","typeVersion":1,"position":[-624,224],"id":"33909514-e90f-4f69-8aaa-58513da3ec84","name":"Send answer","credentials":{"maxApi":{"id":"jZpTYv3jDNKbpIuw","name":"Max Demo Bot account"}}},{"parameters":{"assignments":{"assignments":[{"id":"49acbe0d-4403-4905-bd75-b69f221b5212","name":"messenger_type","value":"max","type":"string"},{"id":"378fc529-4b9e-43ff-85bf-0dfb9efb5524","name":"chat_id","value":"={{ $json.message.recipient.chat_id }}","type":"string"},{"id":"0c755979-cdd0-4abe-8575-954c17c6010f","name":"user_name","value":"={{ $json.message.sender.first_name }}","type":"string"},{"id":"e5cc0585-1f18-424d-98f1-5292e67a0309","name":"user_id","value":"={{ $json.message.recipient.user_id }}","type":"number"},{"id":"8bd654b2-a26c-47cf-80d1-713d90dfbba9","name":"has_text","value":"={{ ($json.message.body.text != null && $json.message.body.text != '') || ($json.message.link.message.body.text != null && $json.message.link.message.body.text != '') }}","type":"boolean"},{"id":"21632d8a-d3a8-4ae0-9347-7e8368e825d1","name":"has_attachments","value":"={{ ($json.message.body.attachments != null && $json.message.body.attachments[0].type != 'audio') || ($json.message.link.message.attachments != null && $json.message.link.message.attachments[0].type != 'audio')}}","type":"boolean"},{"id":"21037b4d-203b-4a53-b8b0-f38c902511f1","name":"has_voice","value":"={{ ($json.message.body.attachments != null && $json.message.body.attachments[0].type === 'audio') || ($json.message.link.message.attachments != null && $json.message.link.message.attachments[0].type === 'audio') }}","type":"boolean"},{"id":"d7a43671-3b71-484d-a812-b8a624f4d515","name":"message_text","value":"={{ $json.message.body.text }}","type":"string"},{"id":"ad3e2fe2-dda8-45ae-bb1f-86fc45adfdd9","name":"attachments","value":"={{ $json.message.body.attachments }}","type":"array"},{"id":"5f403beb-f79a-4791-943f-a22923f58171","name":"link_attachments","value":"={{ $json.message.link.message.attachments }}","type":"array"},{"id":"1af3b882-9343-4b75-a426-bf101b8d4df6","name":"link_message_text","value":"={{ $json.message.link.message.text }}","type":"string"}]},"includeOtherFields":true,"include":"selected","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1232,240],"id":"ee122c11-8e66-49b6-9901-340a1a74d47d","name":"Edit Fields"},{"parameters":{"workflowId":{"__rl":true,"value":"Nls4ZawKhSxNpSoe","mode":"list","cachedResultUrl":"/workflow/Nls4ZawKhSxNpSoe","cachedResultName":"Processing Chat Message DEMO"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-832,224],"id":"4590c36f-a2ef-406f-94e5-e74df8c72369","name":"Call 'Processing Chat Message DEMO'"}],"connections":{"Check User":{"main":[[{"node":"Call 'Processing Chat Message DEMO'","type":"main","index":0}]]},"Max Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Check User","type":"main","index":0}]]},"Call 'Processing Chat Message DEMO'":{"main":[[{"node":"Send answer","type":"main","index":0}]]}},"authors":"AIKona me","name":"Version d392d020","description":"","autosaved":true},"tags":[]}