MaxAssistent.json
{"updatedAt":"2026-02-10T12:07:43.102Z","createdAt":"2026-02-09T15:50:12.182Z","id":"ysckJp0Hxb8kDzKC_pWlD","name":"MaxAssistent","active":false,"isArchived":true,"nodes":[{"parameters":{"userId":"={{ $('Max Trigger1').item.json.metadata.user_context.user_id }}","text":"This is a test bot. You cannot use it. To learn how to set it up, check here: https://www.youtube.com/@Aimaginelife","additionalFields":{}},"id":"2001178d-e474-460a-9f07-37387adbb244","name":"Access Denied","type":"n8n-nodes-max.max","position":[1184,784],"typeVersion":1,"credentials":{"maxApi":{"id":"jZpTYv3jDNKbpIuw","name":"Max account"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"loose"},"combinator":"and","conditions":[{"id":"30b4a241-83e0-46ac-80c5-3908604b8355","operator":{"type":"number","operation":"equals"},"leftValue":"={{ $json.metadata.user_context.user_id }}","rightValue":"=50488534"}]},"looseTypeValidation":true,"options":{}},"id":"d24b5e57-e179-465b-a6ba-55b17844834f","name":"Check User","type":"n8n-nodes-base.if","position":[1200,528],"typeVersion":2.2},{"parameters":{"method":"POST","url":"https://ngw.devices.sberbank.ru:9443/api/v2/oauth","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"RqUID","value":"={{ 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) { var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8); return v.toString(16); }) }}"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"scope","value":"SALUTE_SPEECH_PERS"}]},"options":{"allowUnauthorizedCerts":true,"redirect":{"redirect":{}}}},"id":"d0956b08-0974-419a-b068-c692e265e0a4","name":"Get Access Token","type":"n8n-nodes-base.httpRequest","position":[2272,320],"typeVersion":4.3},{"parameters":{"method":"POST","url":"https://smartspeech.sber.ru/rest/v1/speech:recognize","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"model","value":"general"},{"name":"enable_profanity_filter","value":"false"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{"allowUnauthorizedCerts":true,"redirect":{"redirect":{}}}},"id":"7ebae214-5c2e-495e-b642-39da65d5e324","name":"Get Response","type":"n8n-nodes-base.httpRequest","position":[2720,416],"typeVersion":4.3,"credentials":{"httpBearerAuth":{"id":"ROLxpxJseXeqURb2","name":"SaluteSpeech API account"}}},{"parameters":{"userId":"={{ $('Max Trigger1').item.json.metadata.user_context.user_id }}","text":"={{ $json.output }}","additionalFields":{}},"id":"3f34c236-47b6-4d1a-82b7-560e4f1dc305","name":"Send Message","type":"n8n-nodes-max.max","position":[3776,512],"typeVersion":1,"credentials":{"maxApi":{"id":"jZpTYv3jDNKbpIuw","name":"Max account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"10d834ee-e759-4d11-a864-4927a8b032de","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $json.message.body.attachments[0].payload.url }}","rightValue":"file"}]},"renameOutput":true,"outputKey":"Attachment"}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Other"}},"id":"9c177ebd-1216-4229-8d97-e314f9dd18b4","name":"Text/Attachment","type":"n8n-nodes-base.switch","position":[1504,512],"typeVersion":3.3},{"parameters":{"rules":{"values":[{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"0b09d62e-aaee-400e-a33e-5d43fa157109","operator":{"name":"filter.operator.equals","type":"string","operation":"equals"},"leftValue":"={{ $json.message.body.attachments[0].type }}","rightValue":"audio"}]},"renameOutput":true,"outputKey":"Voice"}]},"options":{}},"id":"0af235ef-fab8-4564-8188-b6b4bda172db","name":"Attachment Router","type":"n8n-nodes-base.switch","position":[2000,432],"typeVersion":3.3},{"parameters":{"url":"={{ $json.message.body.attachments[0].payload.url }}","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"464585bd-7fd3-41d8-9d8a-60e32bbd00ba","name":"Download Attachment","type":"n8n-nodes-base.httpRequest","position":[1760,432],"typeVersion":4.3},{"parameters":{"assignments":{"assignments":[{"id":"b6f3835d-b9d6-42d1-b738-74b731b29846","name":"prompt","type":"string","value":"={{ $json.result[0] }}"}]},"options":{}},"id":"d278ffe4-1bc5-4601-aea4-fd2f9ebe7539","name":"Voice to Prompt","type":"n8n-nodes-base.set","position":[2896,416],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"9a930f27-a489-4d87-a21d-de563a97902b","name":"prompt","type":"string","value":"={{ $json.message.body.text }}"}]},"options":{}},"id":"d9dfde40-9a79-464d-b9be-0b7c992b4e79","name":"Text to Prompt","type":"n8n-nodes-base.set","position":[2240,864],"typeVersion":3.4},{"parameters":{},"id":"35a83e22-8def-41ba-93c4-4effdf09b92c","name":"Combine","type":"n8n-nodes-base.merge","position":[3168,512],"typeVersion":3.2},{"parameters":{"additionalFields":{}},"id":"a01a27c5-2cbc-44a4-9e8e-ce9988732252","name":"Max Trigger1","type":"n8n-nodes-max.maxTrigger","position":[976,528],"webhookId":"5b7641bd-6f73-462a-ab7c-149f72427efd","typeVersion":1,"credentials":{"maxApi":{"id":"jZpTYv3jDNKbpIuw","name":"Max account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Max Trigger1').item.json.metadata.user_context.user_id }}","contextWindowLength":10},"id":"399cbd04-daa6-4fb0-84dc-f40b1174273e","name":"Simple Memory1","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[3488,736],"typeVersion":1.3},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"id":"ae825377-0dbe-4427-bf5f-b923a02bcd49","name":"Merge1","type":"n8n-nodes-base.merge","position":[2496,416],"typeVersion":3.2},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}","options":{"systemMessage":"=You are an ideal personal assistant. Your name is Betsy. Your task is to be a friendly assistant and answer questions.\n\nUser name: {{ $('Max Trigger1').item.json.metadata.user_context.display_name }}\n\nYou can sometimes mention your developer Konstantin if it fits the conversation context.\nHis telegram channel: https://t.me/adept_ecommerce\nHis youtube channel: https://www.youtube.com/@Aimaginelife\n\n\n\n## Final Reminders\n- Date and time: {{ $now }}"}},"id":"051abd7d-a7cd-4fa4-a99d-546125bc7c72","name":"AI Agent1","type":"@n8n/n8n-nodes-langchain.agent","position":[3392,512],"typeVersion":3},{"parameters":{"model":"GigaChat","options":{}},"id":"3abca257-d6ca-48b2-b0d3-d07f2a0b013b","name":"GigaChat Model1","type":"n8n-nodes-gigachat.lmGigaChat","position":[3360,736],"typeVersion":1,"credentials":{"gigaChatApi":{"id":"52EXnDUz1rLK37WE","name":"GigaChat account"}}},{"parameters":{"content":"## Max AI Chatbot with Voice Recognition\n\nBuild an intelligent chatbot for Max messenger that handles text and voice messages using Russian AI - GigaChat and Sber SmartSpeech.\n\n### How it works\n\nWhen someone messages your Max bot, the workflow checks their user ID (for access control). Text messages go straight to the AI, while voice messages are first sent to Sber SmartSpeech for transcription. The GigaChat AI then generates responses while remembering your last 10 messages. All replies are sent back through Max automatically.\n\n### Setup steps\n\n1. **Connect accounts:** Add your Max bot credentials (get them at https://business.max.ru/) to \"Max Trigger\", \"Send Message\", and \"Access Denied\" nodes. Add GigaChat credentials to \"GigaChat Model\" node. Add Sber authorization to \"Get Access Token\" and \"Get Response\" nodes.\n2. **Set access control:** Open \"Check User\" node and change the user_id (50488534) to your Max user ID. This prevents unauthorized access.\n3. **Customize personality:** Open \"AI Agent\" node and edit the system message to change bot name, behavior, and add your own links or information.\n4. **Test it:** Send a text or voice message to your Max bot!\n\n### Notes\n\nThis workflow uses Russian AI services (GigaChat for chat, Sber for voice recognition) which are great alternatives to OpenAI for Russian-speaking users.","height":736,"width":592},"id":"16ca0f73-987c-4dbb-915d-8b65882ef59e","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[368,240],"typeVersion":1},{"parameters":{"content":"## Access Control\nChecks if user is authorized and blocks strangers. Use your ID instead of 50488534","height":720,"width":304,"color":7},"id":"59aad5a6-2312-4b77-b25b-990477c1821f","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[1104,240],"typeVersion":1},{"parameters":{"content":"## Attachment Router\nSeparates text messages from attachments (voice/files).","height":368,"width":304,"color":7},"id":"85ae6c41-afdd-426d-b0a3-17c8a0ca534e","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[1904,240],"typeVersion":1},{"parameters":{"content":"## Message Router\nSeparates text messages from attachments (text/files).","height":720,"width":304,"color":7},"id":"75d70d25-95ca-44dc-bc87-ca29c2c23fa1","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[1424,240],"typeVersion":1},{"parameters":{"content":"## Voice Processing\nDownloads voice, gets Sber token, transcribes audio to text.","height":368,"width":816,"color":7},"id":"7e738d97-56ad-449d-bdf6-2f1f1bbaa94a","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[2224,240],"typeVersion":1},{"parameters":{"content":"## AI Response\nGigaChat generates replies with 10-message conversation memory.","height":640,"width":400,"color":7},"id":"8d707d27-2238-4046-afb0-1be72e318605","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[3296,240],"typeVersion":1}],"connections":{"Merge1":{"main":[[{"node":"Get Response","type":"main","index":0}]]},"Combine":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Send Message","type":"main","index":0}]]},"Check User":{"main":[[{"node":"Text/Attachment","type":"main","index":0}],[{"node":"Access Denied","type":"main","index":0}]]},"Get Response":{"main":[[{"node":"Voice to Prompt","type":"main","index":0}]]},"Max Trigger1":{"main":[[{"node":"Check User","type":"main","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"AI Agent1","type":"ai_memory","index":0}]]},"Text to Prompt":{"main":[[{"node":"Combine","type":"main","index":1}]]},"GigaChat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Text/Attachment":{"main":[[{"node":"Download Attachment","type":"main","index":0}],[{"node":"Text to Prompt","type":"main","index":0}]]},"Voice to Prompt":{"main":[[{"node":"Combine","type":"main","index":0}]]},"Get Access Token":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Attachment Router":{"main":[[{"node":"Get Access Token","type":"main","index":0},{"node":"Merge1","type":"main","index":1}]]},"Download Attachment":{"main":[[{"node":"Attachment Router","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateId":"12022","templateCredsSetupCompleted":true},"pinData":{},"versionId":"34083ed2-be87-4490-96f7-c53acc8c402f","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-09T15:50:12.182Z","createdAt":"2026-02-09T15:50:12.182Z","role":"workflow:owner","workflowId":"ysckJp0Hxb8kDzKC_pWlD","projectId":"rPoiFFCZqHU6mXAS"}],"activeVersion":null,"tags":[]}