nano banana pro.json
{"updatedAt":"2026-02-10T09:31:41.267Z","createdAt":"2026-02-09T13:33:29.717Z","id":"MGws6Y9jwthznBes77vft","name":"nano banana pro","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-3-pro-image-preview:generateContent","authentication":"predefinedCredentialType","nodeCredentialType":"googlePalmApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": {{ JSON.stringify($json.chatInput) }}\n    }]\n  }],\n  \"generationConfig\": {\n    \"responseModalities\": [\"TEXT\", \"IMAGE\"],\n    \"imageConfig\": {\n      \"aspectRatio\": \"16:9\",\n      \"imageSize\": \"2K\"\n    }\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.3,"position":[224,0],"id":"5aa10e0d-3102-4668-bae5-b8ca03458701","name":"HTTP Request"},{"parameters":{"operation":"toBinary","sourceProperty":"candidates[0].content.parts[0].inlineData.data","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[432,0],"id":"b9bc8b87-6ff7-445d-bf5c-d0feb6452482","name":"Convert to File"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.4,"position":[0,0],"id":"19cac9ae-aec3-44ae-ba2e-a4f481db5e16","name":"When chat message received","webhookId":"cad31829-f258-4d70-ab8b-db1ab339aebc"}],"connections":{"HTTP Request":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"When chat message received":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"d3aaf5b1-51ee-479d-9209-4dc99173ca54","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-09T13:33:29.717Z","createdAt":"2026-02-09T13:33:29.717Z","role":"workflow:owner","workflowId":"MGws6Y9jwthznBes77vft","projectId":"rPoiFFCZqHU6mXAS"}],"activeVersion":null,"tags":[]}