PersonalAgent.json
{"updatedAt":"2026-02-14T20:09:07.121Z","createdAt":"2026-02-09T05:07:42.014Z","id":"r2Bg-SDb_CQTt5hUk5SdP","name":"PersonalAgent","active":false,"isArchived":true,"nodes":[{"parameters":{"operation":"getAll","calendar":{"__rl":true,"mode":"id","value":"=<insert email here>"},"options":{"timeMin":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}","timeMax":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}","fields":"=items(summary, start(dateTime))"}},"id":"74114ae7-4395-430b-b684-cb0c0bd3deac","name":"Google Calendar","type":"n8n-nodes-base.googleCalendarTool","position":[2896,576],"typeVersion":1.1},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Listen for incoming events').first().json.message.from.id }}"},"id":"387e9e65-9eec-450a-8ac3-d54fb018ecea","name":"Window Buffer Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[1648,592],"typeVersion":1.2},{"parameters":{"operation":"getAll","limit":20,"filters":{"labelIds":["INBOX"],"readStatus":"unread","receivedAfter":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Received_After', ``, 'string') }}","receivedBefore":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Received_Before', ``, 'string') }}"}},"id":"17895cc8-d17b-4e79-8e9f-0f4f7a62d7fd","name":"Get Email","type":"n8n-nodes-base.gmailTool","position":[2400,624],"webhookId":"a4ae7b5d-7686-4bee-a753-848932860b4e","typeVersion":2.1},{"parameters":{"updates":["message"],"additionalFields":{}},"id":"a9a3aa78-29c5-4066-8e65-d897d49a3c1a","name":"Listen for incoming events","type":"n8n-nodes-base.telegramTrigger","position":[512,240],"webhookId":"322dce18-f93e-4f86-b9b1-3305519b7834","typeVersion":1,"credentials":{"telegramApi":{"id":"Mbdkc2ku7akrOdGS","name":"Telegram account"}}},{"parameters":{"chatId":"={{ $('Listen for incoming events').first().json.message.from.id }}","text":"={{ $json.response }}","additionalFields":{"appendAttribution":false,"parse_mode":"Markdown"}},"id":"19d6b445-8870-4ab6-9e9b-47ca56381475","name":"Telegram","type":"n8n-nodes-base.telegram","position":[2320,224],"webhookId":"2c133a40-af48-4106-bc1a-be6047840a89","typeVersion":1.1,"credentials":{"telegramApi":{"id":"Mbdkc2ku7akrOdGS","name":"Telegram account"}},"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"a0bf9719-4272-46f6-ab3b-eda6f7b44fd8","operator":{"type":"string","operation":"empty","singleValue":true},"leftValue":"={{ $json.message.text }}","rightValue":""}]},"options":{}},"id":"ba684888-19b5-4fda-90f2-fdd8b3f7fae9","name":"If","type":"n8n-nodes-base.if","position":[960,240],"typeVersion":2.2},{"parameters":{"fields":{"values":[{"name":"text","stringValue":"={{ $json?.message?.text || \"\" }}"}]},"options":{}},"id":"f0b0e2d6-b0de-49dd-b66d-5e0478f06139","name":"Voice or Text","type":"n8n-nodes-base.set","position":[736,240],"typeVersion":3.2},{"parameters":{"resource":"file","fileId":"={{ $('Listen for incoming events').item.json.message.voice.file_id }}","additionalFields":{}},"id":"f1caa931-42c7-4daf-9c76-4d6b8439066d","name":"Get Voice File","type":"n8n-nodes-base.telegram","position":[1184,160],"webhookId":"ef3f120e-c212-45ff-99b5-b6a5a82598d8","typeVersion":1.1,"credentials":{"telegramApi":{"id":"Mbdkc2ku7akrOdGS","name":"Telegram account"}}},{"parameters":{"content":"\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nSend message back to Telegram\n","height":288,"width":304,"color":7},"id":"a0517682-48eb-42c5-aa27-7ca6ce17f010","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[2224,128],"typeVersion":1},{"parameters":{"task":"MTY1MTc5NzMxMzA5NDc5MTQ5NzQ6MDow","title":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}","additionalFields":{}},"id":"66b28490-307b-45cc-9eaa-af2896bb040d","name":"Create a task in Google Tasks","type":"n8n-nodes-base.googleTasksTool","position":[1968,608],"typeVersion":1},{"parameters":{"operation":"getAll","task":"MTY1MTc5NzMxMzA5NDc5MTQ5NzQ6MDow","additionalFields":{}},"id":"e80937e4-5157-4174-9796-7ad0809ae4d5","name":"Get many tasks in Google Tasks","type":"n8n-nodes-base.googleTasksTool","position":[2160,608],"typeVersion":1},{"parameters":{"sendTo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}","subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', `Please format this nicely in html`, 'string') }}","options":{"appendAttribution":false}},"id":"8570a4ae-fa55-4837-8455-7822f2789780","name":"Send Email","type":"n8n-nodes-base.gmailTool","position":[2640,592],"webhookId":"a4ae7b5d-7686-4bee-a753-848932860b4e","typeVersion":2.1},{"parameters":{"prompt":"={{ $json.text }}","options":{"systemMessage":"=You are a helpful personal assistant called Aikona (). \n\nToday's date is {{ $today.format('yyyy-MM-dd') }}.\n\nGuidelines:\n- When summarizing emails, include Sender, Message date, subject, and brief summary of email.\n- if the user did not specify a date in the request assume they are asking for today\n- When answering questions about calendar events, filter out events that don't apply to the question.  For example, the question is about events for today, only reply with events for today. Don't mention future events if it's more than 1 week away\n- When creating calendar entry, the attendee email is optional"}},"type":"n8n-nodes-gigachat.gigaChat","typeVersion":1,"position":[1856,240],"id":"a8847c8d-e76f-40dd-8f23-3ae0bb49f3ee","name":"GigaChat","credentials":{"gigaChatApi":{"id":"52EXnDUz1rLK37WE","name":"GigaChat account"}}},{"parameters":{"method":"POST","url":"https://api.polza.ai/v1/audio/transcriptions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer pza_h53_OlFlvMIkIxdNuPkZ7VSFcwZgRjem"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"},{"name":"model","value":"whisper-1"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1520,-80],"id":"55801a4e-0b2d-49f4-b68b-7c8514a45d4f","name":"HTTP Request"}],"connections":{"If":{"main":[[{"node":"Get Voice File","type":"main","index":0}],[{"node":"GigaChat","type":"main","index":0}]]},"Get Email":{"ai_tool":[[{"node":"GigaChat","type":"ai_tool","index":0}]]},"Send Email":{"ai_tool":[[{"node":"GigaChat","type":"ai_tool","index":0}]]},"Voice or Text":{"main":[[{"node":"If","type":"main","index":0}]]},"Get Voice File":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Google Calendar":{"ai_tool":[[{"node":"GigaChat","type":"ai_tool","index":0}]]},"Window Buffer Memory":{"ai_memory":[[{"node":"GigaChat","type":"ai_memory","index":0}]]},"Listen for incoming events":{"main":[[{"node":"Voice or Text","type":"main","index":0}]]},"Create a task in Google Tasks":{"ai_tool":[[{"node":"GigaChat","type":"ai_tool","index":0}]]},"Get many tasks in Google Tasks":{"ai_tool":[[{"node":"GigaChat","type":"ai_tool","index":0}]]},"GigaChat":{"main":[[{"node":"Telegram","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"GigaChat","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","saveDataSuccessExecution":"none","saveExecutionProgress":false,"saveManualExecutions":false,"callerPolicy":"workflowsFromSameOwner","executionTimeout":60},"staticData":null,"meta":null,"pinData":{},"versionId":"d8e12558-f85b-4435-a3f4-61a9ac0b723f","activeVersionId":null,"triggerCount":0,"shared":[{"updatedAt":"2026-02-09T05:07:42.014Z","createdAt":"2026-02-09T05:07:42.014Z","role":"workflow:owner","workflowId":"r2Bg-SDb_CQTt5hUk5SdP","projectId":"rPoiFFCZqHU6mXAS"}],"activeVersion":null,"tags":[]}