Processing Chat Message DEMO.json
{"updatedAt":"2026-02-19T11:28:23.685Z","createdAt":"2026-02-11T14:42:07.792Z","id":"Nls4ZawKhSxNpSoe","name":"Processing Chat Message DEMO","active":true,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://ngw.devices.sberbank.ru:9443/api/v2/oauth","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"RqUID","value":"={{ 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) { var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8); return v.toString(16); }) }}"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"scope","value":"SALUTE_SPEECH_PERS"}]},"options":{"allowUnauthorizedCerts":true,"redirect":{"redirect":{}}}},"id":"c5dc5aa1-87ae-49f7-83a8-7be5a253151d","name":"Get Access Token","type":"n8n-nodes-base.httpRequest","position":[-448,80],"typeVersion":4.3,"credentials":{"httpHeaderAuth":{"id":"yyEpB09syfwElmOQ","name":"Salute Speach API key"},"httpBearerAuth":{"id":"TZ15phJOB6sbuCMV","name":"Salute Speach Brearer Token"}}},{"parameters":{"method":"POST","url":"https://smartspeech.sber.ru/rest/v1/speech:recognize","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"model","value":"=general"},{"name":"enable_profanity_filter","value":"=false"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{"allowUnauthorizedCerts":true,"redirect":{"redirect":{}}}},"id":"aee1b932-d496-4aba-81c8-5b220dfc6ed9","name":"Get Response","type":"n8n-nodes-base.httpRequest","position":[-32,80],"typeVersion":4.3,"credentials":{"httpHeaderAuth":{"id":"1yjCkvMZD8CWgKIR","name":"Salute Speach Access Token"},"httpBearerAuth":{"id":"TZ15phJOB6sbuCMV","name":"Salute Speach Brearer Token"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"10d834ee-e759-4d11-a864-4927a8b032de","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.has_text === true }}","rightValue":"file"}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6d6731a2-a44b-42b6-b547-35342e0fcf7a","leftValue":"={{ $json.has_voice === true}}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"77dfa93f-2534-4c8a-85c4-4584b4349449","leftValue":"={{ $json.has_attachments === true && ($json.has_voice === false || $json.has_voice === null)}}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Attachments"}]},"options":{}},"id":"eeb30295-2183-43de-8f81-65c9decb6141","name":"Text/Attachment","type":"n8n-nodes-base.switch","position":[-800,208],"typeVersion":3.3},{"parameters":{"assignments":{"assignments":[{"id":"b6f3835d-b9d6-42d1-b738-74b731b29846","name":"prompt","type":"string","value":"={{ $json.result[0] }}"}]},"includeOtherFields":true,"options":{}},"id":"6f81855e-c084-47e6-b48c-809bfc1b9b3a","name":"Voice to Prompt","type":"n8n-nodes-base.set","position":[448,208],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"c6a31a7b-a3a5-4eec-948c-418411b47717","name":"prompt","value":"={{ $json.message_text }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"2303c0e9-8776-4b73-80eb-8695487bf823","name":"Text to Prompt","type":"n8n-nodes-base.set","position":[-80,-256],"typeVersion":3.4},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{"includeUnpaired":false}},"id":"e2f8fd82-66c8-4cde-98ef-32c132a29802","name":"Merge AccessToken and Data","type":"n8n-nodes-base.merge","position":[-224,80],"typeVersion":3.2},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1216,224],"id":"6dc90d37-5dae-47d6-90aa-3c94dce36397","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"7c1f36e0-dbbf-42f5-b71b-19bc9c688c4a","name":"prompt","value":"={{ $json.prompt }}","type":"string"},{"id":"861a4183-038e-41f0-8051-a027d4a82eeb","name":"user_id","value":"={{ $json.user_id }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[768,112],"id":"f6c2367b-f803-4669-ae15-ffed19d5ac12","name":"Merge prompt"},{"parameters":{"assignments":{"assignments":[{"id":"3b32636c-762d-4e78-bd88-ffd8253987d2","name":"prompt","value":"={{ $json.attachments }}","type":"array"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-96,432],"id":"edd922ae-0c9a-4e3a-a4cc-9017ea2c014b","name":"Attach to Prompt"},{"parameters":{"assignments":{"assignments":[{"id":"18cf3fac-1b06-4e52-a9b2-8bd3b64a5a30","name":"ptompt","value":"={{ $json.link_attachment }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-96,608],"id":"4d098625-ff37-406d-a3a7-7b5c5574b8a8","name":"Link Attach to prompt"},{"parameters":{"assignments":{"assignments":[{"id":"c6a31a7b-a3a5-4eec-948c-418411b47717","name":"prompt","value":"={{ $json.link_message_text }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"77253316-a217-48f9-a672-fb74facb02ea","name":"Link Text to Prompt","type":"n8n-nodes-base.set","position":[-80,-80],"typeVersion":3.4},{"parameters":{"workflowId":{"__rl":true,"value":"bCVDwdRKBnzt8N7I","mode":"list","cachedResultUrl":"/workflow/bCVDwdRKBnzt8N7I","cachedResultName":"Get Chat Voice DEMO"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-448,336],"id":"4680e508-5141-4dd3-97ee-7b1496aeda07","name":"Call 'Get Chat Voice DEMO'"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1976aced-7809-4df7-91fe-fcea0e7c66ef","leftValue":"={{ $json.message_text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"ece2aa3c-2628-4a2a-bc86-e4547d7d6674","leftValue":"={{ $json.message_text }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-448,-160],"id":"539a7260-b8de-4740-93f5-5c50f1ab51fc","name":"Exists Message Text"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1976aced-7809-4df7-91fe-fcea0e7c66ef","leftValue":"={{ $json.attachments }}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-448,512],"id":"4ef597c0-7cae-470d-a20b-427af465649e","name":"Exists Atachments"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{"includeUnpaired":false}},"id":"e8565bbe-0387-4ee1-8a4f-f34cfbf74582","name":"Merge Description and Json","type":"n8n-nodes-base.merge","position":[192,208],"typeVersion":3.2},{"parameters":{"assignments":{"assignments":[{"id":"b6f3835d-b9d6-42d1-b738-74b731b29846","name":"output","type":"string","value":"=Прости, я пока не умею обрабатывать файлы."}]},"includeOtherFields":true,"options":{}},"id":"41891a88-51f6-456e-9a05-f0e598cc3d61","name":"Output","type":"n8n-nodes-base.set","position":[192,512],"typeVersion":3.4},{"parameters":{"workflowId":{"__rl":true,"value":"BaBoB0ZcmWCFdt23wy0sh","mode":"list","cachedResultUrl":"/workflow/BaBoB0ZcmWCFdt23wy0sh","cachedResultName":"Search Marketplace Items DEMO"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[2256,64],"id":"96ce485f-a53f-430f-a642-69d84dd2e7c2","name":"Call 'Search Marketplace Items DEMO'"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"92eeb407-469f-42ae-abc1-9bf50ab719b3","leftValue":"={{ $json.output.image_search }}","rightValue":"yes","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.output.mp_type }}","rightValue":"undefined","operator":{"type":"string","operation":"notEquals"},"id":"da060338-a4fb-4db7-b849-38668fa3b8d9"}],"combinator":"and"},"renameOutput":true,"outputKey":"marketplace"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"bbe571de-12d5-456b-b258-33405e1208be","leftValue":"={{ $json.output.mp_type === 'undefined' && $json.output.image_search != 'yes' && $json.output.wheather_search != 'yes' }}","rightValue":"undefined","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[1984,144],"id":"60013a95-f445-45dd-8eed-e57a20d2aa49","name":"Switch"},{"parameters":{"model":{"__rl":true,"value":"openai/gpt-4o-mini","mode":"list","cachedResultName":"openai/gpt-4o-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[2176,464],"id":"95f7496c-b7bf-41a6-bd0e-e40a91ff8f2b","name":"Polza.ai Model","credentials":{"openAiApi":{"id":"XuZr5QFsDpxldUrH","name":"Polza.ai account"}}},{"parameters":{"text":"={{ $json.prompt }}","attributes":{"attributes":[{"name":"mp_type","description":"=Determine the code of the trading platform from the text. If it's about Ozon, return \"ozon\". If we are talking about Aliexpress (Aliexpress, Alik, Ali, Aliexpress) — return \"ali\". If we are talking about Wildberries (wb, valberis, valdberis, wildberries) — return \"wb\". If we are talking about Yandex market (ym), return \"ym\". Return only one value from: \"ozon\", \"ali\", \"wb\", \"ym\". If you couldn't identify the trading platform's code unambiguously, then return \"undefined\"."},{"name":"search_query","description":"=Create the right search query to search for information on the Internet or a product on the marketplace, based on the text from the user."},{"name":"image_search","description":"=Determine from the text whether user needs to find an image or a photo on the Internet. If yes, then return \"yes\", if not, then return \"no\""},{"name":"weather_search","description":"=Determine from the text whether user needs to find an image or a photo on the Internet. If yes, then return \"yes\", if not, then return \"no\""},{"name":"weather_region","description":"=Use the user's text to determine if they need to find weather information on the Internet. If so, specify the name of the region or city for which you want to find weather information and return the name of the region or city. If you can't determine it, return \"undefined\""}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[1488,224],"id":"ee4cfa8e-f08d-4e71-9ce2-0f81c73df16c","name":"Prompt Classification"},{"parameters":{"text":"={{ $json.prompt }}","guardrails":{"jailbreak":{"value":{"threshold":0.7}}}},"type":"@n8n/n8n-nodes-langchain.guardrails","typeVersion":2,"position":[960,208],"id":"8f6134d6-b7a9-4be1-86f2-48b60171c888","name":"Guardrails"},{"parameters":{"model":{"__rl":true,"value":"openai/gpt-4o-mini","mode":"list","cachedResultName":"openai/gpt-4o-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[1424,400],"id":"d021db09-7111-407a-8bbb-5288774e4194","name":"Polza.ai Classification","credentials":{"openAiApi":{"id":"XuZr5QFsDpxldUrH","name":"Polza.ai account"}}},{"parameters":{"model":{"__rl":true,"value":"openai/gpt-4o-mini","mode":"list","cachedResultName":"openai/gpt-4o-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[896,400],"id":"0af1fccf-af1c-4a85-a179-e2910dd3ceee","name":"Polza.ai Guard","credentials":{"openAiApi":{"id":"XuZr5QFsDpxldUrH","name":"Polza.ai account"}}},{"parameters":{"query":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}","options":{"include_images":true,"include_image_descriptions":true}},"type":"@tavily/n8n-nodes-tavily.tavilyTool","typeVersion":1,"position":[2464,464],"id":"7b319fa1-5b44-44db-bcdc-6574add5431b","name":"WebSearch","credentials":{"tavilyApi":{"id":"r2nmocsnlVqVhz7g","name":"Tavily account"}}},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}","options":{"systemMessage":"=##Role\nYou're the perfect personal assistant. You're a girl. Your name is Aikona. Your task is to be a friendly assistant and answer questions.\n\n##Parameters\nUser name: {{ $json.user_name }}\n\n##Basic instructions\nAnswer only in plain text without markup, formatting, bulleted lists, headings (#), quotation marks (`) or any other HTML code. Use regular sentences and paragraphs.\n\nAdd emojis to the text, where appropriate, to diversify the response and make it more pleasant for the user.\n\nIf the user has sent a document or image, and the context makes it unclear what to do with this file, ask the user what needs to be done.\n\n##Tools\n**WebSearch** a tool for searching information on the Internet\n**MarketplaceSearch** a tool for searching for products in marketplaces\n\n## Recent reminders\n- Date and time: {{ $now }}","passthroughBinaryImages":true}},"id":"f7650462-5344-4103-9cad-2a92cde69911","name":"AI  AIKona","type":"@n8n/n8n-nodes-langchain.agent","position":[2256,240],"typeVersion":3,"onError":"continueErrorOutput"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1296,128],"id":"204f814a-ad46-46dc-bc5d-9d7caac2caa2","name":"Merge Data with Guard"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1776,144],"id":"12203561-dea9-47b5-92f5-9a229cb65a4f","name":"Merge Data with Classification"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.chat_id }}","tableName":"aikona_bot_chat_histories"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[2320,448],"id":"4ce7b563-8a04-4c19-883a-877bd8794daa","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"fUvy3qNGbiPXadi7","name":"Postgres account"}}}],"connections":{"Get Access Token":{"main":[[{"node":"Merge AccessToken and Data","type":"main","index":0}]]},"Get Response":{"main":[[{"node":"Merge Description and Json","type":"main","index":0}]]},"Text/Attachment":{"main":[[{"node":"Exists Message Text","type":"main","index":0}],[{"node":"Get Access Token","type":"main","index":0},{"node":"Call 'Get Chat Voice DEMO'","type":"main","index":0},{"node":"Merge Description and Json","type":"main","index":1}],[{"node":"Exists Atachments","type":"main","index":0}]]},"Voice to Prompt":{"main":[[{"node":"Merge prompt","type":"main","index":0}]]},"Text to Prompt":{"main":[[{"node":"Merge prompt","type":"main","index":0}]]},"Merge AccessToken and Data":{"main":[[{"node":"Get Response","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Text/Attachment","type":"main","index":0}]]},"Merge prompt":{"main":[[{"node":"Guardrails","type":"main","index":0},{"node":"Merge Data with Guard","type":"main","index":0}]]},"Attach to Prompt":{"main":[[{"node":"Output","type":"main","index":0}]]},"Link Attach to prompt":{"main":[[{"node":"Output","type":"main","index":0}]]},"Link Text to Prompt":{"main":[[{"node":"Merge prompt","type":"main","index":0}]]},"Call 'Get Chat Voice DEMO'":{"main":[[{"node":"Merge AccessToken and Data","type":"main","index":1}]]},"Exists Message Text":{"main":[[{"node":"Text to Prompt","type":"main","index":0}],[{"node":"Link Text to Prompt","type":"main","index":0}]]},"Exists Atachments":{"main":[[{"node":"Attach to Prompt","type":"main","index":0}],[{"node":"Link Attach to prompt","type":"main","index":0}]]},"Merge Description and Json":{"main":[[{"node":"Voice to Prompt","type":"main","index":0}]]},"Switch":{"main":[[],[{"node":"Call 'Search Marketplace Items DEMO'","type":"main","index":0}],[{"node":"AI  AIKona","type":"main","index":0}]]},"Polza.ai Model":{"ai_languageModel":[[{"node":"AI  AIKona","type":"ai_languageModel","index":0}]]},"Prompt Classification":{"main":[[{"node":"Merge Data with Classification","type":"main","index":1}]]},"Guardrails":{"main":[[{"node":"Merge Data with Guard","type":"main","index":1}]]},"Polza.ai Classification":{"ai_languageModel":[[{"node":"Prompt Classification","type":"ai_languageModel","index":0}]]},"Polza.ai Guard":{"ai_languageModel":[[{"node":"Guardrails","type":"ai_languageModel","index":0}]]},"WebSearch":{"ai_tool":[[{"node":"AI  AIKona","type":"ai_tool","index":0}]]},"Merge Data with Guard":{"main":[[{"node":"Prompt Classification","type":"main","index":0},{"node":"Merge Data with Classification","type":"main","index":0}]]},"Merge Data with Classification":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI  AIKona","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d10de4ef-5060-46eb-9b15-9f45f5db4ead","activeVersionId":"d10de4ef-5060-46eb-9b15-9f45f5db4ead","triggerCount":0,"shared":[{"updatedAt":"2026-02-11T14:42:07.792Z","createdAt":"2026-02-11T14:42:07.792Z","role":"workflow:owner","workflowId":"Nls4ZawKhSxNpSoe","projectId":"rPoiFFCZqHU6mXAS"}],"activeVersion":{"updatedAt":"2026-02-19T11:28:26.580Z","createdAt":"2026-02-19T11:28:23.687Z","versionId":"d10de4ef-5060-46eb-9b15-9f45f5db4ead","workflowId":"Nls4ZawKhSxNpSoe","nodes":[{"parameters":{"method":"POST","url":"https://ngw.devices.sberbank.ru:9443/api/v2/oauth","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"RqUID","value":"={{ 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) { var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8); return v.toString(16); }) }}"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"scope","value":"SALUTE_SPEECH_PERS"}]},"options":{"allowUnauthorizedCerts":true,"redirect":{"redirect":{}}}},"id":"c5dc5aa1-87ae-49f7-83a8-7be5a253151d","name":"Get Access Token","type":"n8n-nodes-base.httpRequest","position":[-448,80],"typeVersion":4.3,"credentials":{"httpHeaderAuth":{"id":"yyEpB09syfwElmOQ","name":"Salute Speach API key"},"httpBearerAuth":{"id":"TZ15phJOB6sbuCMV","name":"Salute Speach Brearer Token"}}},{"parameters":{"method":"POST","url":"https://smartspeech.sber.ru/rest/v1/speech:recognize","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"model","value":"=general"},{"name":"enable_profanity_filter","value":"=false"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{"allowUnauthorizedCerts":true,"redirect":{"redirect":{}}}},"id":"aee1b932-d496-4aba-81c8-5b220dfc6ed9","name":"Get Response","type":"n8n-nodes-base.httpRequest","position":[-32,80],"typeVersion":4.3,"credentials":{"httpHeaderAuth":{"id":"1yjCkvMZD8CWgKIR","name":"Salute Speach Access Token"},"httpBearerAuth":{"id":"TZ15phJOB6sbuCMV","name":"Salute Speach Brearer Token"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"10d834ee-e759-4d11-a864-4927a8b032de","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.has_text === true }}","rightValue":"file"}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6d6731a2-a44b-42b6-b547-35342e0fcf7a","leftValue":"={{ $json.has_voice === true}}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"77dfa93f-2534-4c8a-85c4-4584b4349449","leftValue":"={{ $json.has_attachments === true && ($json.has_voice === false || $json.has_voice === null)}}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Attachments"}]},"options":{}},"id":"eeb30295-2183-43de-8f81-65c9decb6141","name":"Text/Attachment","type":"n8n-nodes-base.switch","position":[-800,208],"typeVersion":3.3},{"parameters":{"assignments":{"assignments":[{"id":"b6f3835d-b9d6-42d1-b738-74b731b29846","name":"prompt","type":"string","value":"={{ $json.result[0] }}"}]},"includeOtherFields":true,"options":{}},"id":"6f81855e-c084-47e6-b48c-809bfc1b9b3a","name":"Voice to Prompt","type":"n8n-nodes-base.set","position":[448,208],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"c6a31a7b-a3a5-4eec-948c-418411b47717","name":"prompt","value":"={{ $json.message_text }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"2303c0e9-8776-4b73-80eb-8695487bf823","name":"Text to Prompt","type":"n8n-nodes-base.set","position":[-80,-256],"typeVersion":3.4},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{"includeUnpaired":false}},"id":"e2f8fd82-66c8-4cde-98ef-32c132a29802","name":"Merge AccessToken and Data","type":"n8n-nodes-base.merge","position":[-224,80],"typeVersion":3.2},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1216,224],"id":"6dc90d37-5dae-47d6-90aa-3c94dce36397","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"7c1f36e0-dbbf-42f5-b71b-19bc9c688c4a","name":"prompt","value":"={{ $json.prompt }}","type":"string"},{"id":"861a4183-038e-41f0-8051-a027d4a82eeb","name":"user_id","value":"={{ $json.user_id }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[768,112],"id":"f6c2367b-f803-4669-ae15-ffed19d5ac12","name":"Merge prompt"},{"parameters":{"assignments":{"assignments":[{"id":"3b32636c-762d-4e78-bd88-ffd8253987d2","name":"prompt","value":"={{ $json.attachments }}","type":"array"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-96,432],"id":"edd922ae-0c9a-4e3a-a4cc-9017ea2c014b","name":"Attach to Prompt"},{"parameters":{"assignments":{"assignments":[{"id":"18cf3fac-1b06-4e52-a9b2-8bd3b64a5a30","name":"ptompt","value":"={{ $json.link_attachment }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-96,608],"id":"4d098625-ff37-406d-a3a7-7b5c5574b8a8","name":"Link Attach to prompt"},{"parameters":{"assignments":{"assignments":[{"id":"c6a31a7b-a3a5-4eec-948c-418411b47717","name":"prompt","value":"={{ $json.link_message_text }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"77253316-a217-48f9-a672-fb74facb02ea","name":"Link Text to Prompt","type":"n8n-nodes-base.set","position":[-80,-80],"typeVersion":3.4},{"parameters":{"workflowId":{"__rl":true,"value":"bCVDwdRKBnzt8N7I","mode":"list","cachedResultUrl":"/workflow/bCVDwdRKBnzt8N7I","cachedResultName":"Get Chat Voice DEMO"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-448,336],"id":"4680e508-5141-4dd3-97ee-7b1496aeda07","name":"Call 'Get Chat Voice DEMO'"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1976aced-7809-4df7-91fe-fcea0e7c66ef","leftValue":"={{ $json.message_text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"ece2aa3c-2628-4a2a-bc86-e4547d7d6674","leftValue":"={{ $json.message_text }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-448,-160],"id":"539a7260-b8de-4740-93f5-5c50f1ab51fc","name":"Exists Message Text"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1976aced-7809-4df7-91fe-fcea0e7c66ef","leftValue":"={{ $json.attachments }}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-448,512],"id":"4ef597c0-7cae-470d-a20b-427af465649e","name":"Exists Atachments"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{"includeUnpaired":false}},"id":"e8565bbe-0387-4ee1-8a4f-f34cfbf74582","name":"Merge Description and Json","type":"n8n-nodes-base.merge","position":[192,208],"typeVersion":3.2},{"parameters":{"assignments":{"assignments":[{"id":"b6f3835d-b9d6-42d1-b738-74b731b29846","name":"output","type":"string","value":"=Прости, я пока не умею обрабатывать файлы."}]},"includeOtherFields":true,"options":{}},"id":"41891a88-51f6-456e-9a05-f0e598cc3d61","name":"Output","type":"n8n-nodes-base.set","position":[192,512],"typeVersion":3.4},{"parameters":{"workflowId":{"__rl":true,"value":"BaBoB0ZcmWCFdt23wy0sh","mode":"list","cachedResultUrl":"/workflow/BaBoB0ZcmWCFdt23wy0sh","cachedResultName":"Search Marketplace Items DEMO"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[2256,64],"id":"96ce485f-a53f-430f-a642-69d84dd2e7c2","name":"Call 'Search Marketplace Items DEMO'"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"92eeb407-469f-42ae-abc1-9bf50ab719b3","leftValue":"={{ $json.output.image_search }}","rightValue":"yes","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.output.mp_type }}","rightValue":"undefined","operator":{"type":"string","operation":"notEquals"},"id":"da060338-a4fb-4db7-b849-38668fa3b8d9"}],"combinator":"and"},"renameOutput":true,"outputKey":"marketplace"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"bbe571de-12d5-456b-b258-33405e1208be","leftValue":"={{ $json.output.mp_type === 'undefined' && $json.output.image_search != 'yes' && $json.output.wheather_search != 'yes' }}","rightValue":"undefined","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[1984,144],"id":"60013a95-f445-45dd-8eed-e57a20d2aa49","name":"Switch"},{"parameters":{"model":{"__rl":true,"value":"openai/gpt-4o-mini","mode":"list","cachedResultName":"openai/gpt-4o-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[2176,464],"id":"95f7496c-b7bf-41a6-bd0e-e40a91ff8f2b","name":"Polza.ai Model","credentials":{"openAiApi":{"id":"XuZr5QFsDpxldUrH","name":"Polza.ai account"}}},{"parameters":{"text":"={{ $json.prompt }}","attributes":{"attributes":[{"name":"mp_type","description":"=Determine the code of the trading platform from the text. If it's about Ozon, return \"ozon\". If we are talking about Aliexpress (Aliexpress, Alik, Ali, Aliexpress) — return \"ali\". If we are talking about Wildberries (wb, valberis, valdberis, wildberries) — return \"wb\". If we are talking about Yandex market (ym), return \"ym\". Return only one value from: \"ozon\", \"ali\", \"wb\", \"ym\". If you couldn't identify the trading platform's code unambiguously, then return \"undefined\"."},{"name":"search_query","description":"=Create the right search query to search for information on the Internet or a product on the marketplace, based on the text from the user."},{"name":"image_search","description":"=Determine from the text whether user needs to find an image or a photo on the Internet. If yes, then return \"yes\", if not, then return \"no\""},{"name":"weather_search","description":"=Determine from the text whether user needs to find an image or a photo on the Internet. If yes, then return \"yes\", if not, then return \"no\""},{"name":"weather_region","description":"=Use the user's text to determine if they need to find weather information on the Internet. If so, specify the name of the region or city for which you want to find weather information and return the name of the region or city. If you can't determine it, return \"undefined\""}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[1488,224],"id":"ee4cfa8e-f08d-4e71-9ce2-0f81c73df16c","name":"Prompt Classification"},{"parameters":{"text":"={{ $json.prompt }}","guardrails":{"jailbreak":{"value":{"threshold":0.7}}}},"type":"@n8n/n8n-nodes-langchain.guardrails","typeVersion":2,"position":[960,208],"id":"8f6134d6-b7a9-4be1-86f2-48b60171c888","name":"Guardrails"},{"parameters":{"model":{"__rl":true,"value":"openai/gpt-4o-mini","mode":"list","cachedResultName":"openai/gpt-4o-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[1424,400],"id":"d021db09-7111-407a-8bbb-5288774e4194","name":"Polza.ai Classification","credentials":{"openAiApi":{"id":"XuZr5QFsDpxldUrH","name":"Polza.ai account"}}},{"parameters":{"model":{"__rl":true,"value":"openai/gpt-4o-mini","mode":"list","cachedResultName":"openai/gpt-4o-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[896,400],"id":"0af1fccf-af1c-4a85-a179-e2910dd3ceee","name":"Polza.ai Guard","credentials":{"openAiApi":{"id":"XuZr5QFsDpxldUrH","name":"Polza.ai account"}}},{"parameters":{"query":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}","options":{"include_images":true,"include_image_descriptions":true}},"type":"@tavily/n8n-nodes-tavily.tavilyTool","typeVersion":1,"position":[2464,464],"id":"7b319fa1-5b44-44db-bcdc-6574add5431b","name":"WebSearch","credentials":{"tavilyApi":{"id":"r2nmocsnlVqVhz7g","name":"Tavily account"}}},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}","options":{"systemMessage":"=##Role\nYou're the perfect personal assistant. You're a girl. Your name is Aikona. Your task is to be a friendly assistant and answer questions.\n\n##Parameters\nUser name: {{ $json.user_name }}\n\n##Basic instructions\nAnswer only in plain text without markup, formatting, bulleted lists, headings (#), quotation marks (`) or any other HTML code. Use regular sentences and paragraphs.\n\nAdd emojis to the text, where appropriate, to diversify the response and make it more pleasant for the user.\n\nIf the user has sent a document or image, and the context makes it unclear what to do with this file, ask the user what needs to be done.\n\n##Tools\n**WebSearch** a tool for searching information on the Internet\n**MarketplaceSearch** a tool for searching for products in marketplaces\n\n## Recent reminders\n- Date and time: {{ $now }}","passthroughBinaryImages":true}},"id":"f7650462-5344-4103-9cad-2a92cde69911","name":"AI  AIKona","type":"@n8n/n8n-nodes-langchain.agent","position":[2256,240],"typeVersion":3,"onError":"continueErrorOutput"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1296,128],"id":"204f814a-ad46-46dc-bc5d-9d7caac2caa2","name":"Merge Data with Guard"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1776,144],"id":"12203561-dea9-47b5-92f5-9a229cb65a4f","name":"Merge Data with Classification"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.chat_id }}","tableName":"aikona_bot_chat_histories"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[2320,448],"id":"4ce7b563-8a04-4c19-883a-877bd8794daa","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"fUvy3qNGbiPXadi7","name":"Postgres account"}}}],"connections":{"Get Access Token":{"main":[[{"node":"Merge AccessToken and Data","type":"main","index":0}]]},"Get Response":{"main":[[{"node":"Merge Description and Json","type":"main","index":0}]]},"Text/Attachment":{"main":[[{"node":"Exists Message Text","type":"main","index":0}],[{"node":"Get Access Token","type":"main","index":0},{"node":"Call 'Get Chat Voice DEMO'","type":"main","index":0},{"node":"Merge Description and Json","type":"main","index":1}],[{"node":"Exists Atachments","type":"main","index":0}]]},"Voice to Prompt":{"main":[[{"node":"Merge prompt","type":"main","index":0}]]},"Text to Prompt":{"main":[[{"node":"Merge prompt","type":"main","index":0}]]},"Merge AccessToken and Data":{"main":[[{"node":"Get Response","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Text/Attachment","type":"main","index":0}]]},"Merge prompt":{"main":[[{"node":"Guardrails","type":"main","index":0},{"node":"Merge Data with Guard","type":"main","index":0}]]},"Attach to Prompt":{"main":[[{"node":"Output","type":"main","index":0}]]},"Link Attach to prompt":{"main":[[{"node":"Output","type":"main","index":0}]]},"Link Text to Prompt":{"main":[[{"node":"Merge prompt","type":"main","index":0}]]},"Call 'Get Chat Voice DEMO'":{"main":[[{"node":"Merge AccessToken and Data","type":"main","index":1}]]},"Exists Message Text":{"main":[[{"node":"Text to Prompt","type":"main","index":0}],[{"node":"Link Text to Prompt","type":"main","index":0}]]},"Exists Atachments":{"main":[[{"node":"Attach to Prompt","type":"main","index":0}],[{"node":"Link Attach to prompt","type":"main","index":0}]]},"Merge Description and Json":{"main":[[{"node":"Voice to Prompt","type":"main","index":0}]]},"Switch":{"main":[[],[{"node":"Call 'Search Marketplace Items DEMO'","type":"main","index":0}],[{"node":"AI  AIKona","type":"main","index":0}]]},"Polza.ai Model":{"ai_languageModel":[[{"node":"AI  AIKona","type":"ai_languageModel","index":0}]]},"Prompt Classification":{"main":[[{"node":"Merge Data with Classification","type":"main","index":1}]]},"Guardrails":{"main":[[{"node":"Merge Data with Guard","type":"main","index":1}]]},"Polza.ai Classification":{"ai_languageModel":[[{"node":"Prompt Classification","type":"ai_languageModel","index":0}]]},"Polza.ai Guard":{"ai_languageModel":[[{"node":"Guardrails","type":"ai_languageModel","index":0}]]},"WebSearch":{"ai_tool":[[{"node":"AI  AIKona","type":"ai_tool","index":0}]]},"Merge Data with Guard":{"main":[[{"node":"Prompt Classification","type":"main","index":0},{"node":"Merge Data with Classification","type":"main","index":0}]]},"Merge Data with Classification":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI  AIKona","type":"ai_memory","index":0}]]}},"authors":"AIKona me","name":"Version d10de4ef","description":"","autosaved":true},"tags":[]}