Processing Chat Message.json
{"updatedAt":"2026-03-02T09:44:13.375Z","createdAt":"2026-02-11T08:12:05.187Z","id":"VmqRxUfBdXaUT6Gb_crlm","name":"Processing Chat Message","active":true,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://ngw.devices.sberbank.ru:9443/api/v2/oauth","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"RqUID","value":"={{ 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) { var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8); return v.toString(16); }) }}"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"scope","value":"SALUTE_SPEECH_PERS"}]},"options":{"allowUnauthorizedCerts":true,"redirect":{"redirect":{}}}},"id":"28498712-5027-46ec-881d-0da94502d82b","name":"Get Access Token","type":"n8n-nodes-base.httpRequest","position":[-640,48],"typeVersion":4.3,"credentials":{"httpHeaderAuth":{"id":"yyEpB09syfwElmOQ","name":"Salute Speach API key"}}},{"parameters":{"method":"POST","url":"https://smartspeech.sber.ru/rest/v1/speech:recognize","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"model","value":"=general"},{"name":"enable_profanity_filter","value":"=false"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{"allowUnauthorizedCerts":true,"redirect":{"redirect":{}}}},"id":"bb229bc9-753a-4a2a-9ea6-f29f834af866","name":"Get Response","type":"n8n-nodes-base.httpRequest","position":[-224,144],"typeVersion":4.3,"credentials":{"httpHeaderAuth":{"id":"AH81xEXK7XG4N92y","name":"Salute Speach Access token"},"httpBearerAuth":{"id":"TZ15phJOB6sbuCMV","name":"Salute Speach Brearer Token"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"10d834ee-e759-4d11-a864-4927a8b032de","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.has_text }}","rightValue":"file"}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6d6731a2-a44b-42b6-b547-35342e0fcf7a","leftValue":"={{ $json.has_voice }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"77dfa93f-2534-4c8a-85c4-4584b4349449","leftValue":"={{ $json.has_attachments === true && ($json.has_voice === false || $json.has_voice === null)}}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Attachments"}]},"options":{}},"id":"6f376df1-8573-4406-8a22-53b3b49d5275","name":"Text/Attachment","type":"n8n-nodes-base.switch","position":[-1008,208],"typeVersion":3.3},{"parameters":{"assignments":{"assignments":[{"id":"b6f3835d-b9d6-42d1-b738-74b731b29846","name":"prompt","type":"string","value":"={{ $json.result[0] }}"}]},"includeOtherFields":true,"options":{}},"id":"541396c6-9f57-4c0d-8eac-f6edea75254f","name":"Voice to Prompt","type":"n8n-nodes-base.set","position":[160,224],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"c6a31a7b-a3a5-4eec-948c-418411b47717","name":"prompt","value":"={{ $json.message_text }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"b48bf6cf-6428-4d8d-84b7-272fb7c5d0e7","name":"Text to Prompt","type":"n8n-nodes-base.set","position":[-320,-224],"typeVersion":3.4},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{"includeUnpaired":true}},"id":"d39f1d24-5211-4b84-b992-df9c5d238e8b","name":"Merge AccessToken and Data","type":"n8n-nodes-base.merge","position":[-416,144],"typeVersion":3.2},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1216,224],"id":"5debbb41-260a-45f5-99b1-0994109282da","name":"When Executed by Another Workflow"},{"parameters":{"workflowId":{"__rl":true,"value":"r8AJc4kiYEpdRkvQ","mode":"list","cachedResultUrl":"/workflow/r8AJc4kiYEpdRkvQ","cachedResultName":"Get Chat Voice"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-640,192],"id":"12ddfbcb-5937-4236-9def-615f89625e8f","name":"Call 'Processing Chat Message'"},{"parameters":{"assignments":{"assignments":[{"id":"7c1f36e0-dbbf-42f5-b71b-19bc9c688c4a","name":"prompt","value":"={{ $json.prompt }}","type":"string"},{"id":"861a4183-038e-41f0-8051-a027d4a82eeb","name":"user_id","value":"={{ $json.user_id }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[592,176],"id":"cf5046fd-2e04-490d-8d03-c6cea092d331","name":"Merge prompt"},{"parameters":{"assignments":{"assignments":[{"id":"3b32636c-762d-4e78-bd88-ffd8253987d2","name":"prompt","value":"={{ $json.attachments }}","type":"array"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-304,432],"id":"0beedfcf-ff2d-46dc-8cd2-f1de392ad965","name":"Attach to Prompt"},{"parameters":{"assignments":{"assignments":[{"id":"18cf3fac-1b06-4e52-a9b2-8bd3b64a5a30","name":"ptompt","value":"={{ $json.link_attachment }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-304,608],"id":"18598df0-3b2b-44b8-811b-0c1b9aa30a94","name":"Link Attach to prompt"},{"parameters":{"assignments":{"assignments":[{"id":"c6a31a7b-a3a5-4eec-948c-418411b47717","name":"prompt","value":"={{ $json.link_message_text }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"c3c7ff6a-a079-432b-acbb-e6a335459fb7","name":"Link Text to Prompt","type":"n8n-nodes-base.set","position":[-320,-48],"typeVersion":3.4},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1976aced-7809-4df7-91fe-fcea0e7c66ef","leftValue":"={{ $json.message_text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"c5dacedd-21f6-496b-a17c-614ea7208197","leftValue":"={{ $json.message_text }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-640,-128],"id":"fb9ed022-ba29-4b03-9221-3fde1be067fb","name":"Exists Message Text"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1976aced-7809-4df7-91fe-fcea0e7c66ef","leftValue":"={{ $json.attachments }}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-640,512],"id":"c78788df-6f9b-47ef-bc18-990e2c486a7b","name":"Exists Atachments"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{"includeUnpaired":false}},"id":"de12f7b2-e403-499c-9f61-9c1af9069621","name":"Merge Description and Json","type":"n8n-nodes-base.merge","position":[-16,224],"typeVersion":3.2},{"parameters":{"assignments":{"assignments":[{"id":"b6f3835d-b9d6-42d1-b738-74b731b29846","name":"output","type":"string","value":"=Прости, я пока не умею обрабатывать файлы."}]},"includeOtherFields":true,"options":{}},"id":"1e7a416e-e817-4e25-b108-2f7da4be09a1","name":"Output","type":"n8n-nodes-base.set","position":[-80,512],"typeVersion":3.4},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"92eeb407-469f-42ae-abc1-9bf50ab719b3","leftValue":"={{ $json.output.image_search }}","rightValue":"yes","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"4221cfb5-49ff-4c0a-ad0d-2c4f9a5128b1","leftValue":"={{ $json.output.image_search != 'yes' }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"other"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[1792,208],"id":"707e6940-5bdc-45f1-ac34-471e7add1d18","name":"Switch"},{"parameters":{"model":{"__rl":true,"value":"openai/gpt-4.1-mini","mode":"list","cachedResultName":"openai/gpt-4.1-mini"},"builtInTools":{},"options":{"temperature":0.7}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[1984,544],"id":"8d2e72b5-c38a-4461-a3ef-10acec5066e1","name":"Polza.ai Model","credentials":{"openAiApi":{"id":"XuZr5QFsDpxldUrH","name":"Polza.ai account"}}},{"parameters":{"text":"={{ $json.prompt }}","attributes":{"attributes":[{"name":"search_query","description":"=Create the right search query to search for information on the Internet, based on the text from the user."},{"name":"image_search","description":"=Determine from the text whether user needs to find an image or a photo on the Internet. If yes, then return \"yes\", if not, then return \"no\""},{"name":"weather_search","description":"=Determine from the text whether user needs to find an image or a photo on the Internet. If yes, then return \"yes\", if not, then return \"no\""},{"name":"weather_region","description":"=Use the user's text to determine if they need to find weather information on the Internet. If so, specify the name of the region or city for which you want to find weather information and return the name of the region or city. If you can't determine it, return \"undefined\""}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[1296,288],"id":"f19ac874-78db-49a9-9af5-ce309ff663f3","name":"Prompt Classification"},{"parameters":{"text":"={{ $json.prompt }}","guardrails":{"jailbreak":{"value":{"threshold":0.7}}}},"type":"@n8n/n8n-nodes-langchain.guardrails","typeVersion":2,"position":[768,272],"id":"6f7df8f4-ad7c-41b2-9314-ba8044cfeb2d","name":"Guardrails"},{"parameters":{"model":{"__rl":true,"value":"openai/gpt-4.1-mini","mode":"list","cachedResultName":"openai/gpt-4.1-mini"},"builtInTools":{},"options":{"temperature":0.7}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[1232,464],"id":"cdbd7718-b150-41b3-af18-cdd56e164c1e","name":"Polza.ai Classification","credentials":{"openAiApi":{"id":"XuZr5QFsDpxldUrH","name":"Polza.ai account"}}},{"parameters":{"model":{"__rl":true,"value":"openai/gpt-4o-mini","mode":"list","cachedResultName":"openai/gpt-4o-mini"},"builtInTools":{},"options":{"temperature":0.7}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[704,464],"id":"bd5e8fe1-b263-4131-a31d-eeaeecb42fed","name":"Polza.ai Guard","credentials":{"openAiApi":{"id":"XuZr5QFsDpxldUrH","name":"Polza.ai account"}}},{"parameters":{"query":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}","options":{"include_images":true,"include_image_descriptions":true}},"type":"@tavily/n8n-nodes-tavily.tavilyTool","typeVersion":1,"position":[2272,544],"id":"7ab2020e-8f44-4ff9-ac25-073c4d86cf2a","name":"WebSearch","credentials":{"tavilyApi":{"id":"r2nmocsnlVqVhz7g","name":"Tavily account"}}},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}","options":{"systemMessage":"=##Роль\nТы идеальный личный ассистент. Ты девушка. Тебя зовут Айкона. Твоя задача - быть дружелюбной ассистенткой и отвечать на вопросы.\n\n##Параметры\nИмя пользователя: {{ $json.user_name}}\nРегион для погоды: {{ $json.weather_region }}\n\n##Основные инструкции\nОтвечайте только простым текстом без HTML разметки, заголовков (#), кавычек (`) или любого другого HTML-кода.\n\nДобавляйте смайлики и эмоджи в текст, где это уместно, чтобы разнообразить реакцию и сделать ее более приятной для пользователя.\n\nЕсли пользователь отправил документ или изображение, и из контекста неясно, что делать с этим файлом, спросите пользователя, что нужно сделать.\n\nЕсли пользователь запросил погоду, но тебе не понятно для какого региона нужна информация, уточни у пользователя. Важно уточнять не только город, но и страну, если город с таким названием есть в нескольких регионах.\nЕсли точно не понятно в каком регионе или стране город, напиши какие есть варианты и спроси в каком из этих городов интересует погода.\n\nИнформацию о погоде ищи только на сайте gismeteo.ru.\n\nНе придумывай и не додумывай информацию, если ты не уверена на 100% в ее достоверности.\n\n##Инструменты\n**Веб-поиск** инструмент для поиска информации в Интернете\n\n## Последние напоминания\n- Дата и время: {{ $now }}","passthroughBinaryImages":true}},"id":"9eaedea3-7f4a-45b7-a30a-6a1229d10293","name":"AI  AIKona","type":"@n8n/n8n-nodes-langchain.agent","position":[2048,320],"typeVersion":3,"onError":"continueErrorOutput"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1104,192],"id":"27f6cb8f-bd82-4c39-a0d2-e9d592cff485","name":"Merge Data with Guard"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1584,208],"id":"77d38d93-e9d9-46d6-aea8-0c4183271934","name":"Merge Data with Classification"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.chat_id }}","tableName":"chat_histories"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[2128,544],"id":"fc80fe24-c5bd-433b-9546-cdbb7748ec36","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"fUvy3qNGbiPXadi7","name":"Postgres Supabase account"}}}],"connections":{"Get Access Token":{"main":[[{"node":"Merge AccessToken and Data","type":"main","index":0}]]},"Get Response":{"main":[[{"node":"Merge Description and Json","type":"main","index":0}]]},"Text/Attachment":{"main":[[{"node":"Exists Message Text","type":"main","index":0}],[{"node":"Get Access Token","type":"main","index":0},{"node":"Call 'Processing Chat Message'","type":"main","index":0},{"node":"Merge Description and Json","type":"main","index":1}],[{"node":"Exists Atachments","type":"main","index":0}]]},"Voice to Prompt":{"main":[[{"node":"Merge prompt","type":"main","index":0}]]},"Text to Prompt":{"main":[[{"node":"Merge prompt","type":"main","index":0}]]},"Merge AccessToken and Data":{"main":[[{"node":"Get Response","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Text/Attachment","type":"main","index":0}]]},"Call 'Processing Chat Message'":{"main":[[{"node":"Merge AccessToken and Data","type":"main","index":1}]]},"Merge prompt":{"main":[[{"node":"Guardrails","type":"main","index":0},{"node":"Merge Data with Guard","type":"main","index":0}]]},"Attach to Prompt":{"main":[[{"node":"Output","type":"main","index":0}]]},"Link Attach to prompt":{"main":[[{"node":"Output","type":"main","index":0}]]},"Link Text to Prompt":{"main":[[{"node":"Merge prompt","type":"main","index":0}]]},"Exists Message Text":{"main":[[{"node":"Text to Prompt","type":"main","index":0}],[{"node":"Link Text to Prompt","type":"main","index":0}]]},"Exists Atachments":{"main":[[{"node":"Attach to Prompt","type":"main","index":0}],[{"node":"Link Attach to prompt","type":"main","index":0}]]},"Merge Description and Json":{"main":[[{"node":"Voice to Prompt","type":"main","index":0}]]},"Switch":{"main":[[],[{"node":"AI  AIKona","type":"main","index":0}]]},"Polza.ai Model":{"ai_languageModel":[[{"node":"AI  AIKona","type":"ai_languageModel","index":0}]]},"Prompt Classification":{"main":[[{"node":"Merge Data with Classification","type":"main","index":1}]]},"Guardrails":{"main":[[{"node":"Merge Data with Guard","type":"main","index":1}]]},"Polza.ai Classification":{"ai_languageModel":[[{"node":"Prompt Classification","type":"ai_languageModel","index":0}]]},"Polza.ai Guard":{"ai_languageModel":[[{"node":"Guardrails","type":"ai_languageModel","index":0}]]},"WebSearch":{"ai_tool":[[{"node":"AI  AIKona","type":"ai_tool","index":0}]]},"Merge Data with Guard":{"main":[[{"node":"Prompt Classification","type":"main","index":0},{"node":"Merge Data with Classification","type":"main","index":0}]]},"Merge Data with Classification":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI  AIKona","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"messenger_type":"max","chat_id":"136679478","user_name":"Виктор","user_id":173436689,"has_text":true,"has_attachments":null,"has_voice":null,"message_text":"проверка","attachments":null,"link_attachments":null,"link_message_text":null},"pairedItem":{"item":0}}]},"versionId":"ab605f5b-5ce8-445f-a032-9084f6cfa392","activeVersionId":"ab605f5b-5ce8-445f-a032-9084f6cfa392","triggerCount":0,"shared":[{"updatedAt":"2026-02-11T08:12:05.187Z","createdAt":"2026-02-11T08:12:05.187Z","role":"workflow:owner","workflowId":"VmqRxUfBdXaUT6Gb_crlm","projectId":"rPoiFFCZqHU6mXAS"}],"activeVersion":{"updatedAt":"2026-03-02T09:44:17.675Z","createdAt":"2026-03-02T09:44:13.379Z","versionId":"ab605f5b-5ce8-445f-a032-9084f6cfa392","workflowId":"VmqRxUfBdXaUT6Gb_crlm","nodes":[{"parameters":{"method":"POST","url":"https://ngw.devices.sberbank.ru:9443/api/v2/oauth","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"RqUID","value":"={{ 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) { var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8); return v.toString(16); }) }}"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"scope","value":"SALUTE_SPEECH_PERS"}]},"options":{"allowUnauthorizedCerts":true,"redirect":{"redirect":{}}}},"id":"28498712-5027-46ec-881d-0da94502d82b","name":"Get Access Token","type":"n8n-nodes-base.httpRequest","position":[-640,48],"typeVersion":4.3,"credentials":{"httpHeaderAuth":{"id":"yyEpB09syfwElmOQ","name":"Salute Speach API key"}}},{"parameters":{"method":"POST","url":"https://smartspeech.sber.ru/rest/v1/speech:recognize","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"model","value":"=general"},{"name":"enable_profanity_filter","value":"=false"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{"allowUnauthorizedCerts":true,"redirect":{"redirect":{}}}},"id":"bb229bc9-753a-4a2a-9ea6-f29f834af866","name":"Get Response","type":"n8n-nodes-base.httpRequest","position":[-224,144],"typeVersion":4.3,"credentials":{"httpHeaderAuth":{"id":"AH81xEXK7XG4N92y","name":"Salute Speach Access token"},"httpBearerAuth":{"id":"TZ15phJOB6sbuCMV","name":"Salute Speach Brearer Token"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"10d834ee-e759-4d11-a864-4927a8b032de","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.has_text }}","rightValue":"file"}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6d6731a2-a44b-42b6-b547-35342e0fcf7a","leftValue":"={{ $json.has_voice }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"77dfa93f-2534-4c8a-85c4-4584b4349449","leftValue":"={{ $json.has_attachments === true && ($json.has_voice === false || $json.has_voice === null)}}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Attachments"}]},"options":{}},"id":"6f376df1-8573-4406-8a22-53b3b49d5275","name":"Text/Attachment","type":"n8n-nodes-base.switch","position":[-1008,208],"typeVersion":3.3},{"parameters":{"assignments":{"assignments":[{"id":"b6f3835d-b9d6-42d1-b738-74b731b29846","name":"prompt","type":"string","value":"={{ $json.result[0] }}"}]},"includeOtherFields":true,"options":{}},"id":"541396c6-9f57-4c0d-8eac-f6edea75254f","name":"Voice to Prompt","type":"n8n-nodes-base.set","position":[160,224],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"c6a31a7b-a3a5-4eec-948c-418411b47717","name":"prompt","value":"={{ $json.message_text }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"b48bf6cf-6428-4d8d-84b7-272fb7c5d0e7","name":"Text to Prompt","type":"n8n-nodes-base.set","position":[-320,-224],"typeVersion":3.4},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{"includeUnpaired":true}},"id":"d39f1d24-5211-4b84-b992-df9c5d238e8b","name":"Merge AccessToken and Data","type":"n8n-nodes-base.merge","position":[-416,144],"typeVersion":3.2},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1216,224],"id":"5debbb41-260a-45f5-99b1-0994109282da","name":"When Executed by Another Workflow"},{"parameters":{"workflowId":{"__rl":true,"value":"r8AJc4kiYEpdRkvQ","mode":"list","cachedResultUrl":"/workflow/r8AJc4kiYEpdRkvQ","cachedResultName":"Get Chat Voice"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-640,192],"id":"12ddfbcb-5937-4236-9def-615f89625e8f","name":"Call 'Processing Chat Message'"},{"parameters":{"assignments":{"assignments":[{"id":"7c1f36e0-dbbf-42f5-b71b-19bc9c688c4a","name":"prompt","value":"={{ $json.prompt }}","type":"string"},{"id":"861a4183-038e-41f0-8051-a027d4a82eeb","name":"user_id","value":"={{ $json.user_id }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[592,176],"id":"cf5046fd-2e04-490d-8d03-c6cea092d331","name":"Merge prompt"},{"parameters":{"assignments":{"assignments":[{"id":"3b32636c-762d-4e78-bd88-ffd8253987d2","name":"prompt","value":"={{ $json.attachments }}","type":"array"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-304,432],"id":"0beedfcf-ff2d-46dc-8cd2-f1de392ad965","name":"Attach to Prompt"},{"parameters":{"assignments":{"assignments":[{"id":"18cf3fac-1b06-4e52-a9b2-8bd3b64a5a30","name":"ptompt","value":"={{ $json.link_attachment }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-304,608],"id":"18598df0-3b2b-44b8-811b-0c1b9aa30a94","name":"Link Attach to prompt"},{"parameters":{"assignments":{"assignments":[{"id":"c6a31a7b-a3a5-4eec-948c-418411b47717","name":"prompt","value":"={{ $json.link_message_text }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"c3c7ff6a-a079-432b-acbb-e6a335459fb7","name":"Link Text to Prompt","type":"n8n-nodes-base.set","position":[-320,-48],"typeVersion":3.4},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1976aced-7809-4df7-91fe-fcea0e7c66ef","leftValue":"={{ $json.message_text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"c5dacedd-21f6-496b-a17c-614ea7208197","leftValue":"={{ $json.message_text }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-640,-128],"id":"fb9ed022-ba29-4b03-9221-3fde1be067fb","name":"Exists Message Text"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1976aced-7809-4df7-91fe-fcea0e7c66ef","leftValue":"={{ $json.attachments }}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-640,512],"id":"c78788df-6f9b-47ef-bc18-990e2c486a7b","name":"Exists Atachments"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{"includeUnpaired":false}},"id":"de12f7b2-e403-499c-9f61-9c1af9069621","name":"Merge Description and Json","type":"n8n-nodes-base.merge","position":[-16,224],"typeVersion":3.2},{"parameters":{"assignments":{"assignments":[{"id":"b6f3835d-b9d6-42d1-b738-74b731b29846","name":"output","type":"string","value":"=Прости, я пока не умею обрабатывать файлы."}]},"includeOtherFields":true,"options":{}},"id":"1e7a416e-e817-4e25-b108-2f7da4be09a1","name":"Output","type":"n8n-nodes-base.set","position":[-80,512],"typeVersion":3.4},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"92eeb407-469f-42ae-abc1-9bf50ab719b3","leftValue":"={{ $json.output.image_search }}","rightValue":"yes","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"4221cfb5-49ff-4c0a-ad0d-2c4f9a5128b1","leftValue":"={{ $json.output.image_search != 'yes' }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"other"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[1792,208],"id":"707e6940-5bdc-45f1-ac34-471e7add1d18","name":"Switch"},{"parameters":{"model":{"__rl":true,"value":"openai/gpt-4.1-mini","mode":"list","cachedResultName":"openai/gpt-4.1-mini"},"builtInTools":{},"options":{"temperature":0.7}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[1984,544],"id":"8d2e72b5-c38a-4461-a3ef-10acec5066e1","name":"Polza.ai Model","credentials":{"openAiApi":{"id":"XuZr5QFsDpxldUrH","name":"Polza.ai account"}}},{"parameters":{"text":"={{ $json.prompt }}","attributes":{"attributes":[{"name":"search_query","description":"=Create the right search query to search for information on the Internet, based on the text from the user."},{"name":"image_search","description":"=Determine from the text whether user needs to find an image or a photo on the Internet. If yes, then return \"yes\", if not, then return \"no\""},{"name":"weather_search","description":"=Determine from the text whether user needs to find an image or a photo on the Internet. If yes, then return \"yes\", if not, then return \"no\""},{"name":"weather_region","description":"=Use the user's text to determine if they need to find weather information on the Internet. If so, specify the name of the region or city for which you want to find weather information and return the name of the region or city. If you can't determine it, return \"undefined\""}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.informationExtractor","typeVersion":1.2,"position":[1296,288],"id":"f19ac874-78db-49a9-9af5-ce309ff663f3","name":"Prompt Classification"},{"parameters":{"text":"={{ $json.prompt }}","guardrails":{"jailbreak":{"value":{"threshold":0.7}}}},"type":"@n8n/n8n-nodes-langchain.guardrails","typeVersion":2,"position":[768,272],"id":"6f7df8f4-ad7c-41b2-9314-ba8044cfeb2d","name":"Guardrails"},{"parameters":{"model":{"__rl":true,"value":"openai/gpt-4.1-mini","mode":"list","cachedResultName":"openai/gpt-4.1-mini"},"builtInTools":{},"options":{"temperature":0.7}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[1232,464],"id":"cdbd7718-b150-41b3-af18-cdd56e164c1e","name":"Polza.ai Classification","credentials":{"openAiApi":{"id":"XuZr5QFsDpxldUrH","name":"Polza.ai account"}}},{"parameters":{"model":{"__rl":true,"value":"openai/gpt-4o-mini","mode":"list","cachedResultName":"openai/gpt-4o-mini"},"builtInTools":{},"options":{"temperature":0.7}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[704,464],"id":"bd5e8fe1-b263-4131-a31d-eeaeecb42fed","name":"Polza.ai Guard","credentials":{"openAiApi":{"id":"XuZr5QFsDpxldUrH","name":"Polza.ai account"}}},{"parameters":{"query":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}","options":{"include_images":true,"include_image_descriptions":true}},"type":"@tavily/n8n-nodes-tavily.tavilyTool","typeVersion":1,"position":[2272,544],"id":"7ab2020e-8f44-4ff9-ac25-073c4d86cf2a","name":"WebSearch","credentials":{"tavilyApi":{"id":"r2nmocsnlVqVhz7g","name":"Tavily account"}}},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}","options":{"systemMessage":"=##Роль\nТы идеальный личный ассистент. Ты девушка. Тебя зовут Айкона. Твоя задача - быть дружелюбной ассистенткой и отвечать на вопросы.\n\n##Параметры\nИмя пользователя: {{ $json.user_name}}\nРегион для погоды: {{ $json.weather_region }}\n\n##Основные инструкции\nОтвечайте только простым текстом без HTML разметки, заголовков (#), кавычек (`) или любого другого HTML-кода.\n\nДобавляйте смайлики и эмоджи в текст, где это уместно, чтобы разнообразить реакцию и сделать ее более приятной для пользователя.\n\nЕсли пользователь отправил документ или изображение, и из контекста неясно, что делать с этим файлом, спросите пользователя, что нужно сделать.\n\nЕсли пользователь запросил погоду, но тебе не понятно для какого региона нужна информация, уточни у пользователя. Важно уточнять не только город, но и страну, если город с таким названием есть в нескольких регионах.\nЕсли точно не понятно в каком регионе или стране город, напиши какие есть варианты и спроси в каком из этих городов интересует погода.\n\nИнформацию о погоде ищи только на сайте gismeteo.ru.\n\nНе придумывай и не додумывай информацию, если ты не уверена на 100% в ее достоверности.\n\n##Инструменты\n**Веб-поиск** инструмент для поиска информации в Интернете\n\n## Последние напоминания\n- Дата и время: {{ $now }}","passthroughBinaryImages":true}},"id":"9eaedea3-7f4a-45b7-a30a-6a1229d10293","name":"AI  AIKona","type":"@n8n/n8n-nodes-langchain.agent","position":[2048,320],"typeVersion":3,"onError":"continueErrorOutput"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1104,192],"id":"27f6cb8f-bd82-4c39-a0d2-e9d592cff485","name":"Merge Data with Guard"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[1584,208],"id":"77d38d93-e9d9-46d6-aea8-0c4183271934","name":"Merge Data with Classification"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.chat_id }}","tableName":"chat_histories"},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[2128,544],"id":"fc80fe24-c5bd-433b-9546-cdbb7748ec36","name":"Postgres Chat Memory","credentials":{"postgres":{"id":"fUvy3qNGbiPXadi7","name":"Postgres Supabase account"}}}],"connections":{"Get Access Token":{"main":[[{"node":"Merge AccessToken and Data","type":"main","index":0}]]},"Get Response":{"main":[[{"node":"Merge Description and Json","type":"main","index":0}]]},"Text/Attachment":{"main":[[{"node":"Exists Message Text","type":"main","index":0}],[{"node":"Get Access Token","type":"main","index":0},{"node":"Call 'Processing Chat Message'","type":"main","index":0},{"node":"Merge Description and Json","type":"main","index":1}],[{"node":"Exists Atachments","type":"main","index":0}]]},"Voice to Prompt":{"main":[[{"node":"Merge prompt","type":"main","index":0}]]},"Text to Prompt":{"main":[[{"node":"Merge prompt","type":"main","index":0}]]},"Merge AccessToken and Data":{"main":[[{"node":"Get Response","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Text/Attachment","type":"main","index":0}]]},"Call 'Processing Chat Message'":{"main":[[{"node":"Merge AccessToken and Data","type":"main","index":1}]]},"Merge prompt":{"main":[[{"node":"Guardrails","type":"main","index":0},{"node":"Merge Data with Guard","type":"main","index":0}]]},"Attach to Prompt":{"main":[[{"node":"Output","type":"main","index":0}]]},"Link Attach to prompt":{"main":[[{"node":"Output","type":"main","index":0}]]},"Link Text to Prompt":{"main":[[{"node":"Merge prompt","type":"main","index":0}]]},"Exists Message Text":{"main":[[{"node":"Text to Prompt","type":"main","index":0}],[{"node":"Link Text to Prompt","type":"main","index":0}]]},"Exists Atachments":{"main":[[{"node":"Attach to Prompt","type":"main","index":0}],[{"node":"Link Attach to prompt","type":"main","index":0}]]},"Merge Description and Json":{"main":[[{"node":"Voice to Prompt","type":"main","index":0}]]},"Switch":{"main":[[],[{"node":"AI  AIKona","type":"main","index":0}]]},"Polza.ai Model":{"ai_languageModel":[[{"node":"AI  AIKona","type":"ai_languageModel","index":0}]]},"Prompt Classification":{"main":[[{"node":"Merge Data with Classification","type":"main","index":1}]]},"Guardrails":{"main":[[{"node":"Merge Data with Guard","type":"main","index":1}]]},"Polza.ai Classification":{"ai_languageModel":[[{"node":"Prompt Classification","type":"ai_languageModel","index":0}]]},"Polza.ai Guard":{"ai_languageModel":[[{"node":"Guardrails","type":"ai_languageModel","index":0}]]},"WebSearch":{"ai_tool":[[{"node":"AI  AIKona","type":"ai_tool","index":0}]]},"Merge Data with Guard":{"main":[[{"node":"Prompt Classification","type":"main","index":0},{"node":"Merge Data with Classification","type":"main","index":0}]]},"Merge Data with Classification":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI  AIKona","type":"ai_memory","index":0}]]}},"authors":"AIKona me","name":"Version ab605f5b","description":"","autosaved":true},"tags":[]}