Processing Chat Message DEMO.json
{"updatedAt":"2026-02-16T18:57:50.721Z","createdAt":"2026-02-11T14:42:07.792Z","id":"Nls4ZawKhSxNpSoe","name":"Processing Chat Message DEMO","active":true,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://ngw.devices.sberbank.ru:9443/api/v2/oauth","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"RqUID","value":"={{ 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) { var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8); return v.toString(16); }) }}"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"scope","value":"SALUTE_SPEECH_PERS"}]},"options":{"allowUnauthorizedCerts":true,"redirect":{"redirect":{}}}},"id":"c5dc5aa1-87ae-49f7-83a8-7be5a253151d","name":"Get Access Token","type":"n8n-nodes-base.httpRequest","position":[-656,80],"typeVersion":4.3,"credentials":{"httpHeaderAuth":{"id":"yyEpB09syfwElmOQ","name":"Salute Speach API key"},"httpBearerAuth":{"id":"TZ15phJOB6sbuCMV","name":"Salute Speach Brearer Token"}}},{"parameters":{"method":"POST","url":"https://smartspeech.sber.ru/rest/v1/speech:recognize","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"model","value":"=general"},{"name":"enable_profanity_filter","value":"=false"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{"allowUnauthorizedCerts":true,"redirect":{"redirect":{}}}},"id":"aee1b932-d496-4aba-81c8-5b220dfc6ed9","name":"Get Response","type":"n8n-nodes-base.httpRequest","position":[-240,80],"typeVersion":4.3,"credentials":{"httpHeaderAuth":{"id":"1yjCkvMZD8CWgKIR","name":"Salute Speach Access Token"},"httpBearerAuth":{"id":"TZ15phJOB6sbuCMV","name":"Salute Speach Brearer Token"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"10d834ee-e759-4d11-a864-4927a8b032de","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.has_text === true }}","rightValue":"file"}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6d6731a2-a44b-42b6-b547-35342e0fcf7a","leftValue":"={{ $json.has_voice === true}}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"77dfa93f-2534-4c8a-85c4-4584b4349449","leftValue":"={{ $json.has_attachments === true && ($json.has_voice === false || $json.has_voice === null)}}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Attachments"}]},"options":{}},"id":"eeb30295-2183-43de-8f81-65c9decb6141","name":"Text/Attachment","type":"n8n-nodes-base.switch","position":[-1008,208],"typeVersion":3.3},{"parameters":{"assignments":{"assignments":[{"id":"b6f3835d-b9d6-42d1-b738-74b731b29846","name":"prompt","type":"string","value":"={{ $json.result[0] }}"}]},"includeOtherFields":true,"options":{}},"id":"6f81855e-c084-47e6-b48c-809bfc1b9b3a","name":"Voice to Prompt","type":"n8n-nodes-base.set","position":[160,224],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"c6a31a7b-a3a5-4eec-948c-418411b47717","name":"prompt","value":"={{ $json.message_text }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"2303c0e9-8776-4b73-80eb-8695487bf823","name":"Text to Prompt","type":"n8n-nodes-base.set","position":[-288,-256],"typeVersion":3.4},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{"includeUnpaired":false}},"id":"e2f8fd82-66c8-4cde-98ef-32c132a29802","name":"Merge AccessToken and Data","type":"n8n-nodes-base.merge","position":[-432,80],"typeVersion":3.2},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.user_id }}"},"id":"3dbb0322-7a19-486e-96c0-49e572e46d81","name":"Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[832,320],"typeVersion":1.3},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1216,224],"id":"6dc90d37-5dae-47d6-90aa-3c94dce36397","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"7c1f36e0-dbbf-42f5-b71b-19bc9c688c4a","name":"prompt","value":"={{ $json.prompt }}","type":"string"},{"id":"861a4183-038e-41f0-8051-a027d4a82eeb","name":"user_id","value":"={{ $json.user_id }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[560,128],"id":"f6c2367b-f803-4669-ae15-ffed19d5ac12","name":"Merge prompt"},{"parameters":{"assignments":{"assignments":[{"id":"3b32636c-762d-4e78-bd88-ffd8253987d2","name":"prompt","value":"={{ $json.attachments }}","type":"array"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-304,432],"id":"edd922ae-0c9a-4e3a-a4cc-9017ea2c014b","name":"Attach to Prompt"},{"parameters":{"assignments":{"assignments":[{"id":"18cf3fac-1b06-4e52-a9b2-8bd3b64a5a30","name":"ptompt","value":"={{ $json.link_attachment }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-304,608],"id":"4d098625-ff37-406d-a3a7-7b5c5574b8a8","name":"Link Attach to prompt"},{"parameters":{"assignments":{"assignments":[{"id":"c6a31a7b-a3a5-4eec-948c-418411b47717","name":"prompt","value":"={{ $json.link_message_text }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"77253316-a217-48f9-a672-fb74facb02ea","name":"Link Text to Prompt","type":"n8n-nodes-base.set","position":[-288,-80],"typeVersion":3.4},{"parameters":{"workflowId":{"__rl":true,"value":"bCVDwdRKBnzt8N7I","mode":"list","cachedResultUrl":"/workflow/bCVDwdRKBnzt8N7I","cachedResultName":"Get Chat Voice DEMO"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-656,336],"id":"4680e508-5141-4dd3-97ee-7b1496aeda07","name":"Call 'Get Chat Voice DEMO'"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1976aced-7809-4df7-91fe-fcea0e7c66ef","leftValue":"={{ $json.message_text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"ece2aa3c-2628-4a2a-bc86-e4547d7d6674","leftValue":"={{ $json.message_text }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-656,-160],"id":"539a7260-b8de-4740-93f5-5c50f1ab51fc","name":"Exists Message Text"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1976aced-7809-4df7-91fe-fcea0e7c66ef","leftValue":"={{ $json.attachments }}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-656,512],"id":"4ef597c0-7cae-470d-a20b-427af465649e","name":"Exists Atachments"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{"includeUnpaired":false}},"id":"e8565bbe-0387-4ee1-8a4f-f34cfbf74582","name":"Merge Description and Json","type":"n8n-nodes-base.merge","position":[-16,208],"typeVersion":3.2},{"parameters":{"query":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}","options":{}},"type":"@tavily/n8n-nodes-tavily.tavilyTool","typeVersion":1,"position":[976,320],"id":"690be939-1531-4bbd-96e3-d37e7f452bbc","name":"WebSearch","credentials":{"tavilyApi":{"id":"r2nmocsnlVqVhz7g","name":"Tavily account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.user_id }}"},"id":"9f246769-66e3-4feb-9558-1e70082a9238","name":"Memory1","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[1264,320],"typeVersion":1.3},{"parameters":{"query":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}","options":{}},"type":"@tavily/n8n-nodes-tavily.tavilyTool","typeVersion":1,"position":[1408,320],"id":"f5770bac-22d1-4083-8e99-eaa2d639a554","name":"WebSearch1","credentials":{"tavilyApi":{"id":"r2nmocsnlVqVhz7g","name":"Tavily account"}}},{"parameters":{"model":"qwen/qwen3-235b-a22b-thinking-2507","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[704,320],"id":"f022a805-275c-4454-91f1-62f150538d91","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"v95dk8ro9b0SGWSC","name":"OpenRouter account"}}},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}","options":{"systemMessage":"=##Role\nYou are the perfect personal assistant. You're a girl. Your name is Aikona. Your task is to be a friendly assistant and answer questions.\n\n##Parameters\nUser name: {{$json.user_name }}\n\n##Basic instructions\nAnswer only in plain text without Markdown, formatting, bullet lists, headings (#), quotation marks (``) or any HTML. Use regular sentences and paragraphs.\n\nIf the user has sent a document or an image, and it is unclear from the context what to do with this file, ask the user what needs to be done.\n\n##Tools\n**WebSearch** a tool for searching information on the Internet\n\n## Recent reminders\n- Date and time: {{$now }}"}},"id":"af782c12-8e23-48e5-8958-3b9f5b0a3abc","name":"AI OpenRouter","type":"@n8n/n8n-nodes-langchain.agent","position":[784,128],"typeVersion":3,"onError":"continueErrorOutput"},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}","options":{"systemMessage":"=##Role\nYou are the perfect personal assistant. You're a girl. Your name is Aikona. Your task is to be a friendly assistant and answer questions.\n\n##Parameters\nUser name: {{$json.user_name }}\n\n##Basic instructions\nAnswer only in plain text without Markdown, formatting, bullet lists, headings (#), quotation marks (``) or any HTML. Use regular sentences and paragraphs.\n\nIf the user has sent a document or an image, and it is unclear from the context what to do with this file, ask the user what needs to be done.\n\n##Tools\n**WebSearch** a tool for searching information on the Internet\n\n## Recent reminders\n- Date and time: {{$now }}"}},"id":"5dbc91be-af2c-4a26-8b16-3f1f9ebe638e","name":"AI Polza","type":"@n8n/n8n-nodes-langchain.agent","position":[1168,128],"typeVersion":3},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-5-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[1120,320],"id":"08a9b993-701c-4786-ad0d-58f1714a550b","name":"Polza.ai Chat Model","credentials":{"openAiApi":{"id":"XuZr5QFsDpxldUrH","name":"Polza.ai account"}}}],"connections":{"Get Access Token":{"main":[[{"node":"Merge AccessToken and Data","type":"main","index":0}]]},"Get Response":{"main":[[{"node":"Merge Description and Json","type":"main","index":0}]]},"Text/Attachment":{"main":[[{"node":"Exists Message Text","type":"main","index":0}],[{"node":"Get Access Token","type":"main","index":0},{"node":"Call 'Get Chat Voice DEMO'","type":"main","index":0},{"node":"Merge Description and Json","type":"main","index":1}],[{"node":"Exists Atachments","type":"main","index":0}]]},"Voice to Prompt":{"main":[[{"node":"Merge prompt","type":"main","index":0}]]},"Text to Prompt":{"main":[[{"node":"Merge prompt","type":"main","index":0}]]},"Merge AccessToken and Data":{"main":[[{"node":"Get Response","type":"main","index":0}]]},"Memory":{"ai_memory":[[{"node":"AI OpenRouter","type":"ai_memory","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Text/Attachment","type":"main","index":0}]]},"Merge prompt":{"main":[[{"node":"AI OpenRouter","type":"main","index":0}]]},"Attach to Prompt":{"main":[[]]},"Link Attach to prompt":{"main":[[]]},"Link Text to Prompt":{"main":[[{"node":"Merge prompt","type":"main","index":0}]]},"Call 'Get Chat Voice DEMO'":{"main":[[{"node":"Merge AccessToken and Data","type":"main","index":1}]]},"Exists Message Text":{"main":[[{"node":"Text to Prompt","type":"main","index":0}],[{"node":"Link Text to Prompt","type":"main","index":0}]]},"Exists Atachments":{"main":[[{"node":"Attach to Prompt","type":"main","index":0}],[{"node":"Link Attach to prompt","type":"main","index":0}]]},"Merge Description and Json":{"main":[[{"node":"Voice to Prompt","type":"main","index":0}]]},"WebSearch":{"ai_tool":[[{"node":"AI OpenRouter","type":"ai_tool","index":0}]]},"Memory1":{"ai_memory":[[{"node":"AI Polza","type":"ai_memory","index":0}]]},"WebSearch1":{"ai_tool":[[{"node":"AI Polza","type":"ai_tool","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI OpenRouter","type":"ai_languageModel","index":0}]]},"AI OpenRouter":{"main":[[],[{"node":"AI Polza","type":"main","index":0}]]},"AI Polza":{"main":[[]]},"Polza.ai Chat Model":{"ai_languageModel":[[{"node":"AI Polza","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1fd41213-49e0-4cf8-bbc8-83fa8d86d968","activeVersionId":"1fd41213-49e0-4cf8-bbc8-83fa8d86d968","triggerCount":0,"shared":[{"updatedAt":"2026-02-11T14:42:07.792Z","createdAt":"2026-02-11T14:42:07.792Z","role":"workflow:owner","workflowId":"Nls4ZawKhSxNpSoe","projectId":"rPoiFFCZqHU6mXAS"}],"activeVersion":{"updatedAt":"2026-02-16T18:57:54.610Z","createdAt":"2026-02-16T18:57:50.722Z","versionId":"1fd41213-49e0-4cf8-bbc8-83fa8d86d968","workflowId":"Nls4ZawKhSxNpSoe","nodes":[{"parameters":{"method":"POST","url":"https://ngw.devices.sberbank.ru:9443/api/v2/oauth","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"RqUID","value":"={{ 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) { var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8); return v.toString(16); }) }}"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"scope","value":"SALUTE_SPEECH_PERS"}]},"options":{"allowUnauthorizedCerts":true,"redirect":{"redirect":{}}}},"id":"c5dc5aa1-87ae-49f7-83a8-7be5a253151d","name":"Get Access Token","type":"n8n-nodes-base.httpRequest","position":[-656,80],"typeVersion":4.3,"credentials":{"httpHeaderAuth":{"id":"yyEpB09syfwElmOQ","name":"Salute Speach API key"},"httpBearerAuth":{"id":"TZ15phJOB6sbuCMV","name":"Salute Speach Brearer Token"}}},{"parameters":{"method":"POST","url":"https://smartspeech.sber.ru/rest/v1/speech:recognize","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"model","value":"=general"},{"name":"enable_profanity_filter","value":"=false"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{"allowUnauthorizedCerts":true,"redirect":{"redirect":{}}}},"id":"aee1b932-d496-4aba-81c8-5b220dfc6ed9","name":"Get Response","type":"n8n-nodes-base.httpRequest","position":[-240,80],"typeVersion":4.3,"credentials":{"httpHeaderAuth":{"id":"1yjCkvMZD8CWgKIR","name":"Salute Speach Access Token"},"httpBearerAuth":{"id":"TZ15phJOB6sbuCMV","name":"Salute Speach Brearer Token"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"10d834ee-e759-4d11-a864-4927a8b032de","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.has_text === true }}","rightValue":"file"}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6d6731a2-a44b-42b6-b547-35342e0fcf7a","leftValue":"={{ $json.has_voice === true}}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"77dfa93f-2534-4c8a-85c4-4584b4349449","leftValue":"={{ $json.has_attachments === true && ($json.has_voice === false || $json.has_voice === null)}}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Attachments"}]},"options":{}},"id":"eeb30295-2183-43de-8f81-65c9decb6141","name":"Text/Attachment","type":"n8n-nodes-base.switch","position":[-1008,208],"typeVersion":3.3},{"parameters":{"assignments":{"assignments":[{"id":"b6f3835d-b9d6-42d1-b738-74b731b29846","name":"prompt","type":"string","value":"={{ $json.result[0] }}"}]},"includeOtherFields":true,"options":{}},"id":"6f81855e-c084-47e6-b48c-809bfc1b9b3a","name":"Voice to Prompt","type":"n8n-nodes-base.set","position":[160,224],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"c6a31a7b-a3a5-4eec-948c-418411b47717","name":"prompt","value":"={{ $json.message_text }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"2303c0e9-8776-4b73-80eb-8695487bf823","name":"Text to Prompt","type":"n8n-nodes-base.set","position":[-288,-256],"typeVersion":3.4},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{"includeUnpaired":false}},"id":"e2f8fd82-66c8-4cde-98ef-32c132a29802","name":"Merge AccessToken and Data","type":"n8n-nodes-base.merge","position":[-432,80],"typeVersion":3.2},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.user_id }}"},"id":"3dbb0322-7a19-486e-96c0-49e572e46d81","name":"Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[832,320],"typeVersion":1.3},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1216,224],"id":"6dc90d37-5dae-47d6-90aa-3c94dce36397","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"7c1f36e0-dbbf-42f5-b71b-19bc9c688c4a","name":"prompt","value":"={{ $json.prompt }}","type":"string"},{"id":"861a4183-038e-41f0-8051-a027d4a82eeb","name":"user_id","value":"={{ $json.user_id }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[560,128],"id":"f6c2367b-f803-4669-ae15-ffed19d5ac12","name":"Merge prompt"},{"parameters":{"assignments":{"assignments":[{"id":"3b32636c-762d-4e78-bd88-ffd8253987d2","name":"prompt","value":"={{ $json.attachments }}","type":"array"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-304,432],"id":"edd922ae-0c9a-4e3a-a4cc-9017ea2c014b","name":"Attach to Prompt"},{"parameters":{"assignments":{"assignments":[{"id":"18cf3fac-1b06-4e52-a9b2-8bd3b64a5a30","name":"ptompt","value":"={{ $json.link_attachment }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-304,608],"id":"4d098625-ff37-406d-a3a7-7b5c5574b8a8","name":"Link Attach to prompt"},{"parameters":{"assignments":{"assignments":[{"id":"c6a31a7b-a3a5-4eec-948c-418411b47717","name":"prompt","value":"={{ $json.link_message_text }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"77253316-a217-48f9-a672-fb74facb02ea","name":"Link Text to Prompt","type":"n8n-nodes-base.set","position":[-288,-80],"typeVersion":3.4},{"parameters":{"workflowId":{"__rl":true,"value":"bCVDwdRKBnzt8N7I","mode":"list","cachedResultUrl":"/workflow/bCVDwdRKBnzt8N7I","cachedResultName":"Get Chat Voice DEMO"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{"waitForSubWorkflow":true}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-656,336],"id":"4680e508-5141-4dd3-97ee-7b1496aeda07","name":"Call 'Get Chat Voice DEMO'"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1976aced-7809-4df7-91fe-fcea0e7c66ef","leftValue":"={{ $json.message_text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"ece2aa3c-2628-4a2a-bc86-e4547d7d6674","leftValue":"={{ $json.message_text }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-656,-160],"id":"539a7260-b8de-4740-93f5-5c50f1ab51fc","name":"Exists Message Text"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1976aced-7809-4df7-91fe-fcea0e7c66ef","leftValue":"={{ $json.attachments }}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-656,512],"id":"4ef597c0-7cae-470d-a20b-427af465649e","name":"Exists Atachments"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{"includeUnpaired":false}},"id":"e8565bbe-0387-4ee1-8a4f-f34cfbf74582","name":"Merge Description and Json","type":"n8n-nodes-base.merge","position":[-16,208],"typeVersion":3.2},{"parameters":{"query":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}","options":{}},"type":"@tavily/n8n-nodes-tavily.tavilyTool","typeVersion":1,"position":[976,320],"id":"690be939-1531-4bbd-96e3-d37e7f452bbc","name":"WebSearch","credentials":{"tavilyApi":{"id":"r2nmocsnlVqVhz7g","name":"Tavily account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.user_id }}"},"id":"9f246769-66e3-4feb-9558-1e70082a9238","name":"Memory1","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[1264,320],"typeVersion":1.3},{"parameters":{"query":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}","options":{}},"type":"@tavily/n8n-nodes-tavily.tavilyTool","typeVersion":1,"position":[1408,320],"id":"f5770bac-22d1-4083-8e99-eaa2d639a554","name":"WebSearch1","credentials":{"tavilyApi":{"id":"r2nmocsnlVqVhz7g","name":"Tavily account"}}},{"parameters":{"model":"qwen/qwen3-235b-a22b-thinking-2507","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[704,320],"id":"f022a805-275c-4454-91f1-62f150538d91","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"v95dk8ro9b0SGWSC","name":"OpenRouter account"}}},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}","options":{"systemMessage":"=##Role\nYou are the perfect personal assistant. You're a girl. Your name is Aikona. Your task is to be a friendly assistant and answer questions.\n\n##Parameters\nUser name: {{$json.user_name }}\n\n##Basic instructions\nAnswer only in plain text without Markdown, formatting, bullet lists, headings (#), quotation marks (``) or any HTML. Use regular sentences and paragraphs.\n\nIf the user has sent a document or an image, and it is unclear from the context what to do with this file, ask the user what needs to be done.\n\n##Tools\n**WebSearch** a tool for searching information on the Internet\n\n## Recent reminders\n- Date and time: {{$now }}"}},"id":"af782c12-8e23-48e5-8958-3b9f5b0a3abc","name":"AI OpenRouter","type":"@n8n/n8n-nodes-langchain.agent","position":[784,128],"typeVersion":3,"onError":"continueErrorOutput"},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}","options":{"systemMessage":"=##Role\nYou are the perfect personal assistant. You're a girl. Your name is Aikona. Your task is to be a friendly assistant and answer questions.\n\n##Parameters\nUser name: {{$json.user_name }}\n\n##Basic instructions\nAnswer only in plain text without Markdown, formatting, bullet lists, headings (#), quotation marks (``) or any HTML. Use regular sentences and paragraphs.\n\nIf the user has sent a document or an image, and it is unclear from the context what to do with this file, ask the user what needs to be done.\n\n##Tools\n**WebSearch** a tool for searching information on the Internet\n\n## Recent reminders\n- Date and time: {{$now }}"}},"id":"5dbc91be-af2c-4a26-8b16-3f1f9ebe638e","name":"AI Polza","type":"@n8n/n8n-nodes-langchain.agent","position":[1168,128],"typeVersion":3},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-5-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[1120,320],"id":"08a9b993-701c-4786-ad0d-58f1714a550b","name":"Polza.ai Chat Model","credentials":{"openAiApi":{"id":"XuZr5QFsDpxldUrH","name":"Polza.ai account"}}}],"connections":{"Get Access Token":{"main":[[{"node":"Merge AccessToken and Data","type":"main","index":0}]]},"Get Response":{"main":[[{"node":"Merge Description and Json","type":"main","index":0}]]},"Text/Attachment":{"main":[[{"node":"Exists Message Text","type":"main","index":0}],[{"node":"Get Access Token","type":"main","index":0},{"node":"Call 'Get Chat Voice DEMO'","type":"main","index":0},{"node":"Merge Description and Json","type":"main","index":1}],[{"node":"Exists Atachments","type":"main","index":0}]]},"Voice to Prompt":{"main":[[{"node":"Merge prompt","type":"main","index":0}]]},"Text to Prompt":{"main":[[{"node":"Merge prompt","type":"main","index":0}]]},"Merge AccessToken and Data":{"main":[[{"node":"Get Response","type":"main","index":0}]]},"Memory":{"ai_memory":[[{"node":"AI OpenRouter","type":"ai_memory","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Text/Attachment","type":"main","index":0}]]},"Merge prompt":{"main":[[{"node":"AI OpenRouter","type":"main","index":0}]]},"Attach to Prompt":{"main":[[]]},"Link Attach to prompt":{"main":[[]]},"Link Text to Prompt":{"main":[[{"node":"Merge prompt","type":"main","index":0}]]},"Call 'Get Chat Voice DEMO'":{"main":[[{"node":"Merge AccessToken and Data","type":"main","index":1}]]},"Exists Message Text":{"main":[[{"node":"Text to Prompt","type":"main","index":0}],[{"node":"Link Text to Prompt","type":"main","index":0}]]},"Exists Atachments":{"main":[[{"node":"Attach to Prompt","type":"main","index":0}],[{"node":"Link Attach to prompt","type":"main","index":0}]]},"Merge Description and Json":{"main":[[{"node":"Voice to Prompt","type":"main","index":0}]]},"WebSearch":{"ai_tool":[[{"node":"AI OpenRouter","type":"ai_tool","index":0}]]},"Memory1":{"ai_memory":[[{"node":"AI Polza","type":"ai_memory","index":0}]]},"WebSearch1":{"ai_tool":[[{"node":"AI Polza","type":"ai_tool","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI OpenRouter","type":"ai_languageModel","index":0}]]},"AI OpenRouter":{"main":[[],[{"node":"AI Polza","type":"main","index":0}]]},"AI Polza":{"main":[[]]},"Polza.ai Chat Model":{"ai_languageModel":[[{"node":"AI Polza","type":"ai_languageModel","index":0}]]}},"authors":"AIKona me","name":"Version 1fd41213","description":"","autosaved":true},"tags":[]}