Processing Chat Message.json
{"updatedAt":"2026-02-16T18:39:03.283Z","createdAt":"2026-02-11T08:12:05.187Z","id":"VmqRxUfBdXaUT6Gb_crlm","name":"Processing Chat Message","active":true,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://ngw.devices.sberbank.ru:9443/api/v2/oauth","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"RqUID","value":"={{ 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) { var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8); return v.toString(16); }) }}"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"scope","value":"SALUTE_SPEECH_PERS"}]},"options":{"allowUnauthorizedCerts":true,"redirect":{"redirect":{}}}},"id":"28498712-5027-46ec-881d-0da94502d82b","name":"Get Access Token","type":"n8n-nodes-base.httpRequest","position":[-640,48],"typeVersion":4.3,"credentials":{"httpHeaderAuth":{"id":"yyEpB09syfwElmOQ","name":"Salute Speach API key"}}},{"parameters":{"method":"POST","url":"https://smartspeech.sber.ru/rest/v1/speech:recognize","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"model","value":"=general"},{"name":"enable_profanity_filter","value":"=false"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{"allowUnauthorizedCerts":true,"redirect":{"redirect":{}}}},"id":"bb229bc9-753a-4a2a-9ea6-f29f834af866","name":"Get Response","type":"n8n-nodes-base.httpRequest","position":[-224,144],"typeVersion":4.3,"credentials":{"httpHeaderAuth":{"id":"AH81xEXK7XG4N92y","name":"Salute Speach Access token"},"httpBearerAuth":{"id":"TZ15phJOB6sbuCMV","name":"Salute Speach Brearer Token"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"10d834ee-e759-4d11-a864-4927a8b032de","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.has_text }}","rightValue":"file"}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6d6731a2-a44b-42b6-b547-35342e0fcf7a","leftValue":"={{ $json.has_voice }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"77dfa93f-2534-4c8a-85c4-4584b4349449","leftValue":"={{ $json.has_attachments === true && ($json.has_voice === false || $json.has_voice === null)}}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Attachments"}]},"options":{}},"id":"6f376df1-8573-4406-8a22-53b3b49d5275","name":"Text/Attachment","type":"n8n-nodes-base.switch","position":[-1008,208],"typeVersion":3.3},{"parameters":{"assignments":{"assignments":[{"id":"b6f3835d-b9d6-42d1-b738-74b731b29846","name":"prompt","type":"string","value":"={{ $json.result[0] }}"}]},"includeOtherFields":true,"options":{}},"id":"541396c6-9f57-4c0d-8eac-f6edea75254f","name":"Voice to Prompt","type":"n8n-nodes-base.set","position":[160,224],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"c6a31a7b-a3a5-4eec-948c-418411b47717","name":"prompt","value":"={{ $json.message_text }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"b48bf6cf-6428-4d8d-84b7-272fb7c5d0e7","name":"Text to Prompt","type":"n8n-nodes-base.set","position":[-320,-224],"typeVersion":3.4},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{"includeUnpaired":true}},"id":"d39f1d24-5211-4b84-b992-df9c5d238e8b","name":"Merge AccessToken and Data","type":"n8n-nodes-base.merge","position":[-416,144],"typeVersion":3.2},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1216,224],"id":"5debbb41-260a-45f5-99b1-0994109282da","name":"When Executed by Another Workflow"},{"parameters":{"workflowId":{"__rl":true,"value":"r8AJc4kiYEpdRkvQ","mode":"list","cachedResultUrl":"/workflow/r8AJc4kiYEpdRkvQ","cachedResultName":"Get Chat Voice"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-640,192],"id":"12ddfbcb-5937-4236-9def-615f89625e8f","name":"Call 'Processing Chat Message'"},{"parameters":{"assignments":{"assignments":[{"id":"7c1f36e0-dbbf-42f5-b71b-19bc9c688c4a","name":"prompt","value":"={{ $json.prompt }}","type":"string"},{"id":"861a4183-038e-41f0-8051-a027d4a82eeb","name":"user_id","value":"={{ $json.user_id }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[624,272],"id":"cf5046fd-2e04-490d-8d03-c6cea092d331","name":"Merge prompt"},{"parameters":{"assignments":{"assignments":[{"id":"3b32636c-762d-4e78-bd88-ffd8253987d2","name":"prompt","value":"={{ $json.attachments }}","type":"array"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-304,432],"id":"0beedfcf-ff2d-46dc-8cd2-f1de392ad965","name":"Attach to Prompt"},{"parameters":{"assignments":{"assignments":[{"id":"18cf3fac-1b06-4e52-a9b2-8bd3b64a5a30","name":"ptompt","value":"={{ $json.link_attachment }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-304,608],"id":"18598df0-3b2b-44b8-811b-0c1b9aa30a94","name":"Link Attach to prompt"},{"parameters":{"assignments":{"assignments":[{"id":"c6a31a7b-a3a5-4eec-948c-418411b47717","name":"prompt","value":"={{ $json.link_message_text }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"c3c7ff6a-a079-432b-acbb-e6a335459fb7","name":"Link Text to Prompt","type":"n8n-nodes-base.set","position":[-320,-48],"typeVersion":3.4},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1976aced-7809-4df7-91fe-fcea0e7c66ef","leftValue":"={{ $json.message_text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"c5dacedd-21f6-496b-a17c-614ea7208197","leftValue":"={{ $json.message_text }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-640,-128],"id":"fb9ed022-ba29-4b03-9221-3fde1be067fb","name":"Exists Message Text"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1976aced-7809-4df7-91fe-fcea0e7c66ef","leftValue":"={{ $json.attachments }}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-640,512],"id":"c78788df-6f9b-47ef-bc18-990e2c486a7b","name":"Exists Atachments"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{"includeUnpaired":false}},"id":"de12f7b2-e403-499c-9f61-9c1af9069621","name":"Merge Description and Json","type":"n8n-nodes-base.merge","position":[-16,224],"typeVersion":3.2},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.user_id }}"},"id":"ef3ddd33-c49a-4249-bfe5-ae79aee05975","name":"Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[864,464],"typeVersion":1.3},{"parameters":{"query":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}","options":{}},"type":"@tavily/n8n-nodes-tavily.tavilyTool","typeVersion":1,"position":[1008,464],"id":"14fb7dd1-e37b-4345-ae56-ce6a64edf56c","name":"WebSearch","credentials":{"tavilyApi":{"id":"r2nmocsnlVqVhz7g","name":"Tavily account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.user_id }}"},"id":"23a00a31-b260-427d-830c-7c74ced32484","name":"Memory1","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[1296,464],"typeVersion":1.3},{"parameters":{"query":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}","options":{}},"type":"@tavily/n8n-nodes-tavily.tavilyTool","typeVersion":1,"position":[1440,464],"id":"f1aac680-6ab3-4d96-bb08-d0a4febf96df","name":"WebSearch1","credentials":{"tavilyApi":{"id":"r2nmocsnlVqVhz7g","name":"Tavily account"}}},{"parameters":{"model":"qwen/qwen3-235b-a22b-thinking-2507","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[736,464],"id":"7cd52cbb-2ded-4a29-b2fb-fc2a877ec2f9","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"v95dk8ro9b0SGWSC","name":"OpenRouter account"}}},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}","options":{"systemMessage":"=##Role\nYou are the perfect personal assistant. You're a girl. Your name is Aikona. Your task is to be a friendly assistant and answer questions.\n\n##Parameters\nUser name: {{$json.user_name }}\n\n##Basic instructions\nAnswer only in plain text without Markdown, formatting, bullet lists, headings (#), quotation marks (``) or any HTML. Use regular sentences and paragraphs.\n\nIf the user has sent a document or an image, and it is unclear from the context what to do with this file, ask the user what needs to be done.\n\n##Tools\n**WebSearch** a tool for searching information on the Internet\n\n## Recent reminders\n- Date and time: {{$now }}"}},"id":"015a9c06-9834-43df-874b-2647e73c8be1","name":"AI OpenRouter","type":"@n8n/n8n-nodes-langchain.agent","position":[816,272],"typeVersion":3,"onError":"continueErrorOutput"},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}","options":{"systemMessage":"=##Role\nYou are the perfect personal assistant. You're a girl. Your name is Aikona. Your task is to be a friendly assistant and answer questions.\n\n##Parameters\nUser name: {{$json.user_name }}\n\n##Basic instructions\nAnswer only in plain text without Markdown, formatting, bullet lists, headings (#), quotation marks (``) or any HTML. Use regular sentences and paragraphs.\n\nIf the user has sent a document or an image, and it is unclear from the context what to do with this file, ask the user what needs to be done.\n\n##Tools\n**WebSearch** a tool for searching information on the Internet\n\n## Recent reminders\n- Date and time: {{$now }}"}},"id":"7df5964a-1369-44c0-abcb-0faf216e89bb","name":"AI Polza","type":"@n8n/n8n-nodes-langchain.agent","position":[1200,272],"typeVersion":3},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-5-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[1152,464],"id":"13a64bdb-adc2-4355-87e9-fb19e5a40853","name":"Polza.ai Chat Model","credentials":{"openAiApi":{"id":"XuZr5QFsDpxldUrH","name":"Polza.ai account"}}}],"connections":{"Get Access Token":{"main":[[{"node":"Merge AccessToken and Data","type":"main","index":0}]]},"Get Response":{"main":[[{"node":"Merge Description and Json","type":"main","index":0}]]},"Text/Attachment":{"main":[[{"node":"Exists Message Text","type":"main","index":0}],[{"node":"Get Access Token","type":"main","index":0},{"node":"Call 'Processing Chat Message'","type":"main","index":0},{"node":"Merge Description and Json","type":"main","index":1}],[{"node":"Exists Atachments","type":"main","index":0}]]},"Voice to Prompt":{"main":[[{"node":"Merge prompt","type":"main","index":0}]]},"Text to Prompt":{"main":[[{"node":"Merge prompt","type":"main","index":0}]]},"Merge AccessToken and Data":{"main":[[{"node":"Get Response","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Text/Attachment","type":"main","index":0}]]},"Call 'Processing Chat Message'":{"main":[[{"node":"Merge AccessToken and Data","type":"main","index":1}]]},"Merge prompt":{"main":[[{"node":"AI OpenRouter","type":"main","index":0}]]},"Attach to Prompt":{"main":[[{"node":"Merge prompt","type":"main","index":0}]]},"Link Attach to prompt":{"main":[[{"node":"Merge prompt","type":"main","index":0}]]},"Link Text to Prompt":{"main":[[{"node":"Merge prompt","type":"main","index":0}]]},"Exists Message Text":{"main":[[{"node":"Text to Prompt","type":"main","index":0}],[{"node":"Link Text to Prompt","type":"main","index":0}]]},"Exists Atachments":{"main":[[{"node":"Attach to Prompt","type":"main","index":0}],[{"node":"Link Attach to prompt","type":"main","index":0}]]},"Merge Description and Json":{"main":[[{"node":"Voice to Prompt","type":"main","index":0}]]},"Memory":{"ai_memory":[[{"node":"AI OpenRouter","type":"ai_memory","index":0}]]},"WebSearch":{"ai_tool":[[{"node":"AI OpenRouter","type":"ai_tool","index":0}]]},"Memory1":{"ai_memory":[[{"node":"AI Polza","type":"ai_memory","index":0}]]},"WebSearch1":{"ai_tool":[[{"node":"AI Polza","type":"ai_tool","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI OpenRouter","type":"ai_languageModel","index":0}]]},"AI OpenRouter":{"main":[[],[{"node":"AI Polza","type":"main","index":0}]]},"Polza.ai Chat Model":{"ai_languageModel":[[{"node":"AI Polza","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"messenger_type":"max","chat_id":"136679478","user_name":"Виктор","user_id":173436689,"has_text":true,"has_attachments":null,"has_voice":null,"message_text":"проверка","attachments":null,"link_attachments":null,"link_message_text":null},"pairedItem":{"item":0}}]},"versionId":"273e7279-d18a-457c-aa83-84c154fc061a","activeVersionId":"273e7279-d18a-457c-aa83-84c154fc061a","triggerCount":0,"shared":[{"updatedAt":"2026-02-11T08:12:05.187Z","createdAt":"2026-02-11T08:12:05.187Z","role":"workflow:owner","workflowId":"VmqRxUfBdXaUT6Gb_crlm","projectId":"rPoiFFCZqHU6mXAS"}],"activeVersion":{"updatedAt":"2026-02-16T18:39:05.535Z","createdAt":"2026-02-16T18:39:03.285Z","versionId":"273e7279-d18a-457c-aa83-84c154fc061a","workflowId":"VmqRxUfBdXaUT6Gb_crlm","nodes":[{"parameters":{"method":"POST","url":"https://ngw.devices.sberbank.ru:9443/api/v2/oauth","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"RqUID","value":"={{ 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) { var r = Math.random() * 16 | 0, v = c == 'x' ? r : (r & 0x3 | 0x8); return v.toString(16); }) }}"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"scope","value":"SALUTE_SPEECH_PERS"}]},"options":{"allowUnauthorizedCerts":true,"redirect":{"redirect":{}}}},"id":"28498712-5027-46ec-881d-0da94502d82b","name":"Get Access Token","type":"n8n-nodes-base.httpRequest","position":[-640,48],"typeVersion":4.3,"credentials":{"httpHeaderAuth":{"id":"yyEpB09syfwElmOQ","name":"Salute Speach API key"}}},{"parameters":{"method":"POST","url":"https://smartspeech.sber.ru/rest/v1/speech:recognize","authentication":"genericCredentialType","genericAuthType":"httpBearerAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"model","value":"=general"},{"name":"enable_profanity_filter","value":"=false"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{"allowUnauthorizedCerts":true,"redirect":{"redirect":{}}}},"id":"bb229bc9-753a-4a2a-9ea6-f29f834af866","name":"Get Response","type":"n8n-nodes-base.httpRequest","position":[-224,144],"typeVersion":4.3,"credentials":{"httpHeaderAuth":{"id":"AH81xEXK7XG4N92y","name":"Salute Speach Access token"},"httpBearerAuth":{"id":"TZ15phJOB6sbuCMV","name":"Salute Speach Brearer Token"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"10d834ee-e759-4d11-a864-4927a8b032de","operator":{"type":"boolean","operation":"true","singleValue":true},"leftValue":"={{ $json.has_text }}","rightValue":"file"}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6d6731a2-a44b-42b6-b547-35342e0fcf7a","leftValue":"={{ $json.has_voice }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"77dfa93f-2534-4c8a-85c4-4584b4349449","leftValue":"={{ $json.has_attachments === true && ($json.has_voice === false || $json.has_voice === null)}}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Attachments"}]},"options":{}},"id":"6f376df1-8573-4406-8a22-53b3b49d5275","name":"Text/Attachment","type":"n8n-nodes-base.switch","position":[-1008,208],"typeVersion":3.3},{"parameters":{"assignments":{"assignments":[{"id":"b6f3835d-b9d6-42d1-b738-74b731b29846","name":"prompt","type":"string","value":"={{ $json.result[0] }}"}]},"includeOtherFields":true,"options":{}},"id":"541396c6-9f57-4c0d-8eac-f6edea75254f","name":"Voice to Prompt","type":"n8n-nodes-base.set","position":[160,224],"typeVersion":3.4},{"parameters":{"assignments":{"assignments":[{"id":"c6a31a7b-a3a5-4eec-948c-418411b47717","name":"prompt","value":"={{ $json.message_text }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"b48bf6cf-6428-4d8d-84b7-272fb7c5d0e7","name":"Text to Prompt","type":"n8n-nodes-base.set","position":[-320,-224],"typeVersion":3.4},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{"includeUnpaired":true}},"id":"d39f1d24-5211-4b84-b992-df9c5d238e8b","name":"Merge AccessToken and Data","type":"n8n-nodes-base.merge","position":[-416,144],"typeVersion":3.2},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1216,224],"id":"5debbb41-260a-45f5-99b1-0994109282da","name":"When Executed by Another Workflow"},{"parameters":{"workflowId":{"__rl":true,"value":"r8AJc4kiYEpdRkvQ","mode":"list","cachedResultUrl":"/workflow/r8AJc4kiYEpdRkvQ","cachedResultName":"Get Chat Voice"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-640,192],"id":"12ddfbcb-5937-4236-9def-615f89625e8f","name":"Call 'Processing Chat Message'"},{"parameters":{"assignments":{"assignments":[{"id":"7c1f36e0-dbbf-42f5-b71b-19bc9c688c4a","name":"prompt","value":"={{ $json.prompt }}","type":"string"},{"id":"861a4183-038e-41f0-8051-a027d4a82eeb","name":"user_id","value":"={{ $json.user_id }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[624,272],"id":"cf5046fd-2e04-490d-8d03-c6cea092d331","name":"Merge prompt"},{"parameters":{"assignments":{"assignments":[{"id":"3b32636c-762d-4e78-bd88-ffd8253987d2","name":"prompt","value":"={{ $json.attachments }}","type":"array"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-304,432],"id":"0beedfcf-ff2d-46dc-8cd2-f1de392ad965","name":"Attach to Prompt"},{"parameters":{"assignments":{"assignments":[{"id":"18cf3fac-1b06-4e52-a9b2-8bd3b64a5a30","name":"ptompt","value":"={{ $json.link_attachment }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-304,608],"id":"18598df0-3b2b-44b8-811b-0c1b9aa30a94","name":"Link Attach to prompt"},{"parameters":{"assignments":{"assignments":[{"id":"c6a31a7b-a3a5-4eec-948c-418411b47717","name":"prompt","value":"={{ $json.link_message_text }}","type":"string"}]},"includeOtherFields":true,"options":{}},"id":"c3c7ff6a-a079-432b-acbb-e6a335459fb7","name":"Link Text to Prompt","type":"n8n-nodes-base.set","position":[-320,-48],"typeVersion":3.4},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1976aced-7809-4df7-91fe-fcea0e7c66ef","leftValue":"={{ $json.message_text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}},{"id":"c5dacedd-21f6-496b-a17c-614ea7208197","leftValue":"={{ $json.message_text }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-640,-128],"id":"fb9ed022-ba29-4b03-9221-3fde1be067fb","name":"Exists Message Text"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"1976aced-7809-4df7-91fe-fcea0e7c66ef","leftValue":"={{ $json.attachments }}","rightValue":"","operator":{"type":"array","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-640,512],"id":"c78788df-6f9b-47ef-bc18-990e2c486a7b","name":"Exists Atachments"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{"includeUnpaired":false}},"id":"de12f7b2-e403-499c-9f61-9c1af9069621","name":"Merge Description and Json","type":"n8n-nodes-base.merge","position":[-16,224],"typeVersion":3.2},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.user_id }}"},"id":"ef3ddd33-c49a-4249-bfe5-ae79aee05975","name":"Memory","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[864,464],"typeVersion":1.3},{"parameters":{"query":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}","options":{}},"type":"@tavily/n8n-nodes-tavily.tavilyTool","typeVersion":1,"position":[1008,464],"id":"14fb7dd1-e37b-4345-ae56-ce6a64edf56c","name":"WebSearch","credentials":{"tavilyApi":{"id":"r2nmocsnlVqVhz7g","name":"Tavily account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.user_id }}"},"id":"23a00a31-b260-427d-830c-7c74ced32484","name":"Memory1","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","position":[1296,464],"typeVersion":1.3},{"parameters":{"query":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}","options":{}},"type":"@tavily/n8n-nodes-tavily.tavilyTool","typeVersion":1,"position":[1440,464],"id":"f1aac680-6ab3-4d96-bb08-d0a4febf96df","name":"WebSearch1","credentials":{"tavilyApi":{"id":"r2nmocsnlVqVhz7g","name":"Tavily account"}}},{"parameters":{"model":"qwen/qwen3-235b-a22b-thinking-2507","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[736,464],"id":"7cd52cbb-2ded-4a29-b2fb-fc2a877ec2f9","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"v95dk8ro9b0SGWSC","name":"OpenRouter account"}}},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}","options":{"systemMessage":"=##Role\nYou are the perfect personal assistant. You're a girl. Your name is Aikona. Your task is to be a friendly assistant and answer questions.\n\n##Parameters\nUser name: {{$json.user_name }}\n\n##Basic instructions\nAnswer only in plain text without Markdown, formatting, bullet lists, headings (#), quotation marks (``) or any HTML. Use regular sentences and paragraphs.\n\nIf the user has sent a document or an image, and it is unclear from the context what to do with this file, ask the user what needs to be done.\n\n##Tools\n**WebSearch** a tool for searching information on the Internet\n\n## Recent reminders\n- Date and time: {{$now }}"}},"id":"015a9c06-9834-43df-874b-2647e73c8be1","name":"AI OpenRouter","type":"@n8n/n8n-nodes-langchain.agent","position":[816,272],"typeVersion":3,"onError":"continueErrorOutput"},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}","options":{"systemMessage":"=##Role\nYou are the perfect personal assistant. You're a girl. Your name is Aikona. Your task is to be a friendly assistant and answer questions.\n\n##Parameters\nUser name: {{$json.user_name }}\n\n##Basic instructions\nAnswer only in plain text without Markdown, formatting, bullet lists, headings (#), quotation marks (``) or any HTML. Use regular sentences and paragraphs.\n\nIf the user has sent a document or an image, and it is unclear from the context what to do with this file, ask the user what needs to be done.\n\n##Tools\n**WebSearch** a tool for searching information on the Internet\n\n## Recent reminders\n- Date and time: {{$now }}"}},"id":"7df5964a-1369-44c0-abcb-0faf216e89bb","name":"AI Polza","type":"@n8n/n8n-nodes-langchain.agent","position":[1200,272],"typeVersion":3},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-5-mini"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[1152,464],"id":"13a64bdb-adc2-4355-87e9-fb19e5a40853","name":"Polza.ai Chat Model","credentials":{"openAiApi":{"id":"XuZr5QFsDpxldUrH","name":"Polza.ai account"}}}],"connections":{"Get Access Token":{"main":[[{"node":"Merge AccessToken and Data","type":"main","index":0}]]},"Get Response":{"main":[[{"node":"Merge Description and Json","type":"main","index":0}]]},"Text/Attachment":{"main":[[{"node":"Exists Message Text","type":"main","index":0}],[{"node":"Get Access Token","type":"main","index":0},{"node":"Call 'Processing Chat Message'","type":"main","index":0},{"node":"Merge Description and Json","type":"main","index":1}],[{"node":"Exists Atachments","type":"main","index":0}]]},"Voice to Prompt":{"main":[[{"node":"Merge prompt","type":"main","index":0}]]},"Text to Prompt":{"main":[[{"node":"Merge prompt","type":"main","index":0}]]},"Merge AccessToken and Data":{"main":[[{"node":"Get Response","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Text/Attachment","type":"main","index":0}]]},"Call 'Processing Chat Message'":{"main":[[{"node":"Merge AccessToken and Data","type":"main","index":1}]]},"Merge prompt":{"main":[[{"node":"AI OpenRouter","type":"main","index":0}]]},"Attach to Prompt":{"main":[[{"node":"Merge prompt","type":"main","index":0}]]},"Link Attach to prompt":{"main":[[{"node":"Merge prompt","type":"main","index":0}]]},"Link Text to Prompt":{"main":[[{"node":"Merge prompt","type":"main","index":0}]]},"Exists Message Text":{"main":[[{"node":"Text to Prompt","type":"main","index":0}],[{"node":"Link Text to Prompt","type":"main","index":0}]]},"Exists Atachments":{"main":[[{"node":"Attach to Prompt","type":"main","index":0}],[{"node":"Link Attach to prompt","type":"main","index":0}]]},"Merge Description and Json":{"main":[[{"node":"Voice to Prompt","type":"main","index":0}]]},"Memory":{"ai_memory":[[{"node":"AI OpenRouter","type":"ai_memory","index":0}]]},"WebSearch":{"ai_tool":[[{"node":"AI OpenRouter","type":"ai_tool","index":0}]]},"Memory1":{"ai_memory":[[{"node":"AI Polza","type":"ai_memory","index":0}]]},"WebSearch1":{"ai_tool":[[{"node":"AI Polza","type":"ai_tool","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI OpenRouter","type":"ai_languageModel","index":0}]]},"AI OpenRouter":{"main":[[],[{"node":"AI Polza","type":"main","index":0}]]},"Polza.ai Chat Model":{"ai_languageModel":[[{"node":"AI Polza","type":"ai_languageModel","index":0}]]}},"authors":"AIKona me","name":"Version 273e7279","description":"","autosaved":true},"tags":[]}