Telegram Assistent DEMO.json
{"updatedAt":"2026-02-11T14:52:50.116Z","createdAt":"2026-02-11T14:41:03.919Z","id":"ZDj6ebILM1BCm9Bj","name":"Telegram Assistent DEMO","active":true,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-1376,-592],"id":"3ceafe36-1827-46a4-9fe2-0a88c288073a","name":"Telegram Trigger","webhookId":"ccba00d4-ffee-4597-9f6c-c1f93cb6d0b2","credentials":{"telegramApi":{"id":"Mbdkc2ku7akrOdGS","name":"Telegram Demo Bot account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-608,-608],"id":"21fd6471-4fc0-41b7-ad18-07f242ed31a8","name":"Telegram Answer","webhookId":"f1010de9-f4b1-482d-a0f9-bd0a63cc9cc2","credentials":{"telegramApi":{"id":"Mbdkc2ku7akrOdGS","name":"Telegram Demo Bot account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"30b4a241-83e0-46ac-80c5-3908604b8355","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.user_id }}","rightValue":"=50488534"}],"combinator":"and"},"looseTypeValidation":true,"options":{"ignoreCase":true}},"id":"8e605048-42ec-4e20-a0ea-56d8214c4f64","name":"Check User","type":"n8n-nodes-base.if","position":[-1008,-592],"typeVersion":2.2},{"parameters":{"assignments":{"assignments":[{"id":"3c767c3e-f1e7-4dd9-95aa-b1913c7334b3","name":"messenger_type","value":"telegram","type":"string"},{"id":"8448f3e4-89e6-43cf-a9b5-1e3ef908d839","name":"chat_id","value":"={{ $json.message.chat.id }}","type":"string"},{"id":"0c755979-cdd0-4abe-8575-954c17c6010f","name":"user_name","value":"={{ $json.message.from.username }}","type":"string"},{"id":"e5cc0585-1f18-424d-98f1-5292e67a0309","name":"user_id","value":"={{ $json.message.from.id }}","type":"number"},{"id":"8bd654b2-a26c-47cf-80d1-713d90dfbba9","name":"has_text","value":"={{ ($json.message.text != null && $json.message.text != '') }}","type":"boolean"},{"id":"21632d8a-d3a8-4ae0-9347-7e8368e825d1","name":"has_attachments","value":"={{ $json.message.photo != null }}","type":"boolean"},{"id":"21037b4d-203b-4a53-b8b0-f38c902511f1","name":"has_voice","value":"={{ ($json.message.voice != null && $json.message.voice.mime_type === 'audio/ogg') }}","type":"boolean"},{"id":"d7a43671-3b71-484d-a812-b8a624f4d515","name":"message_text","value":"={{ $json.message.text }}","type":"string"},{"id":"ad3e2fe2-dda8-45ae-bb1f-86fc45adfdd9","name":"attachments","value":"={{ $json.message.photo && $json.message.photo.length\n\t? $json.message.photo \n    : [$json.message.voice] }}","type":"array"},{"id":"5f403beb-f79a-4791-943f-a22923f58171","name":"link_attachments","value":"={{ [] }}","type":"array"},{"id":"1af3b882-9343-4b75-a426-bf101b8d4df6","name":"link_message_text","value":"=","type":"string"}]},"includeOtherFields":true,"include":"selected","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1184,-592],"id":"4ca5a2d1-3128-48f2-b499-ecdf1b083e47","name":"Edit Fields"},{"parameters":{"workflowId":{"__rl":true,"value":"Nls4ZawKhSxNpSoe","mode":"list","cachedResultUrl":"/workflow/Nls4ZawKhSxNpSoe","cachedResultName":"Processing Chat Message DEMO"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-784,-608],"id":"1a38d6d3-b8d5-41a2-915e-730575da25b5","name":"Call 'Processing Chat Message DEMO'"}],"connections":{"Telegram Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Telegram Answer":{"main":[[]]},"Check User":{"main":[[{"node":"Call 'Processing Chat Message DEMO'","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Check User","type":"main","index":0}]]},"Call 'Processing Chat Message DEMO'":{"main":[[{"node":"Telegram Answer","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b882cd0b-b110-47e2-aa8d-c2ac5254964d","activeVersionId":"b882cd0b-b110-47e2-aa8d-c2ac5254964d","triggerCount":1,"shared":[{"updatedAt":"2026-02-11T14:41:03.919Z","createdAt":"2026-02-11T14:41:03.919Z","role":"workflow:owner","workflowId":"ZDj6ebILM1BCm9Bj","projectId":"rPoiFFCZqHU6mXAS"}],"activeVersion":{"updatedAt":"2026-02-11T14:54:30.526Z","createdAt":"2026-02-11T14:52:50.118Z","versionId":"b882cd0b-b110-47e2-aa8d-c2ac5254964d","workflowId":"ZDj6ebILM1BCm9Bj","nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-1376,-592],"id":"3ceafe36-1827-46a4-9fe2-0a88c288073a","name":"Telegram Trigger","webhookId":"ccba00d4-ffee-4597-9f6c-c1f93cb6d0b2","credentials":{"telegramApi":{"id":"Mbdkc2ku7akrOdGS","name":"Telegram Demo Bot account"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false,"parse_mode":"HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-608,-608],"id":"21fd6471-4fc0-41b7-ad18-07f242ed31a8","name":"Telegram Answer","webhookId":"f1010de9-f4b1-482d-a0f9-bd0a63cc9cc2","credentials":{"telegramApi":{"id":"Mbdkc2ku7akrOdGS","name":"Telegram Demo Bot account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"30b4a241-83e0-46ac-80c5-3908604b8355","operator":{"type":"string","operation":"notEmpty","singleValue":true},"leftValue":"={{ $json.user_id }}","rightValue":"=50488534"}],"combinator":"and"},"looseTypeValidation":true,"options":{"ignoreCase":true}},"id":"8e605048-42ec-4e20-a0ea-56d8214c4f64","name":"Check User","type":"n8n-nodes-base.if","position":[-1008,-592],"typeVersion":2.2},{"parameters":{"assignments":{"assignments":[{"id":"3c767c3e-f1e7-4dd9-95aa-b1913c7334b3","name":"messenger_type","value":"telegram","type":"string"},{"id":"8448f3e4-89e6-43cf-a9b5-1e3ef908d839","name":"chat_id","value":"={{ $json.message.chat.id }}","type":"string"},{"id":"0c755979-cdd0-4abe-8575-954c17c6010f","name":"user_name","value":"={{ $json.message.from.username }}","type":"string"},{"id":"e5cc0585-1f18-424d-98f1-5292e67a0309","name":"user_id","value":"={{ $json.message.from.id }}","type":"number"},{"id":"8bd654b2-a26c-47cf-80d1-713d90dfbba9","name":"has_text","value":"={{ ($json.message.text != null && $json.message.text != '') }}","type":"boolean"},{"id":"21632d8a-d3a8-4ae0-9347-7e8368e825d1","name":"has_attachments","value":"={{ $json.message.photo != null }}","type":"boolean"},{"id":"21037b4d-203b-4a53-b8b0-f38c902511f1","name":"has_voice","value":"={{ ($json.message.voice != null && $json.message.voice.mime_type === 'audio/ogg') }}","type":"boolean"},{"id":"d7a43671-3b71-484d-a812-b8a624f4d515","name":"message_text","value":"={{ $json.message.text }}","type":"string"},{"id":"ad3e2fe2-dda8-45ae-bb1f-86fc45adfdd9","name":"attachments","value":"={{ $json.message.photo && $json.message.photo.length\n\t? $json.message.photo \n    : [$json.message.voice] }}","type":"array"},{"id":"5f403beb-f79a-4791-943f-a22923f58171","name":"link_attachments","value":"={{ [] }}","type":"array"},{"id":"1af3b882-9343-4b75-a426-bf101b8d4df6","name":"link_message_text","value":"=","type":"string"}]},"includeOtherFields":true,"include":"selected","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1184,-592],"id":"4ca5a2d1-3128-48f2-b499-ecdf1b083e47","name":"Edit Fields"},{"parameters":{"workflowId":{"__rl":true,"value":"Nls4ZawKhSxNpSoe","mode":"list","cachedResultUrl":"/workflow/Nls4ZawKhSxNpSoe","cachedResultName":"Processing Chat Message DEMO"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-784,-608],"id":"1a38d6d3-b8d5-41a2-915e-730575da25b5","name":"Call 'Processing Chat Message DEMO'"}],"connections":{"Telegram Trigger":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Telegram Answer":{"main":[[]]},"Check User":{"main":[[{"node":"Call 'Processing Chat Message DEMO'","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Check User","type":"main","index":0}]]},"Call 'Processing Chat Message DEMO'":{"main":[[{"node":"Telegram Answer","type":"main","index":0}]]}},"authors":"AIKona me","name":"Version b882cd0b","description":"","autosaved":true},"tags":[]}